@import '../../styles/variables';
@import '../../styles/mixins';
@import '../DONavigation/_DONavigationVariables';

/* Header styles */

:global {
  .od-Header {
    background-color: $ms-color-black;
    height: $od-Header-height;
    left: 0;
    padding: 0 8px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 600;

    @include high-contrast {
      border: 1px solid WindowText;
      border-top: 0;
    }
  }

  .od-Header-banner {
    height: $od-Header-height;
    position: relative;
    width: 100%;

    @media (min-width: $od-Header-bannerWidth) {
      width: $od-Header-bannerWidth;
      margin: auto;
    }
  }

  @media (min-width: $od-Header-bannerWidth) {
    .od-Header-logo {
      @include ms-padding-left(8px);
    }
  }

  .od-Header-searchContainer {
    position: absolute;
    right: 0;
    top: 8px;
    width: 330px;
    height: $od-Header-searchHeight;
    display: none;

    @media screen and (min-width: $ms-screen-min-xxl) {
      display: block;
    }
  }

  .od-Header-navigationContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: $od-Header-height;
    background-color: $ms-color-black;
    display: none;
    padding-bottom: 1px;
    box-sizing: content-box;

    &.is-open {
      display: block;
    }

    @include high-contrast {
      border: 1px solid WindowText;
      border-top: 0;
    }
  }

  .od-Header-hamburgerButton {
    position: absolute;
    right: 14px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: $ms-color-white;
    cursor: pointer;
    outline: none;
    text-align: center;
    display: none;

    &:focus {
      box-shadow: inset 0px 0px 0px 1px $ms-color-white;

      @include high-contrast {
        box-shadow: inset 0px 0px 0px 1px WindowText;
      }

      @include high-contrast-black-on-white  {
        box-shadow: inset 0px 0px 0px 1px Highlight;
      }
    }
  }

  @media (min-width: $od-Header-bannerWidth) {
    .docs-showNavigation {
      display: block;
    }
  }
}
