@import '../../common/common';

.root {
  @include ms-font-m;
  color: $ms-color-neutralPrimary;
  position: relative;
  display: flex;
  background-color: $ms-color-neutralLighter;
  white-space: nowrap;
  user-select: none;
  .overflowButton {
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
  }
}

.primarySet {
  flex-grow: 1;
}
