@import '../../common/common';

$Rating-defaultColor: $ms-color-neutralTertiary;
$Rating-selectedColor: $ms-color-black;
$Rating-hoverColor: $ms-color-themeDarkAlt;
$Rating-disabledColor: $ms-color-neutralTertiaryAlt;

$Rating-smallIconSize: 16px;
$Rating-largeIconSize: 20px;

// Hide input field
.input {
  position: absolute;
  opacity: 0;
  top: 0px;
}

.container {
  position: relative;
  display: inline-block;

  &:hover {
    .star:not(.starIsDisabled) {
      color: $Rating-selectedColor;

      &.star:hover {
        color: $Rating-hoverColor;

        & ~ .star {
          // Set default color for any star after hovered one
          color: $Rating-defaultColor;
        }
      }
    }
  }

  .star {
    display: inline-block;

    text-align: center;

    color: $Rating-defaultColor;

    &.starIsSelected {
      color: $Rating-selectedColor;
    }

    &.starIsDisabled {
      color: $Rating-disabledColor;

      .label {
        cursor: default;
      }
    }

    .label {
      display: inline-block;
      cursor: pointer;

      font-size: $Rating-smallIconSize;
      padding: 12px 0px;

      // Reserve space for focus styling
      border: 1px solid transparent;
    }
  }

  .rootIsLarge & {
    .label {
      font-size: $Rating-largeIconSize;
      padding: 6px 2px 9px 2px;
    }
  }
}

.labelText {
  @include ms-screenReaderOnly();
}

// Highlight focused star
:global(.ms-Fabric.is-focusVisible) .starIsInFocus .label {
  border: 1px solid $focusedBorderColor;
}
