@import '../../common/common';

$Rating-defaultColor: $ms-color-neutralTertiary;
$Rating-selectedColor: $ms-color-black;
$Rating-hoverColor: $ms-color-themeDarkAlt;
$Rating-disabledColor: $ms-color-neutralTertiaryAlt;

$Rating-smallIconSize: 16px;
$Rating-largeIconSize: 20px;

.ratingStar {
  display: inline-block;
  position: relative;
}

.ratingStarBack {
  color: $Rating-defaultColor;
  width: 100%;

  &.ratingStarDisabled {
    color: $Rating-disabledColor;
    @include high-contrast {
      color: GrayText;
    }
  }
}

.ratingStarFront {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  color: $Rating-selectedColor;
  @include high-contrast {
    color: Highlight;
  }
}

.ratingButton {
  background: none;
  margin: 0;
  padding: 3px 3px 0px 0px;
  border: none;
}

.rootIsSmall  {
    font-size: $Rating-smallIconSize;
    line-height: $Rating-smallIconSize;
  }

.rootIsLarge  {
    font-size: $Rating-largeIconSize;
    line-height: $Rating-largeIconSize;
}

.labelText {
  @include ms-screenReaderOnly();
}

.ratingFocusZone {
  display: inline-block
}