@import '../../../common/common';

.content {
  background-color: $ms-color-themePrimary;
  color: $ms-color-white;
  line-height: 50px;
  padding: 0 20px;
  display: flex;
}

.textContent {
  flex-grow: 1;
}

.nonLayered {
  background-color: $ms-color-neutralTertiaryAlt;
  line-height: 50px;
  padding: 0 20px;
  margin: 8px 0;
}

.customHost {
  &:global(.ms-LayerHost) {
    height: 100px;
    padding: 20px;
    background: rgba(255, 0, 0, 0.2);
    border: 1px dashed black;
    position: relative;
  }

  &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: 'I am a LayerHost with id=layerhost1';
  }
}
