@import '../../common/common';

.ms-Image {
  overflow: hidden;
}

// Modifier: The image frame should fill its parent element.
.ms-Image--maximizeFrame {
  height: 100%;
  width: 100%;
}

.ms-Image-image {
  display: block;
  opacity: 0;

  &.is-loaded {
    opacity: 1;
  }
}

.ms-Image-image--center,
.ms-Image-image--contain,
.ms-Image-image--cover {
  position: relative;
  @include left(50%);
  top: 50%;
  // transform-translateX mixin is not used here because a transateY is also required.
  @include LTR {
    transform: translate(-50%,-50%);
  }
  @include RTL {
    transform: translate(50%,-50%);
  }
}

.ms-Image-image--contain {
  &.ms-Image-image--landscape {
    width: 100%;
    height: auto;
  }

  &.ms-Image-image--portrait {
    height: 100%;
    width: auto;
  }
}

.ms-Image-image--cover {
  &.ms-Image-image--landscape {
    height: 100%;
    width: auto;
  }

  &.ms-Image-image--portrait {
    width: 100%;
    height: auto;
  }
}

.ms-Image-image--none {
  height: auto;
  width: auto;
}

/** This is identical to the default behavior. */
.ms-Image-image--scaleWidthHeight {
  height: 100%;
  width: 100%;
}

.ms-Image-image--scaleWidth {
  height: auto;
  width: 100%;
}

.ms-Image-image--scaleHeight {
  height: 100%;
  width: auto;
}
