@import '../../common/common';

.root {
  overflow: hidden;
}

// Modifier: The image frame should fill its parent element.
.rootIsMaximizeFrame {
  height: 100%;
  width: 100%;
}

.image {
  display: block;
  opacity: 0;

  &.imageIsLoaded {
    opacity: 1;
  }
}

.imageIsCenter,
.imageIsContain,
.imageIsCover {
  position: relative;
  @include ms-left(50%);
  top: 50%;
  // transform-translateX mixin is not used here because a transateY is also required.
  @include LTR {
    transform: translate(-50%,-50%);
  }
  @include RTL {
    transform: translate(50%,-50%);
  }
}

.imageIsContain {
  &.imageIsLandscape {
    width: 100%;
    height: auto;
  }

  &.imageIsPortrait {
    height: 100%;
    width: auto;
  }
}

.imageIsCover {
  &.imageIsLandscape {
    height: 100%;
    width: auto;
  }

  &.imageIsPortrait {
    width: 100%;
    height: auto;
  }
}

.imageIsNone {
  height: auto;
  width: auto;
}

/** This is identical to the default behavior. */
.imageIsScaleWidthHeight {
  height: 100%;
  width: 100%;
}

.imageIsScaleWidth {
  height: auto;
  width: 100%;
}

.imageIsScaleHeight {
  height: 100%;
  width: auto;
}