@import '../../../../common/common';

.ms-CalloutExample-callout {
    max-width: 300px;
}

.ms-CalloutExample-configArea {
  min-width: 300px;
  display: inline-block;
}

.ms-CalloutExample-buttonArea {
  vertical-align: top;
  display: inline-block;
  min-width: 130px;
  margin: 0 100px;
  text-align: center;
  height: 32px;
}

.ms-CalloutCoverExample-buttonArea {
  vertical-align: top;
  display: inline-block;
  margin: 0 100px;
  text-align: center;
  min-width: 130px;
}

.ms-CalloutCoverExample-buttonArea > .ms-Button {
  text-align: center;
  height: 31px;
  width: 130px;
}

.ms-CalloutBasicExample-buttonArea {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.ms-CalloutExample-title {
  font-size: x-large;
}

.ms-CalloutExample-cmdBarHost {
  width: 350px;
  padding: 10px;
}

.ms-CalloutExample-inner {
  height: 100%;
  padding: 0 24px 20px;
}

.ms-CalloutExample-header {
  padding: 18px 24px 12px;
}

.ms-CalloutExample-title {
  margin: 0;
  @include ms-font-xl;
  color: $ms-color-neutralPrimary;
  font-weight: $ms-font-weight-semilight;
}

.ms-CalloutExample-subText {
  margin: 0;
  @include ms-font-s;
  color: $ms-color-neutralPrimary;
  font-weight: $ms-font-weight-semilight;
}

.ms-CalloutExample-link {
  @include ms-font-m;
  color: $ms-color-neutralPrimary;
}

.ms-CalloutExample-actions {
  position: relative;
  margin-top: 20px;
  width: 100%;
  white-space: nowrap;
}
