@import '../../common/common';
@import '../../common/semanticSlots';

.pickerText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $ms-color-neutralTertiary;
  min-width: 180px;
  min-height: 30px;
  &:hover {
    border-color: $inputBorderHoveredColor;
  }

  &.inputFocused {
    border-color: $inputFocusBorderAltColor;
  }
}

.pickerInput {
  height: 34px;
  border: none;
  flex-grow: 1;
  outline: none;
  padding: 0 6px 0px;
  align-self: flex-end;
}

.pickerItems {
  display: flex;
  flex-wrap: wrap;
}

.screenReaderOnly {
  @include ms-screenReaderOnly;
}
