.FocusList {
  list-style: none;
  margin: 0;
  padding: 0;

  > * {
    margin: 0 0 5px;
  }
}

.FocusListRow {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.FocusListButton-content {
  display: table-cell;
  width: 100%;
}
