@import '../../common/common';

.ms-DocumentCard {
  -webkit-font-smoothing: antialiased;
  background-color: $ms-color-white;
  border: 1px solid $ms-color-neutralLight;
  box-sizing: border-box;
  max-width: 320px;
  min-width: 206px;
  user-select: none;
  position: relative;
}

.ms-DocumentCard--actionable:hover {
  cursor: pointer;
  border-color: $ms-color-neutralTertiaryAlt;

  // Place a heavier border within the document card
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $ms-color-neutralTertiaryAlt;
    pointer-events: none;
  }
}

// When a DocumentCardTitle follows a DocumentCardLocation, we want to reduce the padding
.ms-DocumentCardLocation + .ms-DocumentCardTitle {
  padding-top: 4px;
}

// Modifier: Compact layout
.ms-DocumentCard--compact {
  border-bottom: 2px solid $ms-color-neutralTertiary; // Default border color
  display: flex;
  max-width: 480px;
  height: 109px;

  // Remove the usual accent color from the preview
  .ms-DocumentCardPreview {
    border-bottom: none;
    max-height: 106px;
    max-width: 144px;

    .ms-DocumentCardPreview-icon {
      .ms-Image-image {
        max-height: 32px;
        max-width: 32px;
      }
    }
  }

  .ms-DocumentCardPreview.is-fileList {
    @include border-right(1px, solid, $ms-color-neutralLight);
  }

  .ms-DocumentCardPreview-fileList {
    li {
      @include padding-left(24px); // Make room for icon
    }
  }

  // Expand the details area to fill the remaining width
  .ms-DocumentCard-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 12px 0;
  }

  .ms-DocumentCardTitle {
      padding: 0px 12px 8px 12px;
      @include ms-font-m;
      line-height: 16px;
  }
}
