@import '../../common/common';

.ms-DocumentCardLocation {
  color: $ms-color-neutralSecondaryAlt;
  display: block;
  font-family: $ms-font-family-regular;
  font-size: $ms-font-size-s;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;

  &:hover {
    color: #2a8dd4;
    cursor: pointer;
  }
}
