@import '../../common/common';

.ms-DocumentCardTitle {
  padding: 8px 16px;
  display: block;
  @include ms-font-l;
  height: 36px; // Two lines of text, making sure the third line is hidden
  line-height: 20px;
  overflow: hidden;
  word-wrap: break-word;
}
