@import '../../common';

.ms-DocumentCard-entity {
  align-items: center;
  display: flex;
  padding: 8px 16px;
}

.ms-DocumentCard-entity-image {
  @include margin-left(-2px); // Circle sits outside of the usual padding for visual balance
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.ms-DocumentCard-entity-details {
  @include margin-left(8px);
}

.ms-DocumentCard-entity-detail {
  color: $ms-color-neutralSecondaryAlt;
  display: block;
  font-family: $ms-font-family-regular;
  font-size: $ms-font-size-s;
  line-height: 14px;
}

.ms-DocumentCard-entity-detail--bold {
  color: $ms-color-neutralPrimary;
  font-family: $ms-font-family-semibold;
}
