@import '../../common/common';

$ms-DocumentCardActions-actionSize: 34px;
$ms-DocumentCardActions-horizontalPadding: 12px;
$ms-DocumentCardActions-verticalPadding: 4px;

.ms-DocumentCardActions {
  height: $ms-DocumentCardActions-actionSize;
  padding: $ms-DocumentCardActions-verticalPadding $ms-DocumentCardActions-horizontalPadding;
  position: relative;
}

.ms-DocumentCardActions-actions {
  @include left($ms-DocumentCardActions-horizontalPadding);
  position: absolute;
  top: $ms-DocumentCardActions-verticalPadding;
}

.ms-DocumentCardActions-action {
  @include float(left);
  @include margin-right(4px);
  color: $ms-color-neutralSecondary;
  cursor: pointer;

  .ms-Button {
    font-size: 16px;
    height: $ms-DocumentCardActions-actionSize;
    width: $ms-DocumentCardActions-actionSize;
  }

  .ms-Button:hover .ms-Button-icon {
    color: #1174c3;
    cursor: pointer;
  }
}

.ms-DocumentCardActions-views {
  @include text-align(right);
  line-height: $ms-DocumentCardActions-actionSize;

  .ms-Icon {
    @include margin-right(4px);
    font-size: 16px;
  }
}
