@import '../../common/common';

$ms-DocumentCardActivity-horizontalPadding: 16px;
$ms-DocumentCardActivity-imageSize: 25px;
$ms-DocumentCardActivity-verticalPadding: 8px;
$ms-DocumentCardActivity-personaTextGutter: 8px;

.ms-DocumentCardActivity {
  padding: $ms-DocumentCardActivity-verticalPadding $ms-DocumentCardActivity-horizontalPadding;
  position: relative;
}

.ms-DocumentCardActivity--multiplePeople {
  .ms-DocumentCardActivity-avatar:nth-of-type(2) {
    @include margin-left(-16px);
  }

  .ms-DocumentCardActivity-details {
    @include left($ms-DocumentCardActivity-horizontalPadding + ($ms-DocumentCardActivity-imageSize * 1.5) + $ms-DocumentCardActivity-personaTextGutter);
  }
}

.ms-DocumentCardActivity-avatars {
  @include margin-left(-2px); // Avatars sit outside of the usual padding for visual balance
}

.ms-DocumentCardActivity-avatar {
  border: 2px solid #fafafa; // Match the background of the card
  border-radius: 50%;
  height: $ms-DocumentCardActivity-imageSize;
  width: $ms-DocumentCardActivity-imageSize;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;

  .ms-Persona-initials {
    height: $ms-DocumentCardActivity-imageSize;
    line-height: $ms-DocumentCardActivity-imageSize;
    font-size: $ms-font-size-s;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.ms-DocumentCardActivity-details {
  @include left($ms-DocumentCardActivity-horizontalPadding + $ms-DocumentCardActivity-imageSize + $ms-DocumentCardActivity-personaTextGutter);
  height: $ms-DocumentCardActivity-imageSize;
  position: absolute;
  top: $ms-DocumentCardActivity-verticalPadding;
  width: calc(100% - #{$ms-DocumentCardActivity-horizontalPadding + $ms-DocumentCardActivity-imageSize + $ms-DocumentCardActivity-personaTextGutter + $ms-DocumentCardActivity-horizontalPadding});
}

.ms-DocumentCardActivity-name,
.ms-DocumentCardActivity-activity {
  display: block;
  @include ms-font-s;
  color: $ms-color-neutralPrimary;
  line-height: 14px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ms-DocumentCardActivity-name {
  color: $ms-color-neutralPrimary;
  @include ms-fontWeight-semibold;
}
