@font-face {
  font-family: 'FabricMDL2IconSet-1';
  src: url('fabric-icons-1.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2IconSet-1';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

// Mixins
@mixin ms-Icon--Highlight { content: "\E7E6"; }
@mixin ms-Icon--Tab { content: "\E7E9"; }
@mixin ms-Icon--Admin { content: "\E7EF"; }
@mixin ms-Icon--TVMonitor { content: "\E7F4"; }
@mixin ms-Icon--Speakers { content: "\E7F5"; }
@mixin ms-Icon--Nav2DMapView { content: "\E800"; }
@mixin ms-Icon--Car { content: "\E804"; }
@mixin ms-Icon--Bus { content: "\E806"; }
@mixin ms-Icon--EatDrink { content: "\E807"; }
@mixin ms-Icon--LocationCircle { content: "\E80E"; }
@mixin ms-Icon--Home { content: "\E80F"; }
@mixin ms-Icon--SwitcherStartEnd { content: "\E810"; }
@mixin ms-Icon--ParkingLocation { content: "\E811"; }
@mixin ms-Icon--IncidentTriangle { content: "\E814"; }
@mixin ms-Icon--Touch { content: "\E815"; }
@mixin ms-Icon--MapDirections { content: "\E816"; }
@mixin ms-Icon--History { content: "\E81C"; }
@mixin ms-Icon--Location { content: "\E81D"; }
@mixin ms-Icon--Work { content: "\E821"; }
@mixin ms-Icon--Recent { content: "\E823"; }
@mixin ms-Icon--Hotel { content: "\E824"; }
@mixin ms-Icon--LocationDot { content: "\E827"; }
@mixin ms-Icon--News { content: "\E900"; }
@mixin ms-Icon--Chat { content: "\E901"; }
@mixin ms-Icon--Group { content: "\E902"; }
@mixin ms-Icon--Previous { content: "\E892"; }
@mixin ms-Icon--Next { content: "\E893"; }
@mixin ms-Icon--Sync { content: "\E895"; }
@mixin ms-Icon--Help { content: "\E897"; }
@mixin ms-Icon--Emoji { content: "\E899"; }
@mixin ms-Icon--MailForward { content: "\E89C"; }
@mixin ms-Icon--ClosePane { content: "\E89F"; }
@mixin ms-Icon--OpenPane { content: "\E8A0"; }
@mixin ms-Icon--PreviewLink { content: "\E8A1"; }
@mixin ms-Icon--ZoomIn { content: "\E8A3"; }
@mixin ms-Icon--Bookmarks { content: "\E8A4"; }
@mixin ms-Icon--Document { content: "\E8A5"; }
@mixin ms-Icon--ProtectedDocument { content: "\E8A6"; }
@mixin ms-Icon--OpenInNewWindow { content: "\E8A7"; }
@mixin ms-Icon--MailFill { content: "\E8A8"; }
@mixin ms-Icon--ViewAll { content: "\E8A9"; }
@mixin ms-Icon--Switch { content: "\E8AB"; }
@mixin ms-Icon--Rename { content: "\E8AC"; }
@mixin ms-Icon--Import { content: "\E8B5"; }
@mixin ms-Icon--Folder { content: "\E8B7"; }
@mixin ms-Icon--Picture { content: "\E8B9"; }
@mixin ms-Icon--ShowResults { content: "\E8BC"; }
@mixin ms-Icon--Message { content: "\E8BD"; }
@mixin ms-Icon--CalendarDay { content: "\E8BF"; }
@mixin ms-Icon--CalendarWeek { content: "\E8C0"; }
@mixin ms-Icon--MailReplyAll { content: "\E8C2"; }
@mixin ms-Icon--Read { content: "\E8C3"; }
@mixin ms-Icon--Cut { content: "\E8C6"; }
@mixin ms-Icon--PaymentCard { content: "\E8C7"; }
@mixin ms-Icon--Copy { content: "\E8C8"; }
@mixin ms-Icon--Important { content: "\E8C9"; }
@mixin ms-Icon--MailReply { content: "\E8CA"; }
@mixin ms-Icon--GotoToday { content: "\E8D1"; }
@mixin ms-Icon--Font { content: "\E8D2"; }
@mixin ms-Icon--FontColor { content: "\E8D3"; }
@mixin ms-Icon--FolderFill { content: "\E8D5"; }
@mixin ms-Icon--Permissions { content: "\E8D7"; }
@mixin ms-Icon--DisableUpdates { content: "\E8D8"; }
@mixin ms-Icon--Unfavorite { content: "\E8D9"; }
@mixin ms-Icon--Italic { content: "\E8DB"; }
@mixin ms-Icon--Underline { content: "\E8DC"; }
@mixin ms-Icon--Bold { content: "\E8DD"; }
@mixin ms-Icon--MoveToFolder { content: "\E8DE"; }
@mixin ms-Icon--Dislike { content: "\E8E0"; }
@mixin ms-Icon--Like { content: "\E8E1"; }
@mixin ms-Icon--AlignRight { content: "\E8E2"; }
@mixin ms-Icon--AlignCenter { content: "\E8E3"; }
@mixin ms-Icon--AlignLeft { content: "\E8E4"; }
@mixin ms-Icon--OpenFile { content: "\E8E5"; }
@mixin ms-Icon--FontDecrease { content: "\E8E7"; }
@mixin ms-Icon--FontIncrease { content: "\E8E8"; }
@mixin ms-Icon--FontSize { content: "\E8E9"; }
@mixin ms-Icon--CellPhone { content: "\E8EA"; }
@mixin ms-Icon--Library { content: "\E8F1"; }
@mixin ms-Icon--PostUpdate { content: "\E8F3"; }
@mixin ms-Icon--NewFolder { content: "\E8F4"; }
@mixin ms-Icon--CalendarReply { content: "\E8F5"; }
@mixin ms-Icon--UnsyncFolder { content: "\E8F6"; }
@mixin ms-Icon--SyncFolder { content: "\E8F7"; }
@mixin ms-Icon--BlockContact { content: "\E8F8"; }
@mixin ms-Icon--BulletedList { content: "\E8FD"; }
@mixin ms-Icon--Preview { content: "\E8FF"; }
@mixin ms-Icon--World { content: "\E909"; }
@mixin ms-Icon--Comment { content: "\E90A"; }
@mixin ms-Icon--DockLeft { content: "\E90C"; }
@mixin ms-Icon--DockRight { content: "\E90D"; }
@mixin ms-Icon--Repair { content: "\E90F"; }
@mixin ms-Icon--Accounts { content: "\E910"; }
@mixin ms-Icon--RadioBullet { content: "\E915"; }
@mixin ms-Icon--Stopwatch { content: "\E916"; }
@mixin ms-Icon--Clock { content: "\E917"; }
@mixin ms-Icon--WorldClock { content: "\E918"; }
@mixin ms-Icon--AlarmClock { content: "\E919"; }
@mixin ms-Icon--Hospital { content: "\E91D"; }
@mixin ms-Icon--Timer { content: "\E91E"; }


// Classes
.ms-Icon--Highlight:before { @include ms-Icon--Highlight }
.ms-Icon--Tab:before { @include ms-Icon--Tab }
.ms-Icon--Admin:before { @include ms-Icon--Admin }
.ms-Icon--TVMonitor:before { @include ms-Icon--TVMonitor }
.ms-Icon--Speakers:before { @include ms-Icon--Speakers }
.ms-Icon--Nav2DMapView:before { @include ms-Icon--Nav2DMapView }
.ms-Icon--Car:before { @include ms-Icon--Car }
.ms-Icon--Bus:before { @include ms-Icon--Bus }
.ms-Icon--EatDrink:before { @include ms-Icon--EatDrink }
.ms-Icon--LocationCircle:before { @include ms-Icon--LocationCircle }
.ms-Icon--Home:before { @include ms-Icon--Home }
.ms-Icon--SwitcherStartEnd:before { @include ms-Icon--SwitcherStartEnd }
.ms-Icon--ParkingLocation:before { @include ms-Icon--ParkingLocation }
.ms-Icon--IncidentTriangle:before { @include ms-Icon--IncidentTriangle }
.ms-Icon--Touch:before { @include ms-Icon--Touch }
.ms-Icon--MapDirections:before { @include ms-Icon--MapDirections }
.ms-Icon--History:before { @include ms-Icon--History }
.ms-Icon--Location:before { @include ms-Icon--Location }
.ms-Icon--Work:before { @include ms-Icon--Work }
.ms-Icon--Recent:before { @include ms-Icon--Recent }
.ms-Icon--Hotel:before { @include ms-Icon--Hotel }
.ms-Icon--LocationDot:before { @include ms-Icon--LocationDot }
.ms-Icon--News:before { @include ms-Icon--News }
.ms-Icon--Chat:before { @include ms-Icon--Chat }
.ms-Icon--Group:before { @include ms-Icon--Group }
.ms-Icon--Previous:before { @include ms-Icon--Previous }
.ms-Icon--Next:before { @include ms-Icon--Next }
.ms-Icon--Sync:before { @include ms-Icon--Sync }
.ms-Icon--Help:before { @include ms-Icon--Help }
.ms-Icon--Emoji:before { @include ms-Icon--Emoji }
.ms-Icon--MailForward:before { @include ms-Icon--MailForward }
.ms-Icon--ClosePane:before { @include ms-Icon--ClosePane }
.ms-Icon--OpenPane:before { @include ms-Icon--OpenPane }
.ms-Icon--PreviewLink:before { @include ms-Icon--PreviewLink }
.ms-Icon--ZoomIn:before { @include ms-Icon--ZoomIn }
.ms-Icon--Bookmarks:before { @include ms-Icon--Bookmarks }
.ms-Icon--Document:before { @include ms-Icon--Document }
.ms-Icon--ProtectedDocument:before { @include ms-Icon--ProtectedDocument }
.ms-Icon--OpenInNewWindow:before { @include ms-Icon--OpenInNewWindow }
.ms-Icon--MailFill:before { @include ms-Icon--MailFill }
.ms-Icon--ViewAll:before { @include ms-Icon--ViewAll }
.ms-Icon--Switch:before { @include ms-Icon--Switch }
.ms-Icon--Rename:before { @include ms-Icon--Rename }
.ms-Icon--Import:before { @include ms-Icon--Import }
.ms-Icon--Folder:before { @include ms-Icon--Folder }
.ms-Icon--Picture:before { @include ms-Icon--Picture }
.ms-Icon--ShowResults:before { @include ms-Icon--ShowResults }
.ms-Icon--Message:before { @include ms-Icon--Message }
.ms-Icon--CalendarDay:before { @include ms-Icon--CalendarDay }
.ms-Icon--CalendarWeek:before { @include ms-Icon--CalendarWeek }
.ms-Icon--MailReplyAll:before { @include ms-Icon--MailReplyAll }
.ms-Icon--Read:before { @include ms-Icon--Read }
.ms-Icon--Cut:before { @include ms-Icon--Cut }
.ms-Icon--PaymentCard:before { @include ms-Icon--PaymentCard }
.ms-Icon--Copy:before { @include ms-Icon--Copy }
.ms-Icon--Important:before { @include ms-Icon--Important }
.ms-Icon--MailReply:before { @include ms-Icon--MailReply }
.ms-Icon--GotoToday:before { @include ms-Icon--GotoToday }
.ms-Icon--Font:before { @include ms-Icon--Font }
.ms-Icon--FontColor:before { @include ms-Icon--FontColor }
.ms-Icon--FolderFill:before { @include ms-Icon--FolderFill }
.ms-Icon--Permissions:before { @include ms-Icon--Permissions }
.ms-Icon--DisableUpdates:before { @include ms-Icon--DisableUpdates }
.ms-Icon--Unfavorite:before { @include ms-Icon--Unfavorite }
.ms-Icon--Italic:before { @include ms-Icon--Italic }
.ms-Icon--Underline:before { @include ms-Icon--Underline }
.ms-Icon--Bold:before { @include ms-Icon--Bold }
.ms-Icon--MoveToFolder:before { @include ms-Icon--MoveToFolder }
.ms-Icon--Dislike:before { @include ms-Icon--Dislike }
.ms-Icon--Like:before { @include ms-Icon--Like }
.ms-Icon--AlignRight:before { @include ms-Icon--AlignRight }
.ms-Icon--AlignCenter:before { @include ms-Icon--AlignCenter }
.ms-Icon--AlignLeft:before { @include ms-Icon--AlignLeft }
.ms-Icon--OpenFile:before { @include ms-Icon--OpenFile }
.ms-Icon--FontDecrease:before { @include ms-Icon--FontDecrease }
.ms-Icon--FontIncrease:before { @include ms-Icon--FontIncrease }
.ms-Icon--FontSize:before { @include ms-Icon--FontSize }
.ms-Icon--CellPhone:before { @include ms-Icon--CellPhone }
.ms-Icon--Library:before { @include ms-Icon--Library }
.ms-Icon--PostUpdate:before { @include ms-Icon--PostUpdate }
.ms-Icon--NewFolder:before { @include ms-Icon--NewFolder }
.ms-Icon--CalendarReply:before { @include ms-Icon--CalendarReply }
.ms-Icon--UnsyncFolder:before { @include ms-Icon--UnsyncFolder }
.ms-Icon--SyncFolder:before { @include ms-Icon--SyncFolder }
.ms-Icon--BlockContact:before { @include ms-Icon--BlockContact }
.ms-Icon--BulletedList:before { @include ms-Icon--BulletedList }
.ms-Icon--Preview:before { @include ms-Icon--Preview }
.ms-Icon--World:before { @include ms-Icon--World }
.ms-Icon--Comment:before { @include ms-Icon--Comment }
.ms-Icon--DockLeft:before { @include ms-Icon--DockLeft }
.ms-Icon--DockRight:before { @include ms-Icon--DockRight }
.ms-Icon--Repair:before { @include ms-Icon--Repair }
.ms-Icon--Accounts:before { @include ms-Icon--Accounts }
.ms-Icon--RadioBullet:before { @include ms-Icon--RadioBullet }
.ms-Icon--Stopwatch:before { @include ms-Icon--Stopwatch }
.ms-Icon--Clock:before { @include ms-Icon--Clock }
.ms-Icon--WorldClock:before { @include ms-Icon--WorldClock }
.ms-Icon--AlarmClock:before { @include ms-Icon--AlarmClock }
.ms-Icon--Hospital:before { @include ms-Icon--Hospital }
.ms-Icon--Timer:before { @include ms-Icon--Timer }

