@font-face {
  font-family: 'FabricMDL2Icons-5';
  src: url('../font/fabric-icons-5-d80e1f52.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons-5';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

// Mixins
@mixin ms-Icon--ExchangeLogoInverse { content: "\ED78"; }
@mixin ms-Icon--LyncLogo { content: "\ED79"; }
@mixin ms-Icon--OfficeVideoLogoInverse { content: "\ED7A"; }
@mixin ms-Icon--ParatureLogo { content: "\ED7B"; }
@mixin ms-Icon--SocialListeningLogo { content: "\ED7C"; }
@mixin ms-Icon--VisioLogoInverse { content: "\ED7D"; }
@mixin ms-Icon--Balloons { content: "\ED7E"; }
@mixin ms-Icon--Cat { content: "\ED7F"; }
@mixin ms-Icon--MailAlert { content: "\ED80"; }
@mixin ms-Icon--MailCheck { content: "\ED81"; }
@mixin ms-Icon--MailLowImportance { content: "\ED82"; }
@mixin ms-Icon--MailPause { content: "\ED83"; }
@mixin ms-Icon--MailRepeat { content: "\ED84"; }
@mixin ms-Icon--SecurityGroup { content: "\ED85"; }
@mixin ms-Icon--Table { content: "\ED86"; }
@mixin ms-Icon--VoicemailForward { content: "\ED87"; }
@mixin ms-Icon--VoicemailReply { content: "\ED88"; }
@mixin ms-Icon--Waffle { content: "\ED89"; }
@mixin ms-Icon--RemoveEvent { content: "\ED8A"; }
@mixin ms-Icon--EventInfo { content: "\ED8B"; }
@mixin ms-Icon--ForwardEvent { content: "\ED8C"; }
@mixin ms-Icon--WipePhone { content: "\ED8D"; }
@mixin ms-Icon--AddOnlineMeeting { content: "\ED8E"; }
@mixin ms-Icon--JoinOnlineMeeting { content: "\ED8F"; }
@mixin ms-Icon--RemoveLink { content: "\ED90"; }
@mixin ms-Icon--PeopleBlock { content: "\ED91"; }
@mixin ms-Icon--PeopleRepeat { content: "\ED92"; }
@mixin ms-Icon--PeopleAlert { content: "\ED93"; }
@mixin ms-Icon--PeoplePause { content: "\ED94"; }
@mixin ms-Icon--TransferCall { content: "\ED95"; }
@mixin ms-Icon--AddPhone { content: "\ED96"; }
@mixin ms-Icon--UnknownCall { content: "\ED97"; }
@mixin ms-Icon--NoteReply { content: "\ED98"; }
@mixin ms-Icon--NoteForward { content: "\ED99"; }
@mixin ms-Icon--NotePinned { content: "\ED9A"; }
@mixin ms-Icon--RemoveOccurrence { content: "\ED9B"; }
@mixin ms-Icon--Timeline { content: "\ED9C"; }
@mixin ms-Icon--EditNote { content: "\ED9D"; }
@mixin ms-Icon--CircleHalfFull { content: "\ED9E"; }
@mixin ms-Icon--Room { content: "\ED9F"; }
@mixin ms-Icon--Unsubscribe { content: "\EDA0"; }
@mixin ms-Icon--Subscribe { content: "\EDA1"; }
@mixin ms-Icon--RecurringTask { content: "\EDB2"; }
@mixin ms-Icon--TaskManager { content: "\EDB7"; }
@mixin ms-Icon--TaskManagerMirrored { content: "\EDB8"; }
@mixin ms-Icon--Combine { content: "\EDBB"; }
@mixin ms-Icon--Split { content: "\EDBC"; }
@mixin ms-Icon--DoubleChevronUp { content: "\EDBD"; }
@mixin ms-Icon--DoubleChevronLeft { content: "\EDBE"; }
@mixin ms-Icon--DoubleChevronRight { content: "\EDBF"; }
@mixin ms-Icon--TextBox { content: "\EDC2"; }
@mixin ms-Icon--TextField { content: "\EDC3"; }
@mixin ms-Icon--NumberField { content: "\EDC4"; }
@mixin ms-Icon--Dropdown { content: "\EDC5"; }
@mixin ms-Icon--BookingsLogo { content: "\EDC7"; }
@mixin ms-Icon--ClassNotebookLogoInverse { content: "\EDC8"; }
@mixin ms-Icon--DelveAnalyticsLogo { content: "\EDCA"; }
@mixin ms-Icon--DocsLogoInverse { content: "\EDCB"; }
@mixin ms-Icon--Dynamics365Logo { content: "\EDCC"; }
@mixin ms-Icon--DynamicSMBLogo { content: "\EDCD"; }
@mixin ms-Icon--OfficeAssistantLogo { content: "\EDCE"; }
@mixin ms-Icon--OfficeStoreLogo { content: "\EDCF"; }
@mixin ms-Icon--OneNoteEduLogoInverse { content: "\EDD0"; }
@mixin ms-Icon--PlannerLogo { content: "\EDD1"; }
@mixin ms-Icon--PowerApps { content: "\EDD2"; }
@mixin ms-Icon--Suitcase { content: "\EDD3"; }
@mixin ms-Icon--ProjectLogoInverse { content: "\EDD4"; }
@mixin ms-Icon--CaretLeft8 { content: "\EDD5"; }
@mixin ms-Icon--CaretRight8 { content: "\EDD6"; }
@mixin ms-Icon--CaretUp8 { content: "\EDD7"; }
@mixin ms-Icon--CaretDown8 { content: "\EDD8"; }
@mixin ms-Icon--CaretLeftSolid8 { content: "\EDD9"; }
@mixin ms-Icon--CaretRightSolid8 { content: "\EDDA"; }
@mixin ms-Icon--CaretUpSolid8 { content: "\EDDB"; }
@mixin ms-Icon--CaretDownSolid8 { content: "\EDDC"; }
@mixin ms-Icon--ClearFormatting { content: "\EDDD"; }
@mixin ms-Icon--Superscript { content: "\EDDE"; }
@mixin ms-Icon--Subscript { content: "\EDDF"; }
@mixin ms-Icon--Strikethrough { content: "\EDE0"; }
@mixin ms-Icon--Export { content: "\EDE1"; }
@mixin ms-Icon--ExportMirrored { content: "\EDE2"; }
@mixin ms-Icon--SingleBookmark { content: "\EDFF"; }
@mixin ms-Icon--DoubleChevronDown { content: "\EE04"; }
@mixin ms-Icon--ReplyAll { content: "\EE0A"; }
@mixin ms-Icon--GoogleDriveLogo { content: "\EE0B"; }
@mixin ms-Icon--Questionnaire { content: "\EE19"; }
@mixin ms-Icon--ReplyMirrored { content: "\EE35"; }
@mixin ms-Icon--ReplyAllMirrored { content: "\EE36"; }
@mixin ms-Icon--AddGroup { content: "\EE3D"; }
@mixin ms-Icon--QuestionnaireMirrored { content: "\EE4B"; }
@mixin ms-Icon--TemporaryUser { content: "\EE58"; }
@mixin ms-Icon--CaretSolid16 { content: "\EE62"; }
@mixin ms-Icon--GroupedDescending { content: "\EE66"; }
@mixin ms-Icon--GroupedAscending { content: "\EE67"; }
@mixin ms-Icon--AwayStatus { content: "\EE6A"; }
@mixin ms-Icon--MyMoviesTV { content: "\EE6C"; }
@mixin ms-Icon--SyncToPC { content: "\EE6E"; }
@mixin ms-Icon--AustralianRules { content: "\EE70"; }
@mixin ms-Icon--WifiEthernet { content: "\EE77"; }
@mixin ms-Icon--DateTimeMirrored { content: "\EE93"; }


// Classes
.ms-Icon--ExchangeLogoInverse:before { @include ms-Icon--ExchangeLogoInverse }
.ms-Icon--LyncLogo:before { @include ms-Icon--LyncLogo }
.ms-Icon--OfficeVideoLogoInverse:before { @include ms-Icon--OfficeVideoLogoInverse }
.ms-Icon--ParatureLogo:before { @include ms-Icon--ParatureLogo }
.ms-Icon--SocialListeningLogo:before { @include ms-Icon--SocialListeningLogo }
.ms-Icon--VisioLogoInverse:before { @include ms-Icon--VisioLogoInverse }
.ms-Icon--Balloons:before { @include ms-Icon--Balloons }
.ms-Icon--Cat:before { @include ms-Icon--Cat }
.ms-Icon--MailAlert:before { @include ms-Icon--MailAlert }
.ms-Icon--MailCheck:before { @include ms-Icon--MailCheck }
.ms-Icon--MailLowImportance:before { @include ms-Icon--MailLowImportance }
.ms-Icon--MailPause:before { @include ms-Icon--MailPause }
.ms-Icon--MailRepeat:before { @include ms-Icon--MailRepeat }
.ms-Icon--SecurityGroup:before { @include ms-Icon--SecurityGroup }
.ms-Icon--Table:before { @include ms-Icon--Table }
.ms-Icon--VoicemailForward:before { @include ms-Icon--VoicemailForward }
.ms-Icon--VoicemailReply:before { @include ms-Icon--VoicemailReply }
.ms-Icon--Waffle:before { @include ms-Icon--Waffle }
.ms-Icon--RemoveEvent:before { @include ms-Icon--RemoveEvent }
.ms-Icon--EventInfo:before { @include ms-Icon--EventInfo }
.ms-Icon--ForwardEvent:before { @include ms-Icon--ForwardEvent }
.ms-Icon--WipePhone:before { @include ms-Icon--WipePhone }
.ms-Icon--AddOnlineMeeting:before { @include ms-Icon--AddOnlineMeeting }
.ms-Icon--JoinOnlineMeeting:before { @include ms-Icon--JoinOnlineMeeting }
.ms-Icon--RemoveLink:before { @include ms-Icon--RemoveLink }
.ms-Icon--PeopleBlock:before { @include ms-Icon--PeopleBlock }
.ms-Icon--PeopleRepeat:before { @include ms-Icon--PeopleRepeat }
.ms-Icon--PeopleAlert:before { @include ms-Icon--PeopleAlert }
.ms-Icon--PeoplePause:before { @include ms-Icon--PeoplePause }
.ms-Icon--TransferCall:before { @include ms-Icon--TransferCall }
.ms-Icon--AddPhone:before { @include ms-Icon--AddPhone }
.ms-Icon--UnknownCall:before { @include ms-Icon--UnknownCall }
.ms-Icon--NoteReply:before { @include ms-Icon--NoteReply }
.ms-Icon--NoteForward:before { @include ms-Icon--NoteForward }
.ms-Icon--NotePinned:before { @include ms-Icon--NotePinned }
.ms-Icon--RemoveOccurrence:before { @include ms-Icon--RemoveOccurrence }
.ms-Icon--Timeline:before { @include ms-Icon--Timeline }
.ms-Icon--EditNote:before { @include ms-Icon--EditNote }
.ms-Icon--CircleHalfFull:before { @include ms-Icon--CircleHalfFull }
.ms-Icon--Room:before { @include ms-Icon--Room }
.ms-Icon--Unsubscribe:before { @include ms-Icon--Unsubscribe }
.ms-Icon--Subscribe:before { @include ms-Icon--Subscribe }
.ms-Icon--RecurringTask:before { @include ms-Icon--RecurringTask }
.ms-Icon--TaskManager:before { @include ms-Icon--TaskManager }
.ms-Icon--TaskManagerMirrored:before { @include ms-Icon--TaskManagerMirrored }
.ms-Icon--Combine:before { @include ms-Icon--Combine }
.ms-Icon--Split:before { @include ms-Icon--Split }
.ms-Icon--DoubleChevronUp:before { @include ms-Icon--DoubleChevronUp }
.ms-Icon--DoubleChevronLeft:before { @include ms-Icon--DoubleChevronLeft }
.ms-Icon--DoubleChevronRight:before { @include ms-Icon--DoubleChevronRight }
.ms-Icon--TextBox:before { @include ms-Icon--TextBox }
.ms-Icon--TextField:before { @include ms-Icon--TextField }
.ms-Icon--NumberField:before { @include ms-Icon--NumberField }
.ms-Icon--Dropdown:before { @include ms-Icon--Dropdown }
.ms-Icon--BookingsLogo:before { @include ms-Icon--BookingsLogo }
.ms-Icon--ClassNotebookLogoInverse:before { @include ms-Icon--ClassNotebookLogoInverse }
.ms-Icon--DelveAnalyticsLogo:before { @include ms-Icon--DelveAnalyticsLogo }
.ms-Icon--DocsLogoInverse:before { @include ms-Icon--DocsLogoInverse }
.ms-Icon--Dynamics365Logo:before { @include ms-Icon--Dynamics365Logo }
.ms-Icon--DynamicSMBLogo:before { @include ms-Icon--DynamicSMBLogo }
.ms-Icon--OfficeAssistantLogo:before { @include ms-Icon--OfficeAssistantLogo }
.ms-Icon--OfficeStoreLogo:before { @include ms-Icon--OfficeStoreLogo }
.ms-Icon--OneNoteEduLogoInverse:before { @include ms-Icon--OneNoteEduLogoInverse }
.ms-Icon--PlannerLogo:before { @include ms-Icon--PlannerLogo }
.ms-Icon--PowerApps:before { @include ms-Icon--PowerApps }
.ms-Icon--Suitcase:before { @include ms-Icon--Suitcase }
.ms-Icon--ProjectLogoInverse:before { @include ms-Icon--ProjectLogoInverse }
.ms-Icon--CaretLeft8:before { @include ms-Icon--CaretLeft8 }
.ms-Icon--CaretRight8:before { @include ms-Icon--CaretRight8 }
.ms-Icon--CaretUp8:before { @include ms-Icon--CaretUp8 }
.ms-Icon--CaretDown8:before { @include ms-Icon--CaretDown8 }
.ms-Icon--CaretLeftSolid8:before { @include ms-Icon--CaretLeftSolid8 }
.ms-Icon--CaretRightSolid8:before { @include ms-Icon--CaretRightSolid8 }
.ms-Icon--CaretUpSolid8:before { @include ms-Icon--CaretUpSolid8 }
.ms-Icon--CaretDownSolid8:before { @include ms-Icon--CaretDownSolid8 }
.ms-Icon--ClearFormatting:before { @include ms-Icon--ClearFormatting }
.ms-Icon--Superscript:before { @include ms-Icon--Superscript }
.ms-Icon--Subscript:before { @include ms-Icon--Subscript }
.ms-Icon--Strikethrough:before { @include ms-Icon--Strikethrough }
.ms-Icon--Export:before { @include ms-Icon--Export }
.ms-Icon--ExportMirrored:before { @include ms-Icon--ExportMirrored }
.ms-Icon--SingleBookmark:before { @include ms-Icon--SingleBookmark }
.ms-Icon--DoubleChevronDown:before { @include ms-Icon--DoubleChevronDown }
.ms-Icon--ReplyAll:before { @include ms-Icon--ReplyAll }
.ms-Icon--GoogleDriveLogo:before { @include ms-Icon--GoogleDriveLogo }
.ms-Icon--Questionnaire:before { @include ms-Icon--Questionnaire }
.ms-Icon--ReplyMirrored:before { @include ms-Icon--ReplyMirrored }
.ms-Icon--ReplyAllMirrored:before { @include ms-Icon--ReplyAllMirrored }
.ms-Icon--AddGroup:before { @include ms-Icon--AddGroup }
.ms-Icon--QuestionnaireMirrored:before { @include ms-Icon--QuestionnaireMirrored }
.ms-Icon--TemporaryUser:before { @include ms-Icon--TemporaryUser }
.ms-Icon--CaretSolid16:before { @include ms-Icon--CaretSolid16 }
.ms-Icon--GroupedDescending:before { @include ms-Icon--GroupedDescending }
.ms-Icon--GroupedAscending:before { @include ms-Icon--GroupedAscending }
.ms-Icon--AwayStatus:before { @include ms-Icon--AwayStatus }
.ms-Icon--MyMoviesTV:before { @include ms-Icon--MyMoviesTV }
.ms-Icon--SyncToPC:before { @include ms-Icon--SyncToPC }
.ms-Icon--AustralianRules:before { @include ms-Icon--AustralianRules }
.ms-Icon--WifiEthernet:before { @include ms-Icon--WifiEthernet }
.ms-Icon--DateTimeMirrored:before { @include ms-Icon--DateTimeMirrored }

