const path = require('path');
const resources = require('@uifabric/build/webpack/webpack-resources');

const BUNDLE_NAME = '{{{packageName}}}';
const IS_PRODUCTION = process.argv.indexOf('--production') > -1;

module.exports = resources.createConfig(BUNDLE_NAME, IS_PRODUCTION, {
  entry: {
    [BUNDLE_NAME]: './lib/index.js'
  },

  output: {
    libraryTarget: 'var',
    library: 'Fabric{{{friendlyPackageName}}}'
  },

  externals: [{ react: 'React' }, { 'react-dom': 'ReactDOM' }],

  resolve: {
    alias: {
      '{{{packageNpmName}}}/src': path.join(__dirname, 'src'),
      '{{{packageNpmName}}}/lib': path.join(__dirname, 'lib'),
      '{{{packageNpmName}}}': path.join(__dirname, 'lib')
    }
  }
});
