let { createConfig } = require('../../scripts/jest/jest-resources');
let path = require('path');

const mergestylesSerializerPath = path.dirname(require.resolve('@uifabric/jest-serializer-merge-styles/package.json'));

const config = createConfig({
  setupFiles: [path.resolve(path.join(__dirname, 'config', 'tests.js'))],

  moduleNameMapper: {
    'office-ui-fabric-react/lib/(.*)$': 'office-ui-fabric-react/lib-commonjs/$1'
  },

  snapshotSerializers: [mergestylesSerializerPath]
});

module.exports = config;
