@import '../../../common/common';

.root {
  min-width: 180px;
}

.suggestionsItem {
  height: auto;
  width: 100%;
  @include text-align(left);
  padding: 4px 20px 6px;
  display: block;
  border: none;
  &:hover {
    background: $ms-color-neutralLight;
  }

  &.isSuggested {
    background: $ms-color-neutralQuaternary;
    &:hover {
      background: $ms-color-neutralQuaternaryAlt;
    }
  }
}

.searchMoreButton {
  @include button-reset();
  height: auto;
  text-align: center;
  margin: 0;
  width: 100%;
  &:hover {
      background-color: $ms-color-neutralLight;
      cursor: pointer;
  }
  // TODO: Works in Chrome, but not working in IE
  &:focus,
  &:active {
      background-color: $ms-color-themeLight;
  }
}

.suggestionsTitle {
  color: $ms-color-themePrimary;
  font-size: $ms-font-size-s;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  border-bottom: 1px solid $ms-color-neutralLight;
}

.suggestionsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
  border-bottom: 1px solid $ms-color-neutralLight;
}

.suggestionsNone {
  text-align: center;
  color: $ms-color-info;
  font-size: $ms-font-size-s;
  line-height: 30px;
}

.suggestionsSpinner {
  margin: 5px;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;

  :global(.ms-Spinner-circle) {
    display: inline-block;
    vertical-align: middle;
  }
  :global(.ms-Spinner-label) {
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
  }
}