@import '../../common/common';
:global {

.ms-themer {
  padding: 12px;
}
.ms-themer h3 {
  margin: 0;
}

.ms-themer-paletteSlot {
  text-align: center;
  flex-basis: 410px;
}

.ms-themer-swatch {
  display: inline-block;
  flex-shrink: 0;
  height: 36px;
  width: 36px;
  margin: 4px;
}

.ms-themer-swatchBg {
  padding: 4px;
  display: inline-block;
  font-size: 0;
  .ms-themer-swatch {
    height: 28px;
    width: 28px;
    margin: 2px;
  }
}

.ms-themer-example {
  padding: 20px;
  max-width: 40%;
}

.ms-themer-fabricPalette-root {
  display: flex;
  > div {
    padding-left: 20px;
  }
}

.ms-themer-accessibilityTable td {
  padding: 4px;
  text-align: right;
}

.ms-themer-slot {
  display: flex;
  align-items: center;
  overflow: auto;
}

.ms-themer-output-root textarea {
  background-color: white;
  color: #333;
}
}