steps:
  - template: tools.yml

  - task: Bash@3
    inputs:
      filePath: yarn-ci.sh
    displayName: yarn (install packages)

  - script: |
      yarn nx run @fluentui/workspace-plugin:check-graph
      yarn nx g @fluentui/workspace-plugin:tsconfig-base-all --verify
      yarn nx g @fluentui/workspace-plugin:normalize-package-dependencies --verify

    displayName: Workspace lint

  - script: |
      # following packages need to be build in advance:
      # @fluentui/api-docs is used within apps/public-docsite-resources/just.config.ts,
      # @fluentui/digest is used within packages/fluentui/perf-test-northstar/just.config.ts, thus it needs to be build in advance
      #
      # NOTE: we are running this via lage in order to get cache hits later on
      yarn lage build --to @fluentui/api-docs @fluentui/digest --verbose
      yarn tsc -p ./tsconfig.just-scripts-configs.json
    displayName: Type-check just.config.ts files

  - script: |
      yarn check:installed-dependencies-versions
    displayName: 'check packages: installed dependencies versions'

  - script: |
      if [[ -n "$(targetBranch)" ]]; then
        yarn format --since $(targetBranch) --check
      else
        yarn format --all --check
      fi
    displayName: check formatting

  ## Danger.js checks for Fluent UI N*
  - script: |
      DANGER_DISABLE_TRANSPILATION="true" yarn danger ci
    displayName: danger
    condition: eq(variables.isPR, true)
    env:
      DANGER_GITHUB_API_TOKEN: $(DANGER_GITHUB_API_TOKEN)

  - script: |
      yarn buildci $(sinceArg)
    displayName: build, test, lint, test-ssr

  - template: cleanup.yml
