parameters:
  - name: checkForModifiedFiles
    type: boolean
    default: true

steps:
  - script: |
      yarn check:modified-files
    condition: ${{ parameters.checkForModifiedFiles }}
    displayName: 'check: modified files'

  # In theory the "workspace: clean: all" setting should handle this, but it doesn't always seem to work.
  # ReallyClean is a custom task from our internal UI Fabric azure-devops-tasks repo which attempts to
  # delete the given directory with multiple retries.
  - task: ReallyClean@0
    inputs:
      directory: $(Agent.BuildDirectory)
    condition: always()
