steps:
  - template: tools.yml

  - task: Bash@3
    inputs:
      filePath: yarn-ci.sh
    displayName: yarn

  - script: |
      yarn playwright install --with-deps
    displayName: Install Playwright dependencies

  - script: |
      yarn cypress verify
    displayName: verify cypress install

  # this also builds FUI N* docs if appropriate
  - script: |
      yarn bundle  $(sinceArg)
    displayName: bundle

  - script: |
      yarn lage build-storybook  --verbose $(sinceArg)
    displayName: build Storybooks

  ## This runs regardless of scope, the app will adapt to the scope as well
  - script: |
      yarn workspace @fluentui/pr-deploy-site generate:site
    displayName: generate PR Deploy Site

  - task: AzureCLI@2
    displayName: Upload PR deploy site
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        az storage blob upload-batch \
          --destination '$web' \
          --source apps/pr-deploy-site/dist \
          --account-name $(azureStorage) \
          --destination-path $(deployBasePath) \
          --auth-mode login \
          --overwrite

  - task: GithubPRStatus@0
    displayName: 'Update PR deploy site github status'
    inputs:
      githubOwner: microsoft
      githubRepo: fluentui
      githubContext: 'Pull request demo site'
      githubDescription: 'Click "Details" to go to the deployed demo site for this pull request'
      # This MUST have a trailing slash, or the links to PR deploy site assets won't work
      githubTargetLink: $(deployUrl)/

  - script: |
      yarn e2e $(sinceArg)
    displayName: Cypress E2E tests

  - template: cleanup.yml
