# Install versions of Node and Yarn required by build pipelines.
steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '14.x'
      checkLatest: true
    displayName: 'Install Node.js'

  - task: YarnInstaller@0
    displayName: 'Use Yarn 1.22.x'
    inputs:
      versionSpec: 1.22.x
      checkLatest: false
      includePrerelease: false

  # For multiline scripts, we want the whole task to fail if any line of the script fails.
  # ADO doesn't have bash configured this way by default. To fix we override the SHELLOPTS built-in variable.
  # https://www.gnu.org/software/bash/manual/html_node/The-Set-Builtin.html
  # The options below include ADO defaults (braceexpand:hashall:interactive-comments) plus
  # errexit:errtrace for better error behavior.
  - script: |
      echo "##vso[task.setvariable variable=shellopts]braceexpand:hashall:interactive-comments:errexit:errtrace"
    displayName: Force exit on error (bash)

  # Log all the environment variables since it can be useful for debugging.
  # (This happens automatically for the built-in agents, but not for custom agents.)
  - script: |
      printenv | sort
      echo "SHELLOPTS $SHELLOPTS"
      echo 'deployBasePath "$(deployBasePath)"'
      echo 'deployUrl "$(deployUrl)"'
      echo 'isPR "$(isPR)"'
      echo 'targetBranch "$(targetBranch)"'
    displayName: Log environment variables (Linux)
    condition: eq(variables['Agent.OS'], 'Linux')
