.root {
  --button-height: auto;
  --button-maxWidth: 280px;
  --button-minHeight: 72px;
  --button-padding: 16px 12px;

  &._iconOnly {
    --button-minHeight: var(--button-size-regular);
    --button-padding: 0;
    --button-width: var(--button-minHeight);
  }

  &._ghost {
    --button-secondaryContentColor: var(--ghost-secondaryContentColor);
    --button-focused-secondaryContentColor: var(--ghost-focused-secondaryContentColor);
    --button-hovered-secondaryContentColor: var(--ghost-hovered-secondaryContentColor);
    --button-pressed-secondaryContentColor: var(--ghost-pressed-secondaryContentColor);
  }

  &._primary {
    --button-secondaryContentColor: var(--accent-secondaryContentColor);
    --button-focused-secondaryContentColor: var(--accent-focused-secondaryContentColor);
    --button-hovered-secondaryContentColor: var(--accent-hovered-secondaryContentColor);
    --button-pressed-secondaryContentColor: var(--accent-pressed-secondaryContentColor);
  }

  &._disabled {
    .secondaryContent {
      color: var(--button-disabled-secondaryContentColor, var(--button-secondaryContentColor));
    }
  }

  &:hover {
    .secondaryContent {
      color: var(--button-hovered-secondaryContentColor, var(--button-secondaryContentColor));
    }
  }

  &:active {
    .secondaryContent {
      color: var(--button-pressed-secondaryContentColor, var(--button-secondaryContentColor));
    }
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.secondaryContent {
  color: var(--button-secondaryContentColor);
  font-size: var(--button-secondaryContentFontSize);
  line-height: 100%;
}
