# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

###### Build Section ######
#### Repo-wide build files - Note these will only be applied if another rule below does not apply
*.sh @microsoft/fluentui-react-build
*.yml @microsoft/fluentui-react-build

#### Build folders
/.codesandbox @microsoft/fluentui-react-build
/.devcontainer @microsoft/fluentui-react-build
/.devops @microsoft/fluentui-react-build
/.github/workflows @microsoft/fluentui-react-build
/.githooks @microsoft/fluentui-react-build
/.storybook @microsoft/fluentui-react-build
/.vscode @microsoft/fluentui-react-build
/scripts @microsoft/fluentui-react-build
/tools @microsoft/fluentui-react-build

#### Root Build files
/.eslintrc.* @microsoft/fluentui-react-build
/.gitattributes @microsoft/fluentui-react-build
/.gitignore @microsoft/fluentui-react-build
/.npmrc @microsoft/fluentui-react-build
/.npmignore @microsoft/fluentui-react-build
/jest.preset.js @microsoft/fluentui-react-build
/lerna.json @microsoft/fluentui-react-build
/package.json @microsoft/fluentui-react-build
/sizeauditor.json @microsoft/fluentui-react-build
/tsconfig.json @microsoft/fluentui-react-build
/tsconfig.base.json @microsoft/fluentui-react-build
/yarn.lock @microsoft/fluentui-react-build
/*.config.js @microsoft/fluentui-react-build
/typings @microsoft/fluentui-react-build

#### NX related files
/nx.json @microsoft/fluentui-react-build
/workspace.json @microsoft/fluentui-react-build
/migrations.json @microsoft/fluentui-react-build

#### Meta and License stuff
/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/packages/react/LICENSE @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/CODEOWNERS @microsoft/fluentui-react-build @justSlone @jurokapsiar
/.github/ISSUE_TEMPLATE* @justSlone @jurokapsiar

#### Fluent UI N*
packages/a11y-rules @microsoft/fluentui-northstar
packages/a11y-testing @microsoft/fluentui-northstar
packages/fluentui @microsoft/fluentui-northstar
packages/fluentui/react-northstar/src/components/Chat @microsoft/fluentui-northstar @Hirse
packages/fluentui/react-northstar/src/themes/teams/components/Chat @microsoft/fluentui-northstar @Hirse

#### Web Components
packages/web-components @chrisdholt @EisenbergEffect @nicholasrice

#### Apps
# component-demo
public-docsite @microsoft/fluentui-v8-website
public-docsite-resources @microsoft/fluentui-v8-website
perf-test @microsoft/fluentui-react-build
# ssr-tests

#### Packages
packages/azure-themes @hyoshis @Jacqueline-ms
packages/bundle-size @microsoft/teams-prg
packages/date-time-utilities @ermercer @evlevy
packages/eslint-plugin @microsoft/fluentui-react-build
packages/foundation-legacy @microsoft/cxe-red @khmakoto
# packages/font-icons-mdl2
# packages/jest-serializer-merge-styles

packages/merge-styles @dzearing
packages/monaco-editor @microsoft/fluentui-v8-website
packages/public-docsite-setup @microsoft/fluentui-v8-website
packages/priority-overflow @microsoft/teams-prg
packages/react-aria @microsoft/teams-prg
packages/react-cards @microsoft/cxe-red @khmakoto
packages/react-charting @microsoft/charting-team
packages/react-conformance-griffel @microsoft/teams-prg
packages/react-context-selector @microsoft/teams-prg
packages/react-date-time @ermercer @evlevy
packages/react-docsite-components @microsoft/fluentui-v8-website
packages/react-file-type-icons @jahnp @bigbadcapers
packages/react-hooks @microsoft/cxe-red
packages/react-monaco-editor @microsoft/fluentui-v8-website
packages/react-positioning @microsoft/teams-prg
packages/react-priority-overflow @microsoft/teams-prg
packages/react-shared-contexts @microsoft/teams-prg
packages/react-storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/react-storybook-addon @microsoft/cxe-prg
packages/react-tabster @microsoft/teams-prg
packages/react-theme @microsoft/teams-prg
packages/react-utilities @microsoft/teams-prg
packages/storybook @microsoft/cxe-prg @microsoft/teams-prg
packages/style-utilities @dzearing
packages/style-utilities/src/interfaces @phkuo @dzearing
packages/style-utilities/src/styles @phkuo @dzearing
packages/theme @dzearing
# packages/utilities
packages/utilities/positioning @microsoft/cxe-red

### Fabric
# common/
packages/common-styles/src @microsoft/cxe-red @phkuo
common/_semanticSlots.scss @microsoft/cxe-red @phkuo
common/_themeOverrides.scss @microsoft/cxe-red @phkuo
common/_common.scss @microsoft/cxe-red @phkuo

## vNext packages
packages/react-accordion @microsoft/teams-prg @microsoft/cxe-coastal
packages/react-avatar @microsoft/cxe-red @behowell @khmakoto
packages/react-badge @microsoft/teams-prg @microsoft/cxe-red @behowell
packages/react-button @microsoft/cxe-red @khmakoto
packages/react-card @microsoft/cxe-prg
packages/react-checkbox @microsoft/cxe-red @khmakoto
packages/react-components @microsoft/fluentui-react
packages/react-dialog @microsoft/cxe-prg
packages/react-divider @microsoft/cxe-coastal
packages/react-focus @microsoft/cxe-red @khmakoto
packages/react-image @microsoft/cxe-prg
packages/react-input @microsoft/cxe-red
packages/react-label @microsoft/cxe-red
packages/react-link @microsoft/cxe-red @khmakoto @microsoft/cxe-coastal
packages/react-menu @microsoft/teams-prg
packages/react-popover @microsoft/teams-prg
packages/react-portal @microsoft/teams-prg
packages/react-provider @microsoft/teams-prg
packages/react-radio @microsoft/cxe-red
packages/react-select @microsoft/cxe-coastal @smhigley
packages/react-slider @microsoft/cxe-coastal @micahgodbolt
packages/react-spinner @microsoft/cxe-red @tomi-msft
packages/react-switch @microsoft/cxe-red @behowell @khmakoto
packages/react-tabs @microsoft/cxe-coastal @geoffcoxmsft
packages/react-text @microsoft/cxe-prg
packages/react-textarea @microsoft/cxe-red @sopranopillow
packages/react-tooltip @microsoft/cxe-red @behowell @khmakoto
packages/react-list @microsoft/teams-prg
packages/react-toolbar/ @microsoft/teams-prg @chpalac @ling1726
# <%= NX-CODEOWNER-PLACEHOLDER %>

## Components
packages/react @microsoft/cxe-red
packages/react/src/components/ActivityItem @microsoft/cxe-red @khmakoto
packages/react/src/components/Announced @microsoft/cxe-red @khmakoto
packages/react/src/components/Breadcrumb @microsoft/cxe-red @khmakoto
packages/react/src/components/Button @microsoft/cxe-red @khmakoto
packages/react/src/components/Calendar @ermercer @evlevy
packages/react/src/components/CalendarDayGrid @ermercer @evlevy
packages/react/src/components/Check @microsoft/cxe-red @ThomasMichon @khmakoto
packages/react/src/components/Checkbox @microsoft/cxe-red @khmakoto
packages/react/src/components/ChoiceGroup @microsoft/cxe-red
packages/react/src/components/Coachmark @microsoft/cxe-red @leddie24
packages/react/src/components/ColorPicker @microsoft/cxe-red
packages/react/src/components/DatePicker @ermercer @evlevy
packages/react/src/components/DetailsList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/DocumentCard @microsoft/cxe-red @yiminwu
packages/react/src/components/Fabric @microsoft/cxe-red @dzearing
packages/react/src/components/Facepile @microsoft/cxe-red
packages/react/src/components/FolderCover @microsoft/cxe-red @ThomasMichon @bigbadcapers
packages/react/src/components/FocusTrapZone @microsoft/cxe-red @khmakoto
packages/react/src/components/GroupedList @microsoft/cxe-red @ThomasMichon
packages/react/src/components/HoverCard @microsoft/cxe-red @Jahnp
packages/react/src/components/Icon @microsoft/cxe-red @dzearing
packages/react/src/components/Image @microsoft/cxe-red @dzearing
packages/react/src/components/Label @microsoft/cxe-red @khmakoto
packages/react/src/components/Layer @microsoft/cxe-red @ThomasMichon
packages/react/src/components/Link @microsoft/cxe-red @khmakoto
packages/react/src/components/List @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MarqueeSelection @microsoft/cxe-red @ThomasMichon
packages/react/src/components/MessageBar @microsoft/cxe-red
packages/react/src/components/Nav @microsoft/cxe-red
packages/react/src/components/Overlay @microsoft/cxe-red @khmakoto
packages/react/src/components/Panel @microsoft/cxe-red @khmakoto
packages/react/src/components/Persona @microsoft/cxe-red
packages/react/src/components/PersonaCoin @microsoft/cxe-red
packages/react/src/components/Pivot @microsoft/cxe-red @behowell
packages/react/src/components/SearchBox @microsoft/cxe-red
packages/react/src/components/Shimmer @microsoft/cxe-red
packages/react/src/components/SpinButton @microsoft/cxe-red
packages/react/src/components/Stack @microsoft/cxe-red @khmakoto
packages/react/src/components/SwatchColorPicker @microsoft/cxe-red
packages/react/src/components/Text @microsoft/cxe-red @khmakoto
packages/react/src/components/TextField @microsoft/cxe-red
packages/react/src/components/Toggle @microsoft/cxe-red @khmakoto
packages/react/src/components/Tooltip @microsoft/cxe-red @behowell
packages/react/src/components/WeeklyDayPicker @ermercer @evlevy

## Theming and styling
packages/react/src/utilities/ThemeProvider @microsoft/cxe-red @dzearing

## Experiments
packages/react-experiments/src/components/Signals @ThomasMichon
packages/react-experiments/src/components/Tile @ThomasMichon
packages/react-experiments/src/components/TileList @ThomasMichon
