@import '../../common';
@import "~office-ui-fabric/src/components/Label/Label";
@import "~office-ui-fabric/src/components/SearchBox/SearchBox";

// Fabric was using a mouseover and mouseout events to toggle the ".hover" class
// [thocon] It's not clear to me why that is, but it seems just applying the styles
// to a :hover state seems to work just fine
.ms-SearchBox-field {
  &:hover {
    border-color: $ms-color-themePrimary;
    background-color: $ms-color-themeLighter;

    & + .ms-SearchBox-label {
      color: $ms-color-black;

      .ms-Icon {
      color: $ms-color-neutralPrimary;
      }
    }
  }
}

// Fabric RTL fixes
.ms-SearchBox-label {
  @include padding-left(8px);
  @include left(0);
}

.ms-SearchBox-icon {
  @include margin-right(7px);
}

.ms-SearchBox-closeButton {
  @include right(0);
  @include left(auto);
}