@import '../../../common/common';

:global {
  .ms-CalloutExample-callout {
    max-width: 300px;
  }

  .ms-CalloutExample-configArea {
    min-width: 300px;
    display: inline-block;
  }

  .ms-CalloutExample-buttonArea {
    vertical-align: top;
    display: inline-block;
    min-width: 130px;
    margin: 0 100px;
    text-align: center;
    height: 32px;
  }

  .ms-CalloutCoverExample-buttonArea {
    vertical-align: top;
    display: inline-block;
    margin: 0 100px;
    text-align: center;
    min-width: 130px;
  }

  .ms-CalloutCoverExample-buttonArea > .ms-Button {
    text-align: center;
    width: 130px;
  }

  .ms-CalloutBasicExample-buttonArea {
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }

  .ms-CalloutExample-cmdBarHost {
    width: 350px;
    padding: 10px;
  }

  .ms-CalloutExample-inner {
    padding: 0 28px 18px;
  }

  .ms-CalloutExample-header {
    padding: 18px 28px 12px;
  }

  .ms-CalloutExample-title {
    margin: 0;
    font-size: 20px;
    color: $ms-color-neutralPrimary;
    font-weight: $ms-font-weight-semibold;
  }

  .ms-CalloutExample-subText {
    margin: 0;
    @include ms-font-s;
    color: $ms-color-neutralPrimary;
    font-weight: $ms-font-weight-semilight;
    line-height: 22px;
  }

  .ms-CalloutExample-link {
    @include ms-font-m;
    color: $ms-color-neutralPrimary;
  }

  .ms-CalloutExample-actions {
    position: relative;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
  }
  .calloutExampleButton {
    width: 100%;
  }
  .ms-CalloutExample-divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ms-CalloutExample-divider {
    width: 252px;
    height: 1px;
    background-color: #edebe9;
  }
}
