@import '../../../common/common';

.ExampleCard {
  margin-bottom: 20px;
}

.ExampleCard-header {
  border-bottom: 1px solid $ms-color-neutralTertiary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.ExampleCard-title {
  margin-bottom: 10px;
  display: inline-block;
}

.ExampleCard-toggleButtons {
  display: block;
  @include float(right);

  .ms-Button.ExampleCard-codeButton {
    @include margin-right(0);
    background: none;
    border: 1px solid $ms-color-neutralTertiary;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1;
    padding: 4px 12px;
    min-width: 100px;
    transition: border $ms-duration3 $ms-ease1;

    .ms-Button-icon {
      position: relative;
      top: 3px;

      .ms-Icon {
        font-size: $ms-font-size-l;
        padding: 0;
        @include margin-right(8px);
      }
    }

    .ms-Button-label {
      color: $ms-color-neutralDark;
      display: inline-block;
      padding-bottom: 6px;
    }

    &.is-active,
    &:hover {
      background-color: $ms-color-neutralDark;
      border-color: $ms-color-neutralDark;

      .ms-Button-icon,
      .ms-Button-label {
        color: $ms-color-white;
      }
    }
  }
}

.ExampleCard-example {
  -webkit-overflow-scrolling: touch;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0;
}

.ExampleCard-example.is-right-aligned {
  @include text-align(right);
}

.ExampleCard-code {
  background-color: $ms-color-neutralDark;
  overflow: hidden;

  // Collapsed by default
  pre {
    margin: 0;
    max-height: 0;
    overflow: auto;
    transition: all $ms-duration3 $ms-ease1;
  }

  code {
    display: block;
    margin: 12px;
  }
}

.ExampleCard.is-codeVisible {
  .ExampleCard-header {
    border-color: $ms-color-neutralDark;
  }

  .ExampleCard-code pre {
    max-height: 480px;
    min-height: 120px;
  }
}

.ExampleCard.is-codeVisible .ExampleCard-code {
  display: block;
  margin-bottom: 20px;
}

.ExampleCard-dosAndDonts {
  width: 100%;
}

.ExampleCard-dos {
  width: calc(50% - 50px);
  display: inline-block;
  @include margin-right(50px);

  h4 {
    @include ms-font-l;
    color: #177D3E;
  }
}

.ExampleCard-donts {
  width: calc(50%);
  display: inline-block;

  h4 {
    @include ms-font-l;
    color: #A61E22;
  }
}

