@import '../../../../common/common';

.ms-ListGridExample .ms-List-page {
  overflow: hidden;
  font-size: 0;
}

.ms-ListGridExample .ms-List-surface {
  position: relative;
}

.ms-ListGridExample-tile {
  text-align: center;
  outline: none;
  position: relative;
  float: left;
}

.ms-Fabric.is-focusVisible .ms-ListGridExample-tile:focus:after {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  box-sizing: border-box;
  border: 1px solid $ms-color-white;
}

.ms-ListGridExample-label {
  background: rgba(0,0,0,.3);
  color: #ffffff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  left: 0;
  width: 100%;
  font-size: $ms-font-size-s;
}