@import '../../../../common/common';

.ms-PickerPersona-Container {
  @include focus-border();

  display: inline-block;
  vertical-align: top;
  background: $ms-color-neutralLighter;
  margin: 1px;
  vertical-align: top;
  white-space: nowrap;
  cursor: default;
  user-select: none;

  &:hover {
    background: $ms-color-neutralLight;
  }

  &.is-selected {
    background: $ms-color-neutralQuaternary;
    &:hover {
      background: $ms-color-neutralQuaternaryAlt;
    }
  }

  .ms-PickerItem-content {
    display: inline-block;
    vertical-align: middle;
  }


}