registry=https://registry.npmjs.org/
package-lock=false
save-exact=true

# The @1js/ scope is used for internal Microsoft packages. These need to be fetched
# from the internal registry, rather than the public NPM registry.
@1js:registry=https://pkgs.dev.azure.com/uifabric/_packaging/uifabric/npm/registry/
//pkgs.dev.azure.com/uifabric/_packaging/uifabric/npm/registry/:always-auth=true
