@ms:registry=http://cxovm01.cloudapp.net/artifactory/api/npm/npm-virtual/
//cxovm01.cloudapp.net/artifactory/api/npm/npm-virtual/:_password=QVBVMXhueHdVeG5MaGRTdk0zRk5peTRVUTg=
//cxovm01.cloudapp.net/artifactory/api/npm/npm-virtual/:username=miljo@microsoft.com
//cxovm01.cloudapp.net/artifactory/api/npm/npm-virtual/:email=miljo@microsoft.com
//cxovm01.cloudapp.net/artifactory/api/npm/npm-virtual/:always-auth=true