{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": none,
  "useTabs": false,
  "printWidth": 120
}