pr:
  - master

# There's a separate pipeline for CI which also uses this file, but with a trigger override in the UI.
# https://dev.azure.com/uifabric/fabricpublic/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=164&view=Tab_Triggers
trigger: none

variables:
  - ${{ if not(startsWith(variables['Build.SourceBranch'], 'refs/heads/')) }}:
      - name: sinceArg
        value: --since $(targetBranch)

  - template: .devops/templates/variables.yml

pool: '1ES-Host-Ubuntu'

jobs:
  - job: VisualRegressionTest_WebComponents
    variables:
      pipelineId: '315'
      pipelineName: 'fluent-ui_VRT_Pipeline_web-components'
    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - bash: |
          set -exuo pipefail
          yarn vr-app create-policy --nonBlockingPipelines '{"$(pipelineId)":{"pipelineStatus": "PENDING","pipelineName": "$(pipelineName)"}}' --clientType 'FLUENTUI'
        displayName: VR App - Create Policy
        env:
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: webcomponents
          vrTestPackageName: '@fluentui/vr-tests-web-components'
          vrTestPackagePath: 'apps/vr-tests-web-components'

      - task: AzureCLI@2
        displayName: 'Run fluentui-screenshotdiff'
        env:
          API_TOKEN: $(fabric-public-pipeline-access-PAT)
          GITHUB_API_TOKEN: $(githubRepoStatusPAT)
          STORAGE_CONNECTION_STRING: $(BLOB-CONNECTION-STRING)
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          STORAGE_ACCOUNT_ID: $(StorageAccountId)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)
        inputs:
          azureSubscription: $(AzureSubscription)
          scriptType: bash
          scriptLocation: 'inlineScript'
          # ciDefinitionId is set to 205 because that is the ID of the baseline pipeline (https://uifabric.visualstudio.com/fabricpublic/_build?definitionId=205) used by the master branch
          inlineScript: |
            yarn vr-app run-diff --screenshotsDirectory ./screenshots --buildType pr --clientType "FLUENTUI" --ciDefinitionId 205 --groupName $(pipelineName) --locationPrefix 'FluentUI-web-components' --locationPostfix 'vrscreenshotwebcomponents' --pipelineId $(pipelineId)  --clientName 'fluentui-web-components-v3' --threshold '0.04' --cumThreshold '1'
        condition: eq(variables['vrTestSkip'], 'no')

  - job: VisualRegressionTest_V9
    variables:
      pipelineId: '311'
      pipelineName: 'fluent-ui_VRT_Pipeline_v9'

    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - bash: |
          set -exuo pipefail
          yarn vr-app create-policy --nonBlockingPipelines '{"$(pipelineId)":{"pipelineStatus": "PENDING","pipelineName": "$(pipelineName)"}}' --clientType 'FLUENTUI'
        displayName: VR App - Create Policy
        env:
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: v9
          vrTestPackageName: '@fluentui/vr-tests-react-components'
          vrTestPackagePath: 'apps/vr-tests-react-components'

      - task: AzureCLI@2
        displayName: 'Run fluentui-screenshotdiff'
        env:
          API_TOKEN: $(fabric-public-pipeline-access-PAT)
          GITHUB_API_TOKEN: $(githubRepoStatusPAT)
          STORAGE_CONNECTION_STRING: $(BLOB-CONNECTION-STRING)
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          STORAGE_ACCOUNT_ID: $(StorageAccountId)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)
        inputs:
          azureSubscription: $(AzureSubscription)
          scriptType: bash
          scriptLocation: 'inlineScript'
          # ciDefinitionId is set to 205 because that is the ID of the baseline pipeline (https://uifabric.visualstudio.com/fabricpublic/_build?definitionId=205) used by the master branch
          inlineScript: |
            yarn vr-app run-diff --buildType pr --screenshotsDirectory ./screenshots --clientType "FLUENTUI" --ciDefinitionId 205 --groupName $(pipelineName) --locationPrefix 'fluentuiv9' --locationPostfix 'vrscreenshotv9' --pipelineId $(pipelineId) --clientName 'fluentuiv9' --threshold '0.04' --cumThreshold '1'
        condition: eq(variables['vrTestSkip'], 'no')

  - job: VisualRegressionTest_V8
    variables:
      pipelineId: '312'
      pipelineName: 'fluent-ui_VRT_Pipeline_v8'
    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - bash: |
          set -exuo pipefail
          yarn vr-app create-policy --nonBlockingPipelines '{"$(pipelineId)":{"pipelineStatus": "PENDING","pipelineName": "$(pipelineName)"}}' --clientType 'FLUENTUI'
        displayName: VR App - Create Policy
        env:
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: v8
          vrTestPackageName: '@fluentui/vr-tests'
          vrTestPackagePath: 'apps/vr-tests'

      - task: AzureCLI@2
        displayName: 'Run fluentui-screenshotdiff'
        env:
          API_TOKEN: $(fabric-public-pipeline-access-PAT)
          GITHUB_API_TOKEN: $(githubRepoStatusPAT)
          STORAGE_CONNECTION_STRING: $(BLOB-CONNECTION-STRING)
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          STORAGE_ACCOUNT_ID: $(StorageAccountId)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)
        inputs:
          azureSubscription: $(AzureSubscription)
          scriptType: bash
          scriptLocation: 'inlineScript'
          # ciDefinitionId is set to 205 because that is the ID of the baseline pipeline (https://uifabric.visualstudio.com/fabricpublic/_build?definitionId=205) used by the master branch
          inlineScript: |
            yarn vr-app run-diff --screenshotsDirectory ./screenshots  --buildType pr --clientType "FLUENTUI" --ciDefinitionId 205 --groupName $(pipelineName) --locationPrefix 'fluentuiv8' --locationPostfix 'vrscreenshotv8' --pipelineId $(pipelineId)  --clientName 'fluentuiv8' --threshold '0.04' --cumThreshold '1'
        condition: eq(variables['vrTestSkip'], 'no')

  - job: VisualRegressionTest_V0
    variables:
      pipelineId: '313'
      pipelineName: 'fluent-ui_VRT_Pipeline_v0'

    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - bash: |
          set -exuo pipefail
          yarn vr-app create-policy --nonBlockingPipelines '{"$(pipelineId)":{"pipelineStatus": "PENDING","pipelineName": "$(pipelineName)"}}' --clientType 'FLUENTUI'
        displayName: VR App - Create Policy
        env:
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: v0
          vrTestPackageName: '@fluentui/docs'
          vrTestPackagePath: 'packages/fluentui/docs'

      - task: AzureCLI@2
        displayName: 'Run fluentui-screenshotdiff'
        env:
          API_TOKEN: $(fabric-public-pipeline-access-PAT)
          GITHUB_API_TOKEN: $(githubRepoStatusPAT)
          STORAGE_CONNECTION_STRING: $(BLOB-CONNECTION-STRING)
          VR_APP_CLIENT_ID: $(VR_APP_CLIENT_ID)
          VR_APP_API_URL: $(VR_APP_API_URL_NEW)
          STORAGE_ACCOUNT_ID: $(StorageAccountId)
          TENANT_ID: $(TenantId)
          PRINCIPAL_CLIENT_ID: $(PrincipalClientId)
          SERVICE_CONNECTION_ID: $(ServiceConnectionId)
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)
        inputs:
          azureSubscription: $(AzureSubscription)
          scriptType: bash
          scriptLocation: 'inlineScript'
          # ciDefinitionId is set to 205 because that is the ID of the baseline pipeline (https://uifabric.visualstudio.com/fabricpublic/_build?definitionId=205) used by the master branch
          inlineScript: |
            yarn vr-app run-diff --buildType pr --screenshotsDirectory ./screenshots --clientType "FLUENTUI" --ciDefinitionId 205 --groupName $(pipelineName) --locationPrefix 'FluentUI-v0' --locationPostfix 'vrscreenshotv0' --pipelineId $(pipelineId) --clientName 'FluentUIV0' --threshold '0.04' --cumThreshold '1'
        condition: eq(variables['vrTestSkip'], 'no')
