pr:
  - master
  - website-content

trigger: none

variables:
  - group: fabric-variables
  - template: .devops/templates/variables.yml

pool: '1ES-Host-Ubuntu'

workspace:
  clean: all

steps:
  - template: .devops/templates/tools.yml

  - task: Bash@3
    inputs:
      filePath: yarn-ci.sh
    displayName: yarn

  # @fluentui/perf-test-northstar PR
  - script: |
      yarn perf:test
    condition: eq(variables.isPR, true)
    workingDirectory: packages/fluentui/perf-test-northstar
    displayName: Perf Test (Fluent)

  # Fluent perf-test must run before Fabric perf-test until they are consolidated.
  # @fluentui/perf-test-northstar Baseline
  - script: |
      yarn perf:test:base
    condition: eq(variables.isPR, false)
    workingDirectory: packages/fluentui/perf-test-northstar
    displayName: Perf Test Base (Fluent)

  # Fabric: perf-test will build, bundle, and run-perftest
  - script: |
      yarn just perf-test
    workingDirectory: apps/perf-test
    displayName: Perf Test

  - task: AzureUpload@2
    displayName: Upload Perf Test Result to PR deploy site (Fluent N*)
    inputs:
      SourcePath: 'packages/fluentui/perf-test-northstar/dist'
      azureSubscription: $(azureSubscription)
      storage: $(azureStorage)
      ContainerName: '$web'
      BlobPrefix: '$(deployBasePath)/perf-test-northstar'

  - task: AzureUpload@2
    displayName: Upload Perf Test Result to PR deploy site (Fluent)
    inputs:
      SourcePath: 'apps/perf-test/dist'
      azureSubscription: $(azureSubscription)
      storage: $(azureStorage)
      ContainerName: '$web'
      BlobPrefix: '$(deployBasePath)/perf-test'

  - task: GithubPRComment@0
    displayName: 'Post @fluentui/react Perf Results to Github Pull Request'
    inputs:
      githubOwner: microsoft
      githubRepo: 'fluentui'
      blobFilePath: '$(Build.SourcesDirectory)/$(PerfCommentFilePath)'
      status: '$(PerfCommentStatus)'
      uniqueId: 'perfComment9423'

  - task: GithubPRComment@0
    displayName: 'Post @fluentui/react-northstar Perf Results to Github Pull Request'
    inputs:
      githubOwner: microsoft
      githubRepo: 'fluentui'
      blobFilePath: '$(Build.SourcesDirectory)/$(PerfCommentFilePathNorthstar)'
      status: '$(PerfCommentStatusNorthstar)'
      uniqueId: 'perfComment9424'

  - script: |
      yarn stats:build
    condition: eq(variables.isPR, false)
    displayName: Bundle Statistics (master only)

  - script: |
      yarn perf
    condition: eq(variables.isPR, false)
    displayName: Performance Tests (master only)

  # HEADS UP: also see tag-version-prefix in fluentui-publish.js
  - script: |
      yarn stats:save --tag=`git tag --points-at HEAD | grep ^@fluentui/react-northstar_v | grep -o 'northstar_v.*'`
    condition: eq(variables.isPR, false)
    displayName: Save Statistics to DB (master only)
    env:
      STATS_URI: $(STATS_URI)

  - template: .devops/templates/cleanup.yml
