pr:
  - 6.0

# There's a separate pipeline for CI which also uses this file, but with a trigger override in the UI
# https://dev.azure.com/uifabric/fabricpublic/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=164&view=Tab_Triggers
trigger: none

variables:
  - group: fabric-variables

pool: 'Self Host Ubuntu'

workspace:
  clean: all

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      node common/scripts/install-run-rush.js install --bypass-policy
    displayName: rush install

  - script: |
      npm run checkchange
    displayName: check change

  - script: |
      npm run validate-change-files
    displayName: 'Validates change files'

  - script: |
      npm run buildci
    displayName: build ci

  - task: AzureUpload@1
    displayName: AzureUpload
    inputs:
      SourcePath: 'apps/pr-deploy-site/dist'
      azureSubscription: 'Azure PR deploy'
      storage: fluentuipr
      ContainerName: '$web'
      BlobPrefix: 'pr-deploy-site/$(Build.SourceBranch)'

  # Disable deprecated version of perf-test to prevent CI build timeouts.
  # - script: |
  #     npm run perf-test
  #   displayName: perf test

  # - task: GithubPRComment@0
  #   displayName: 'Post Perf Results to Github Pull Request'
  #   inputs:
  #     githubOwner: microsoft
  #     githubRepo: 'fluentui'
  #     blobFilePath: '$(Build.SourcesDirectory)/$(PerfCommentFilePath)'
  #     status: '$(PerfCommentStatus)'
  #     uniqueId: 'perfComment9423'

  - task: GithubPRStatus@0
    displayName: 'Update Github Pull Request Status'
    inputs:
      githubOwner: microsoft
      githubRepo: 'fluentui'
      githubContext: 'Pull Request Deployed Site'
      githubDescription: 'Click "Details" to go to the Deployed Site'
      githubTargetLink: 'https://fluentuipr.z22.web.core.windows.net/pr-deploy-site/$(Build.SourceBranch)/'

  - script: |
      npm run a11ytest
    displayName: run a11y tests

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: './apps/a11y-tests/dist/reports'
      artifactName: 'CodeAnalysisLogs'
    displayName: publish sarif a11y reports

  - script: |
      git config --global user.email "fluentui-internal@microsoft.com"
      git config --global user.name "Fabric Tactical"
      npm run vrtest
    displayName: run VR Test
    env:
      SCREENER_API_KEY: $(screener.key)

  - script: |
      npm run check-for-changed-files
    displayName: check for change file

  # In theory the "workspace: clean: all" setting should handle this, but it doesn't always seem to work.
  # ReallyClean is a custom task from our internal UI Fabric azure-devops-tasks repo which attempts to
  # delete the given directory with multiple retries.
  - task: ReallyClean@0
    inputs:
      directory: $(Agent.BuildDirectory)
    condition: always()
