pr:
  - master
  - 7.0

trigger: none

jobs:
  - job: build
    pool:
      name: Hosted VS2017
      demands: npm
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.x'
        displayName: 'Install Node.js'

      - script: npx midgard-yarn install
        displayName: yarn

      - script: yarn build --to test-bundles --no-cache --grouped
        displayName: yarn build to test-bundles

      - script: yarn workspace test-bundles bundle:size
        displayName: yarn bundle test-bundles

      - script: yarn bundlesizecollect
        displayName: 'Collate Bundle Size Information'

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Bundle Size information to Azure Dev Ops Artifacts'
        inputs:
          PathtoPublish: 'apps/test-bundles/dist/bundlesizes.json'

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifact dist folder upon build for debug'
        inputs:
          PathtoPublish: 'apps/test-bundles/dist'
          ArtifactName: distdrop

  - job: lightrail
    pool: server
    dependsOn: build
    steps:
      - task: odefun.odsp-lightrail-tasks-partner.odsp-lightrail-tasks-SizeAuditorWorker.SizeAuditorWorker@0
        displayName: 'Size Auditor Check on LightRail'
        inputs:
          connectedServiceName: lowimpact
          sourceVersionMessage: '$(Build.SourceVersionMessage)'
          sourceRepositoryUrl: 'https://github.com/microsoft/fluentui'
