pr:
  - 7.0

trigger: none

variables:
  - ${{ if not(startsWith(variables['Build.SourceBranch'], 'refs/heads/')) }}:
      - name: sinceArg
        value: --since $(targetBranch)

  - template: .devops/templates/variables.yml

pool: '1ES-Host-Ubuntu'

jobs:
  - job: VisualRegressionTest_V7
    variables:
      pipelineId: '314'
      pipelineName: 'fluent-ui VRT Pipeline v7'
    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - bash: |
          postPolicy="true";
          response=$(curl --request POST 'https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token' --header 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'grant_type=client_credentials' --data-urlencode 'client_id=288a69b6-760d-4c1f-ad6d-0183b5e5740f' --data-urlencode 'client_secret='${VR_APPROVAL_CLIENT_SECRET} )
            parsedResponse=${response/*"access_token"/}
            token=${parsedResponse:3:${#parsedResponse}-5}
            curl --location --request POST 'https://vrt-fluentapp.azurewebsites.net/api/policyState' \
            --header 'Authorization: Bearer '"$token" \
            --header 'Content-Type: application/json' \
            --data-raw '	{
            "organization": "uifabric",
            "projectName": "fabricpublic",
            "prId": $(System.PullRequest.PullRequestNumber),
            "commitId": "$(Build.SourceVersion)",
              "generate":true,
              "blockingPipeline":{
              },
              "nonBlockingPipeline":{
                "$(pipelineId)": {
                  "pipelineStatus": "PENDING",
                  "pipelineName": "$(pipelineName)"
                }
              },
              "postPolicy": '${postPolicy}',
              "policyType": "OPTIONAL"
            }'
        displayName: 'Call policy State Api'
        env:
          VR_APPROVAL_CLIENT_SECRET: $(VR-APPROVAL-CLIENT-SECRET)
          VR_APPROVAL_HOST: $(VR_APPROVAL_HOST)

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: v7
          vrTestPackageName: 'vr-tests'
          vrTestPackagePath: 'apps/vr-tests'

      - powershell: |
          $url = "https://dev.azure.com/uifabric/fabricpublic/_apis/build/builds?definitions=$env:BASELINE_PIPELINE_ID&statusFilter=completed&resultFilter=succeeded&queryOrder=finishTimeDescending&`$top=1"
          Write-Host "Looking up latest official build via url: $url"
          $pipelineBuildInfo = Invoke-RestMethod -Uri $url -Headers @{Authorization = "Bearer $env:SYSTEM_ACCESSTOKEN"}
          Write-Host "Response: $pipelineBuildInfo"
          [int]$latestBuildId = $pipelineBuildInfo.value.id
          Write-Host "Setting variable LatestBuildId=$latestBuildId"
          Write-Host "##vso[task.setvariable variable=LatestBuildId]$latestBuildId"
        name: GetLatestGreenCIBuild
        env:
          SYSTEM_ACCESSTOKEN: $(System.AccessToken)
          BASELINE_PIPELINE_ID: $(BASELINE-PIPELINE-ID)
        condition: eq(variables['vrTestSkip'], 'no')

      - bash: node node_modules/vrscreenshotdiff/lib/index.js pr --clientType "FluentUI-v7" --buildId $(Build.BuildId) --lkgCIBuild $(LatestBuildId) --pipelineId $(pipelineId) --pipelineName '$(pipelineName)'
        displayName: 'Run fluentui-screenshotdiff'
        env:
          API_URL: $(System.CollectionUri)
          API_TOKEN: $(fabric-public-pipeline-access-PAT)
          API_REPOSITORY: $(Build.Repository.Name)
          API_PROJECT: $(System.TeamProject)
          SCREENSHOT_ARTIFACT_FOLDER: vrscreenshotv7
          GITHUB_API_TOKEN: $(githubRepoStatusPAT)
          STORAGE_ACCOUNT_FLUENTUI: $(STORAGE-ACCOUNT-FLUENTUI)
          STORAGE_KEY_FLUENTUI: $(STORAGE-KEY-BLOB-FLUENTUI)
          BLOB_CONNECTION_STRING: $(BLOB-CONNECTION-STRING)
          VR_APPROVAL_CLIENT_SECRET: $(VRClientSecret)
          GITHUB_REPO_OWNER: 'microsoft'
          GITHUB_REPO_NAME: 'fluentui'
          VR_APPROVAL_HOST: $(VR_APPROVAL_HOST)
          VR_APP_NAME: $(VR_APP_NAME)
        condition: eq(variables['vrTestSkip'], 'no')
