pr:
  - master

trigger:
  - master

variables:
  - ${{ if not(startsWith(variables['Build.SourceBranch'], 'refs/heads/')) }}:
      - name: sinceArg
        value: --since $(targetBranch)

  - template: .devops/templates/variables.yml

jobs:
  - job: bundle_size
    workspace:
      clean: all
    pool: '1ES-Host-Ubuntu'
    steps:
      - template: .devops/templates/tools.yml

      - task: Bash@3
        inputs:
          filePath: yarn-ci.sh
        displayName: yarn

      - script: |
          yarn lage bundle-size --verbose $(sinceArg)
        displayName: build packages & create reports

      - script: |
          npx monosize compare-reports --branch=$(System.PullRequest.TargetBranch) --output=markdown --quiet > ./monosize-report.md
        displayName: compare bundle size with base (PR only)
        condition: eq(variables.isPR, true)

      - task: GithubPRComment@0
        displayName: Post results to PR (PR only)
        condition: eq(variables.isPR, true)
        inputs:
          githubOwner: microsoft
          githubRepo: 'fluentui'
          blobFilePath: 'monosize-report.md'
          status: 'success'
          uniqueId: 'bundleSizeComment9423'

      - script: |
          yarn monosize upload-report --branch=$(Build.SourceBranchName) --commit-sha $(Build.SourceVersion)
        displayName: upload a report (base only)
        condition: eq(variables.isPR, false)
        env:
          # https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables
          BUNDLESIZE_ACCOUNT_KEY: $(bundlesize-account-key)
          BUNDLESIZE_ACCOUNT_NAME: fluentbundlesize

      - template: .devops/templates/cleanup.yml
