pr:
  - hotfix/5.135.6

# There's a separate pipeline for CI which also uses this file, but with a trigger override in the UI
# https://dev.azure.com/uifabric/fabricpublic/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=164&view=Tab_Triggers
trigger: none

variables:
  - group: fabric-variables
  - template: .devops/templates/variables.yml

pool: '1ES-Host-Ubuntu'

workspace:
  clean: all

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '8.x'
    displayName: 'Install Node.js'

  - script: |
      npm install --ignore-scripts
      node node_modules/@microsoft/rush/bin/rush install --bypass-policy
    displayName: rush install

  - script: |
      npm run checkchange
    displayName: check change

  - script: |
      npm run buildfast
    displayName: build ci

  # disable in this branch
  # - task: AzureUpload@2
  #   displayName: Upload website for PR deploy
  #   inputs:
  #     azureSubscription: $(azureSubscription)
  #     BlobPrefix: $(deployBasePath)
  #     ContainerName: '$web'
  #     SourcePath: 'apps/fabric-website/dist'
  #     storage: $(azureStorage)

  # - task: GithubPRStatus@0
  #   displayName: 'Update PR deploy site github status'
  #   inputs:
  #     githubOwner: microsoft
  #     githubRepo: fluentui
  #     githubContext: 'Deployed website'
  #     githubDescription: 'Click "Details" to go to the deployed website for this pull request'
  #     githubTargetLink: $(deployUrl)/index.html

  # disable in this branch due to issues installing old version of ngrok
  #  - script: |
  #      npm run vrtest
  #    displayName: run VR Test
  #    env:
  #      SCREENER_API_KEY: $(screener.key)
