pr: none

trigger: none

name: 'Deprecate Published Package'

parameters:
  # @see https://docs.npmjs.com/cli/v10/using-npm/package-spec
  - name: packageSpec
    type: string
    default: ''
  - name: message
    type: string
    default: 'Deprecated in favor of stable release'
  - name: dryRun
    displayName: Dry Run Mode
    type: boolean
    default: false

variables:
  - group: 'Github and NPM secrets'
  - name: tags
    value: production,externalfacing

resources:
  repositories:
    - repository: 1esPipelines
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: Azure-Pipelines-1ESPT-ExDShared
      image: windows-latest
      os: windows # We need windows because compliance task only run on windows.
    stages:
      - stage: main
        jobs:
          - job: DeprecateRelease
            pool:
              name: '1ES-Host-Ubuntu'
              image: '1ES-PT-Ubuntu-20.04'
              os: linux
            workspace:
              clean: all
            templateContext:
              outputs:
                - output: pipelineArtifact
                  targetPath: $(System.DefaultWorkingDirectory)
                  artifactName: output
            steps:
              - template: .devops/templates/tools.yml@self
              - script: |
                  npm deprecate ${{ parameters.packageSpec }} "${{ parameters.message }}" --registry https://registry.npmjs.org/ --//registry.npmjs.org/:_authToken=$(npmToken)
                displayName: 'Deprecate package'
                condition: not(${{ parameters.dryRun }})
