pr: none
trigger: none

# Customize build number to include major version
# Example: v7_20190626.1
name: 'v7_$(Date:yyyyMMdd)$(Rev:.r)'

variables:
  - group: 'Github and NPM secrets'
  - template: .devops/templates/variables.yml
    parameters:
      skipComponentGovernanceDetection: false

pool: 'Self Host Ubuntu'

schedules:
  # minute 0, hour 12 in UTC (5am in UTC+7), any day of month, any month, days 1-5 of week (M-F)
  # https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?tabs=yaml&view=azure-devops#supported-cron-syntax
  - cron: '0 12 * * 1-5'
    displayName: 'Daily release (M-F at 5am)' # will be 4am when DST ends unless trigger is updated
    branches:
      include:
        - 7.0

workspace:
  clean: all

steps:
  - template: .devops/templates/tools.yml

  - script: |
      git config user.name "Fluent UI Build"
      git config user.email "fluentui-internal@service.microsoft.com"
      git remote set-url origin https://$(githubUser):$(githubPAT)@github.com/microsoft/fluentui.git
    displayName: Authenticate git for pushes

  - task: Bash@3
    inputs:
      filePath: yarn-ci.sh
    displayName: yarn

  - script: |
      yarn generate-version-files
    displayName: Generate version files

  - script: |
      yarn run build --production
    displayName: yarn build

  # test, lint, bundle using lage cached build from previous step (omit --no-cache)
  - script: |
      yarn run test --production
    displayName: yarn test

  - script: |
      yarn run lint
    displayName: yarn lint

  - script: |
      yarn run bundle --production
    displayName: yarn bundle

  - script: |
      npm run publish:beachball -- -b origin/7.0 -n $(npmToken) --access public -y
      git reset --hard origin/7.0
    env:
      GITHUB_PAT: $(githubPAT)
    displayName: Publish changes and bump versions

  - script: |
      echo Making $(Build.ArtifactStagingDirectory)/api
      mkdir -p $(Build.ArtifactStagingDirectory)/api
      cp packages/*/dist/*.api.json $(Build.ArtifactStagingDirectory)/api
    displayName: Copy api.json files to artifact staging directory

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)/api
      artifactName: 'api-json'
      publishLocation: 'Container'
    displayName: 'Publish artifact: api-json'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: apps/fabric-website/dist
      artifactName: 'fabric-website'
      publishLocation: 'Container'
    displayName: 'Publish artifact: fabric-website'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: packages/office-ui-fabric-react/dist
      artifactName: 'fabric'
      publishLocation: 'Container'
    displayName: 'Publish artifact: fabric (packages/office-ui-fabric-react/dist)'

  - script: |
      oufrVersion=$(node -p -e "require('./packages/office-ui-fabric-react/package.json').version")
      echo "OUFR Version: $oufrVersion"
      echo $oufrVersion > oufr-version.txt
      echo "##vso[task.setvariable variable=oufrVersion;]$oufrVersion"
    displayName: 'Set oufrVersion variable'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: ./oufr-version.txt
      artifactName: 'oufr-version'
      publishLocation: 'Container'
    displayName: 'Publish artifact: oufr-version'

  # create-site-manifests is a script defined in @fluentui/public-docsite-setup.
  # It generates manifest files used to load the current version on developer.microsoft.com/fluentui.
  - script: |
      yarn create-site-manifests ./packages/react
    displayName: 'Generate website manifests'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: ./site-manifests
      artifactName: 'fabric-website-manifests'
      publishLocation: 'Container'
    displayName: 'Publish artifact: fabric-website-manifests'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: apps/fabric-website-resources/dist
      artifactName: 'fabric-website-resources'
      publishLocation: 'Container'
    displayName: 'Publish artifact: fabric-website-resources'

  - script: |
      node ./scripts/generate-package-manifest
    displayName: 'Generate package manifest'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: package-manifest
      artifactName: 'package-manifest'
      publishLocation: 'Container'
    displayName: 'Publish artifact: package-manifest'

  # Run this near the end because it's more likely to fail than the artifact upload tasks, and its
  # failure doesn't need to block anything else
  - script: |
      node -r ./scripts/ts-node-register ./scripts/updateReleaseNotes/index.ts --token=$(githubPAT) --apply --debug
    displayName: 'Update github release notes'

  # This would usually be run automatically (via a pipeline decorator from an extension), but the
  # thorough cleanup step prevents it from working. So run it manually here.
  - task: ComponentGovernanceComponentDetection@0
    displayName: 'Component Detection'
    inputs:
      sourceScanPath: $(Agent.BuildDirectory)
    condition: succeeded()
    timeoutInMinutes: 5
    continueOnError: true

  - template: .devops/templates/cleanup.yml
    parameters:
      checkForChangedFiles: false
