pr: none

trigger: none

pool: 'Self Host Ubuntu'

workspace:
  clean: all

name: '$(targetNpmVersion) ($(Rev:r))'

steps:
  - template: .devops/templates/tools.yml

  - script: |
      node -e "if('$(targetNpmVersion)' === '') throw new Error('targetNpmVersion is not specified');"
    displayName: 'Checking for targetNpmVersion variable'

  - script: |
      npm install semver
      node -e "let semver = require('semver');if(semver.valid('$(targetNpmVersion)') === null){ throw new Error('Invalid version specified'); }"
    displayName: 'Check targetNpmVersion is valid semver'

  - task: Bash@3
    inputs:
      filePath: yarn-ci.sh
    displayName: yarn

  - script: |
      npm version $(targetNpmVersion)
    workingDirectory: 'packages/office-ui-fabric-react'
    displayName: 'Manually set fabric version'

  - script: |
      yarn buildto office-ui-fabric-react --production
    displayName: yarn build to OUFR (Create production build)

  - script: yarn workspace office-ui-fabric-react bundle --production
    displayName: yarn bundle OUFR

  - script: |
      npm pack
    displayName: 'Create tarball'
    workingDirectory: 'packages/office-ui-fabric-react'

  - script: |
      npm publish packages/office-ui-fabric-react/office-ui-fabric-react-$(targetNpmVersion).tgz --tag hf7 --//registry.npmjs.org/:_authToken=$(npmToken)
    displayName: Publish new version

  - template: .devops/templates/cleanup.yml
    parameters:
      checkForChangedFiles: false
