pr:
  - master
  - website-content

trigger: none

variables:
  - group: fabric-variables
  - template: .devops/templates/variables.yml

pool: '1ES-Host-Ubuntu'

jobs:
  - job: CheckIfPackagesAffected
    steps:
      - template: .devops/templates/tools.yml

      - task: Bash@3
        inputs:
          filePath: yarn-ci.sh
        displayName: yarn

      - script: |
          yarn check-if-packages-affected
        name: PackagesAffected
        displayName: Check if v8 and/or  northstar packages were affected

  - job: PerfTestNorthstar
    displayName: Perf test for @fluentui/react-northstar
    dependsOn: CheckIfPackagesAffected
    condition: eq(dependencies.CheckIfPackagesAffected.outputs['PackagesAffected.NorthstarPackageAffected'], true)
    workspace:
      clean: all
    steps:
      - template: .devops/templates/tools.yml

      - task: Bash@3
        inputs:
          filePath: yarn-ci.sh
        displayName: yarn

      # Build @fluentui/perf-test-northstar
      - script: |
          yarn lage build --to @fluentui/perf-test-northstar --to @fluentui/react-conformance --verbose
        condition: eq(variables.isPR, true)
        displayName: Build to Perf Test (Northstar)

      # @fluentui/perf-test-northstar Baseline
      - script: |
          yarn perf:test:base
        condition: eq(variables.isPR, false)
        workingDirectory: packages/fluentui/perf-test-northstar
        displayName: Run Perf Test Base (Northstar)

      # Run @fluentui/perf-test-northstar
      - script: |
          yarn perf:test
        condition: eq(variables.isPR, true)
        workingDirectory: packages/fluentui/perf-test-northstar
        displayName: Run Perf Test (Northstar)

      - task: AzureUpload@2
        condition: eq(variables.isPR, true)
        displayName: Upload Perf Test Result to PR deploy site (Fluent N*)
        inputs:
          SourcePath: 'packages/fluentui/perf-test-northstar/dist'
          azureSubscription: $(azureSubscription)
          storage: $(azureStorage)
          ContainerName: '$web'
          BlobPrefix: '$(deployBasePath)/perf-test-northstar'

      - task: GithubPRComment@0
        condition: eq(variables.isPR, true)
        displayName: 'Post @fluentui/react-northstar Perf Results to Github Pull Request'
        inputs:
          githubOwner: microsoft
          githubRepo: 'fluentui'
          blobFilePath: '$(Build.SourcesDirectory)/$(PerfCommentFilePathNorthstar)'
          status: '$(PerfCommentStatusNorthstar)'
          uniqueId: 'perfComment9424'

      - script: |
          yarn stats:build
        condition: eq(variables.isPR, false)
        displayName: Bundle Statistics (master only)

      - script: |
          yarn perf
        condition: eq(variables.isPR, false)
        displayName: Performance Tests (master only)

      # HEADS UP: also see tag-version-prefix in fluentui-publish.js
      - script: |
          yarn stats:save --tag=`git tag --points-at HEAD | grep ^@fluentui/react-northstar_v | grep -o 'northstar_v.*'`
        condition: eq(variables.isPR, false)
        displayName: Save Statistics to DB (master only)
        env:
          STATS_URI: $(STATS_URI)

      - template: .devops/templates/cleanup.yml

  - job: PerfTestV8
    displayName: Perf test for @fluentui/react
    dependsOn: CheckIfPackagesAffected
    condition: eq(dependencies.CheckIfPackagesAffected.outputs['PackagesAffected.V8PackageAffected'], true)
    workspace:
      clean: all
    steps:
      - template: .devops/templates/tools.yml
      - task: Bash@3
        inputs:
          filePath: yarn-ci.sh
        displayName: yarn

      # Build v8 Perf Test
      - script: |
          yarn lage build --to perf-test --verbose
        condition: eq(variables.isPR, true)
        workingDirectory: apps/perf-test
        displayName: Build to Perf Test

      # V8: perf-test will build, bundle, and run-perftest
      - script: |
          yarn just perf-test
        condition: eq(variables.isPR, true)
        workingDirectory: apps/perf-test
        displayName: Run Perf Test

      - task: AzureUpload@2
        condition: eq(variables.isPR, true)
        displayName: Upload Perf Test Result to PR deploy site (V8)
        inputs:
          SourcePath: 'apps/perf-test/dist'
          azureSubscription: $(azureSubscription)
          storage: $(azureStorage)
          ContainerName: '$web'
          BlobPrefix: '$(deployBasePath)/perf-test'

      - task: GithubPRComment@0
        condition: eq(variables.isPR, true)
        displayName: 'Post @fluentui/react Perf Results to Github Pull Request'
        inputs:
          githubOwner: microsoft
          githubRepo: 'fluentui'
          blobFilePath: '$(Build.SourcesDirectory)/$(PerfCommentFilePath)'
          status: '$(PerfCommentStatus)'
          uniqueId: 'perfComment9423'

      - template: .devops/templates/cleanup.yml
