pr: none
trigger: none

# Customize build number to include major version
# Example: web-components_20201022.1
name: 'web-components_$(Date:yyyyMMdd)$(Rev:.r)'

variables:
  - group: 'Github and NPM secrets'
  - template: .devops/templates/variables.yml
    parameters:
      skipComponentGovernanceDetection: false
  - name: release.web_components # Used to scope beachball to release only vnext packages
    value: true
  - name: tags
    value: production,externalfacing

resources:
  repositories:
    - repository: 1esPipelines
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

schedules:
  # Triggers the nightly release
  # minute 0, hour 4 in UTC (5am in UTC+1), any day of month, any month, days 1-5 of week (M-F)
  # https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?tabs=yaml&view=azure-devops#supported-cron-syntax
  - cron: '0 4 * * 1-5'
    displayName: 'Daily release (M-F at 5am UTC+1)'
    branches:
      include:
        - master

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: Azure-Pipelines-1ESPT-ExDShared
      image: windows-latest
      os: windows # We need windows because compliance task only run on windows.
    stages:
      - stage: main
        jobs:
          - job: Release
            pool:
              name: '1ES-Host-Ubuntu'
              image: '1ES-PT-Ubuntu-20.04'
              os: linux
            workspace:
              clean: all
            templateContext:
              outputs:
                - output: pipelineArtifact
                  targetPath: $(System.DefaultWorkingDirectory)
                  artifactName: output
            steps:
              - template: .devops/templates/tools.yml@self

              - script: |
                  git config user.name "Fluent UI Build"
                  git config user.email "fluentui-internal@service.microsoft.com"
                  git remote set-url origin https://$(githubUser):$(githubPAT)@github.com/microsoft/fluentui.git
                displayName: Authenticate git for pushes

              - task: Bash@3
                inputs:
                  filePath: yarn-ci.sh
                displayName: yarn

              # --only makes it only run tests (otherwise due to the missing --production arg, lage would re-run the build)
              # https://github.com/microsoft/fluentui/issues/21686
              - script: |
                  yarn lage format:check lint test build --to @fluentui/web-components
                displayName: Build, [test], Lint

              - script: |
                  yarn publish:beachball -n $(npmToken) --config scripts/beachball/src/release-web-components.config.js --message 'release: applying package updates - web-components'
                  git reset --hard origin/master
                env:
                  GITHUB_PAT: $(githubPAT)
                displayName: Publish changes and bump versions

              - template: .devops/templates/cleanup.yml@self
                parameters:
                  checkForModifiedFiles: false
