pr:
  - master

# There's a separate pipeline for CI which also uses this file, but with a trigger override in the UI.
# https://dev.azure.com/uifabric/fabricpublic/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=164&view=Tab_Triggers
trigger: none

variables:
  - ${{ if not(startsWith(variables['Build.SourceBranch'], 'refs/heads/')) }}:
      - name: sinceArg
        value: --since $(targetBranch)

  - template: .devops/templates/variables.yml

pool: '1ES-Host-Ubuntu'

jobs:
  - job: VisualRegressionTest_WebComponents
    variables:
      pipelineId: '315'
      pipelineName: 'fluent-ui_VRT_Pipeline_web-components'
    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: webcomponents
          vrTestPackageName: 'vr-tests-web-components'
          vrTestPackagePath: 'apps/vr-tests-web-components'
          locationPrefix: 'FluentUI-web-components'
          locationPostfix: 'vrscreenshotwebcomponents'
          clientName: 'fluentui-web-components-v3'

  - job: VisualRegressionTest_V9
    variables:
      pipelineId: '311'
      pipelineName: 'fluent-ui_VRT_Pipeline_v9'

    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: v9
          vrTestPackageName: 'vr-tests-react-components'
          vrTestPackagePath: 'apps/vr-tests-react-components'
          locationPrefix: 'fluentuiv9'
          locationPostfix: 'vrscreenshotv9'
          clientName: 'fluentuiv9'

  - job: VisualRegressionTest_V8
    variables:
      pipelineId: '312'
      pipelineName: 'fluent-ui_VRT_Pipeline_v8'
    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: v8
          vrTestPackageName: 'vr-tests'
          vrTestPackagePath: 'apps/vr-tests'
          locationPrefix: 'fluentuiv8'
          locationPostfix: 'vrscreenshotv8'
          clientName: 'fluentuiv8'

  - job: VisualRegressionTest_V0
    variables:
      pipelineId: '313'
      pipelineName: 'fluent-ui_VRT_Pipeline_v0'

    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 0

      - template: .devops/templates/tools.yml

      - template: .devops/templates/runpublishvrscreenshot.yml
        parameters:
          fluentVersion: v0
          vrTestPackageName: 'docs'
          vrTestPackagePath: 'packages/fluentui/docs'
          locationPrefix: 'FluentUI-v0'
          locationPostfix: 'vrscreenshotv0'
          clientName: 'FluentUIV0'
