pr: none

trigger: none

name: '$(targetNpmVersion) ($(Rev:r))'

variables:
  - group: 'Github and NPM secrets'

pool:
  vmImage: 'Ubuntu 20.04'

steps:
  - task: NodeTool@0
    displayName: 'Use Node 8.x'
    inputs:
      versionSpec: 8.x

  - script: |
      node -e "if('$(targetNpmVersion)' === '') throw new Error('targetNpmVersion is not specified');"
    displayName: 'Checking for targetNpmVersion variable'

  - script: |
      npm install semver
      node -e "let semver = require('semver');if(semver.valid('$(targetNpmVersion)') === null){ throw new Error('Invalid version specified'); }"
    displayName: 'Check targetNpmVersion is valid semver'

  - script: |
      npm install --ignore-scripts
      node node_modules/@microsoft/rush/bin/rush install --bypass-policy
    displayName: rush install

  - script: |
      npm run build
    displayName: rush build (Create production build)

  - script: |
      npm version $(targetNpmVersion)
    workingDirectory: 'packages/office-ui-fabric-react'
    displayName: 'Manually set package version'

  - script: |
      npm pack
    displayName: 'Create tarball'
    workingDirectory: 'packages/office-ui-fabric-react'

  - script: |
      npm publish packages/office-ui-fabric-react/office-ui-fabric-react-$(targetNpmVersion).tgz --tag hf5 --//registry.npmjs.org/:_authToken=$(npmToken)
    displayName: Publish new version
