pr:
  - 7.0

trigger: none

variables:
  - group: fabric-variables
  - template: .devops/templates/variables.yml

pool: 'Self Host Ubuntu'

workspace:
  clean: all

steps:
  - template: .devops/templates/tools.yml

  - task: Bash@3
    inputs:
      filePath: yarn-ci.sh
    displayName: yarn

  - script: |
      yarn lage build --to perf-test --verbose --no-cache --grouped
    displayName: build to perf-test

  - script: |
      yarn just perf-test
    workingDirectory: apps/perf-test
    displayName: Perf Test

  - task: AzureUpload@2
    displayName: Upload Perf Test Result to PR deploy site
    inputs:
      SourcePath: 'apps/perf-test/dist'
      azureSubscription: $(azureSubscription)
      storage: $(azureStorage)
      ContainerName: '$web'
      BlobPrefix: '$(deployBasePath)/perf-test'

  - task: GithubPRComment@0
    displayName: 'Post Perf Results to Github Pull Request'
    inputs:
      githubOwner: microsoft
      githubRepo: 'fluentui'
      blobFilePath: '$(Build.SourcesDirectory)/$(PerfCommentFilePath)'
      status: '$(PerfCommentStatus)'
      uniqueId: 'perfComment9423'

  - script: |
      yarn stats:build
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/7.0')
    displayName: Bundle Statistics (7.0 only)

  - script: |
      yarn perf
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/7.0')
    displayName: Performance Tests (7.0 only)

  - template: .devops/templates/cleanup.yml
