/* TODO: Get fabric common scss in here. Or migrate to glamor. */

.root {
  background: red;
}

.button {
  border: none;
  padding: 0 16px;
  background: blue;
  color: white;
  height: 32px;
  min-width: 100px;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.text {
  background: green;
  padding: 4px;
}

.icon {
  background: blue;
  padding: 4px;
}

.chevron {
  background: orange;
  padding: 0 4px;
  margin-left: auto;
  margin-right: -12px;
}