@import '../../styles/variables';
@import '../../styles/mixins';

$platform-button-margin: 4px;
$icon-size: 16px;

.platformPicker {
  padding-bottom: 16px;
}

.platformPickerList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -$platform-button-margin;
}

.platformItem {
  margin: $platform-button-margin;
  width: calc(#{percentage(1/3)} - #{$platform-button-margin * 2});
}

.button {
  width: 100%;
  height: 30px;
  padding: 8px;
  border: 1px solid $ms-color-neutralQuaternary;
  font-size: $ms-font-size-s;
  @include focus-border(-1px);

  &:not([disabled]) {
    color: $ms-color-neutralSecondary;
  }

  .icon {
    color: $ms-color-neutralSecondary;
    width: $icon-size;
    height: $icon-size;
    margin: 0;

    path {
      stroke: $ms-color-neutralSecondary;
    }
  }

  .webIcon {
    position: relative;
    top: 1px;
  }

  .windowsLogo {
    width: $icon-size - 2px;
    height: $icon-size - 2px;
    font-size: $icon-size - 2px;
  }

  &:hover:not([disabled]) {
    color: $ms-color-neutralSecondary;
  }

  &.activePlatform:not([disabled]) {
    color: $ms-color-black;

    .icon {
      color: $ms-color-black;

      path {
        stroke: $ms-color-black;
      }
    }
  }
}
