@import '../../../common/common';

.root {
  @include focus-border();
  flex-shrink: 1;
  background: $ms-color-neutralLighter;
  margin: 1px;
  height: 26px;
  line-height: 26px;
  cursor: default;
  user-select: none;
  display: flex;
  flex-wrap: nowrap;
  max-width: 300px;

  &:hover {
    background: $ms-color-neutralLight;
  }

  &.isSelected {
    background: $ms-color-neutralQuaternary;

    @include high-contrast {
      border: 1px solid WindowFrame;
    }

    &:hover {
      background: $ms-color-neutralQuaternaryAlt;
    }
  }

  @include high-contrast {
    border: 1px solid WindowText;
  }
}

.tagItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 30px;
  margin: 0 8px;
}

.tagItemClose {
  cursor: pointer;
  color: $ms-color-neutralSecondary;
  font-size: $ms-font-size-s;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30px;
  height: 100%;
  flex-shrink: 0;
}

.tagItemButton {
  width: 100%;
  height: 100%;
}

.tagItemTextOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60vw;
}
