@import '../../../common/common';

.root {
  @include focus-border();
  flex-shrink: 0;
  background: $ms-color-neutralLighter;
  height: 32px;
  line-height: 32px;
  cursor: default;
  user-select: none;
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  &:hover {
    background: $ms-color-neutralLight;
  }

  &.isSelected {
    background: $ms-color-neutralQuaternary;
    &:hover {
      background: $ms-color-neutralQuaternaryAlt;
    }
  }
}

.tagItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100px;
  margin: 0 8px;
}

.tagItemClose {
  cursor: pointer;
  color: $ms-color-neutralSecondary;
  font-size: $ms-font-size-s;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30px;
  height: 100%;
  flex-shrink: 0;
}

.tagItemTextOveflow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60vw;
}
