@import '../../common/common';
@import "~office-ui-fabric/src/components/Button/Button";

.ms-Button--icon {
  @include focus-border(0px);
  background-color: transparent;
  color: $ms-color-neutralSecondary;
  padding: 0;
  min-width: auto;
  height: auto;
  border: 0;

  &:hover,
  &:active {
    background-color: transparent;
    border-color: transparent;
    outline-color: transparent;
    color: $ms-color-neutralPrimary;
  }

  &:focus {
    background-color: transparent;
  }

  .ms-Icon {
    font-size: 16px;
    padding: 8px;
  }

  .ms-Button-icon {
    display: inline;
  }

  &.is-disabled, &:disabled {
    color: $ms-color-neutralTertiaryAlt;
    background-color: transparent;
  }

  @media screen and (-ms-high-contrast: active) {
    color: $ms-color-yellowLight;
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    color: $ms-color-blueMid;
  }
}

// this is added because we have an anchor styled like a button and there is no
// disabled attribute so we're adding a css class with the same functionality instead
.ms-Button.ms-Button--primary.disabled {
  background-color: $ms-color-neutralLighter;
  border-color: $ms-color-neutralLighter;
  pointer-events: none;
  cursor: default;

  .ms-Button-label {
    color: $ms-color-neutralTertiary;
  }
}
// Add space between adjacent buttons.
.ms-Button + .ms-Button {
  @include margin-left(6px);
}

.ms-Button.ms-Button--command {
  @include text-align(left);

  .ms-Button-icon {
    @include margin-right(4px);
  }
}

.ms-Button.ms-Button--command + .ms-Button.ms-Button--command {
  @include margin-left(14px);
}

.ms-Button.ms-Button--compound {
  .ms-Button-label {
    @include text-align(left);
  }

  .ms-Button-description {
    @include text-align(left);
  }
}

// Overide text underline for anchor type button
a.ms-Button {
	text-decoration: none;
  text-align: center;
}