import * as React from 'react';
import { BaseComponent } from '../../Utilities';
import { I{{componentName}}Props } from './{{componentName}}.types';

export class {{componentName}} extends BaseComponent < I{{componentName}}Props, {} > {
  public render() {
    return(
      <div>Hello World!</div>
    );
  }
};