# [@uifabric/{{packageName}}](http://dev.microsoft.com/fabric)

##### {{friendlyPackageName}} components for Office UI Fabric React

These are not production ready components and __should never be used in product__. This {{friendlyPackageName}} space is useful for testing new components whose APIs might change before final release.

To import {{friendlyPackageName}} components:

```js
import { ComponentName } from '@uifabric/{{packageName}}';
```

Once the {{friendlyPackageName}} component graduates to a production release, the component will be available at:

```js
import { ComponentName } from 'office-ui-fabric-react';
```
