@import '../../common/common';

//
// Office UI Fabric
// --------------------------------------------------
// Panel styles


.root {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}