@import '../../../common/common';

:global {
  .ms-ListGridExample .ms-List-page {
    overflow: hidden;
    font-size: 0;
  }

  .ms-ListGridExample .ms-List-surface {
    position: relative;
  }

  .ms-ListGridExample-tile {
    text-align: center;
    outline: none;
    position: relative;
    @include ms-float(left);
    background: $ms-color-neutralLighter;
  }

  .ms-ListGridExample-sizer {
    padding-bottom: 100%;
  }

  .msListGridExample-padder {
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
  }

  .ms-Fabric.is-focusVisible .ms-ListGridExample-tile:focus:after {
    content: '';
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    box-sizing: border-box;
    border: 1px solid $ms-color-white;
  }

  .ms-ListGridExample-label {
    background: rgba(0,0,0,.3);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    left: 0;
    width: 100%;
    font-size: $ms-font-size-s;
    box-sizing: border-box;
  }

  .ms-ListGridExample-image {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}