@import '../../../common/common';

:global {
  .ms-ListBasicExample-itemCell {
    @include focus-border();

    min-height: 54px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $dividerColor;
    display: flex;
  }

  .ms-ListBasicExample-itemCell:hover {
    background: #EEE;
  }

  .ms-ListBasicExample-itemImage {
    flex-shrink: 0;
  }

  .ms-ListBasicExample-itemContent {
    @include margin-left(10px);
    overflow: hidden;
    flex-grow: 1;
  }

  .ms-ListBasicExample-itemName {
    @include ms-font-xl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ms-ListBasicExample-itemIndex {
    font-size: $ms-font-size-s;
    color: $ms-color-neutralTertiary;
    margin-bottom: 10px;
  }

  .ms-ListBasicExample-chevron {
    align-self: center;
    @include margin-left(10px);
    color: $ms-color-neutralTertiary;
    font-size: $ms-font-size-l;
    flex-shrink: 0;
  }
}
