@import '../../../common/common';

:global {
  .ms-ListScrollingExample {
    &-container {
      overflow: auto;
      max-height: 500px;
    }

    &-itemCell {
      .ms-ListScrollingExample-itemContent {
        @include ms-font-m;
        @include ms-normalize;
        @include ms-clearfix;
        position: relative;
        display: block;

        border-left: 3px solid $ms-color-themePrimary;
        padding-left: 27px; // Reduce padding to allow room for border.

        &-odd {
          height: 50px;
          line-height: 50px;
          background: $ms-color-neutralLighter;
        }

        &-even {
          height: 25px;
          line-height: 25px;
        }
      }
    }

    &-selected {
      background: lightblue;
    }
  }
}