.hStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap, 8px) / 2);

  > * {
    margin: calc(var(--gap, 8px) / 2);
  }
}

.vStack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > *:not(:first-child) {
    margin-top: var(--gap, 20px);
  }
}
