// Root elements
:global {
  html, body {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background: $Header-backgroundColor; // Match header/footer color for browsers with momentum scroll
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  // Border box everywhere
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  // Buttons
  button {
    background: transparent;
    border: none;
  }
}

// High contrast mode mixins
@mixin high-contrast {
  @media screen and (-ms-high-contrast: active) {
    @content;
  }
}

@mixin high-contrast-black-on-white {
  @media screen and (-ms-high-contrast: black-on-white) {
   @content;
  }
}

@mixin high-contrast-white-on-black {
  @media screen and (-ms-high-contrast: white-on-black) {
   @content;
  }
}
