@import "~office-ui-fabric/src/sass/Fabric.Common";

.ms-ContextualMenuHost {
  position: relative;
  min-height: 1px;
}

.ms-ContextualMenuHost-menu {
  position: absolute;
  z-index: $ms-zIndex-ContextualMenu;
}
