@import '../../common/common';

$ContextualMenu-background: $ms-color-white;
$ContextualMenu-itemHover: $ms-color-neutralLighter;
$ContextualMenu-expandedItemBackground: $ms-color-neutralQuaternaryAlt;
$ContextualMenu-itemHeight: 36px;
$ContextualMenu-iconWidth: 14px;

.ms-ContextualMenu {
  background-color: $ContextualMenu-background;
  min-width: 180px;
}

.ms-ContextualMenu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-y: auto;
  line-height: 0;
}

.ms-ContextualMenu-item {
  @include ms-font-m;
  color: $ms-color-neutralPrimary;

  position: relative;
  box-sizing: border-box;
}

.ms-ContextualMenu-link {
  @include focus-border();

  font: inherit;
  color: inherit;
  background: none;
  border: none;
  min-width: 100%;
  height: $ContextualMenu-itemHeight;
  line-height: $ContextualMenu-itemHeight;
  display: block;
  cursor: pointer;
  padding: 0px 6px;
  @include text-align(left);

  &:hover:not([disabled]) {
    background: $ContextualMenu-itemHover;
  }
  &.is-disabled,
  &[disabled] {
    color: $ms-color-neutralTertiaryAlt;
    cursor: default;
    pointer-events: none;
  }

  .is-focusVisible &:focus {
    background: $ContextualMenu-itemHover;
  }

  &.is-expanded,
  &.is-expanded:hover {
    background: $ContextualMenu-expandedItemBackground;
    color: $ms-color-black;
    font-weight: $ms-font-weight-semibold;
  }
}

a.ms-ContextualMenu-link {
  padding: 0px 6px;
  text-rendering: auto;
  color: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  box-sizing: border-box;
}
.ms-ContextualMenu-linkContent {
  white-space: nowrap;
}

.ms-ContextualMenu-divider {
  display: block;
  height: 1px;
  background-color: $dividerColor;
  position: relative;
}

.ms-ContextualMenu-icon {
  display: inline-block;
  min-height: 1px;
  width: $ContextualMenu-iconWidth;
  text-align: center;
  vertical-align: top;
  margin: 0px 4px;
}

.ms-ContextualMenu-itemText {
  @include padding(0, 12px, 0, 4px);
}

.ms-ContextualMenu-linkText {
  margin: 0px 4px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.ms-Icon.ms-ContextualMenu-submenuChevron {
  position: absolute;
  height: $ContextualMenu-itemHeight;
  line-height: $ContextualMenu-itemHeight;
  vertical-align: middle;
  @include right(8px);
  text-align: center;
  font-size: $ms-icon-size-xs;
}