@import '../../common/common';

$ContextualMenu-background: $ms-color-white;
$ContextualMenu-itemHover: $ms-color-neutralLighter;
$ContextualMenu-expandedItemBackground: $ms-color-neutralQuaternaryAlt;
$ContextualMenu-itemHeight: 36px;
$ContextualMenu-iconWidth: 14px;

.ms-ContextualMenu {
  background-color: $ContextualMenu-background;
  min-width: 180px;
  max-width: 300px;
}

.ms-ContextualMenu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-y: auto;
  line-height: 0;
}

.ms-ContextualMenu-item {
  @include ms-font-m;

  position: relative;
  box-sizing: border-box;
}

.ms-ContextualMenu-link {
  @include focus-border();

  font: inherit;
  color: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 0 4px;
  min-width: 100%;
  height: $ContextualMenu-itemHeight;
  line-height: $ContextualMenu-itemHeight;
  display: block;
  cursor: pointer;
  @include text-align(left);

  &:hover:not([disabled]) {
    background: $ContextualMenu-itemHover;
  }

  .is-focusVisible &:focus {
    background: $ContextualMenu-itemHover;
  }

  &.is-expanded,
  &.is-expanded:hover {
    background: $ContextualMenu-expandedItemBackground;
    color: $ms-color-black;
    font-weight: $ms-font-weight-semibold;
  }
}

.ms-ContextualMenu-divider {
  display: block;
  height: 1px;
  margin: 4px 0;
  background-color: $dividerColor;
  position: relative;
}

.ms-ContextualMenu-icon {
  display: inline-block;
  min-height: 1px;
  width: $ContextualMenu-iconWidth;
  text-align: center;
  vertical-align: top;
  padding: 0px 4px;
}

.ms-ContextualMenu-itemText {
  @include padding(0, 12px, 0, 4px);
}

.ms-Icon.ms-ContextualMenu-submenuChevron {
  position: absolute;
  height: $ContextualMenu-itemHeight;
  line-height: $ContextualMenu-itemHeight;
  vertical-align: middle;
  @include right(8px);
  text-align: center;
  font-size: $ms-icon-size-xs;
}