:root {
  --flex-display: flex;
  --flex-wrap: nowrap;
  --flex-direction: row;
  --flex-verticalAlign: stretch;
  --flex-horizontalAlign: flex-start;
  --flex-padding: 0;
  --flex-gap: 0 0;
}

.root {
  background: var(--flex-background);
  display: var(--flex-display);
  flex-wrap: var(--flex-wrap);
  align-items: var(--flex-verticalAlign);
  flex-direction: var(--flex-direction); // problem
  justify-content: var(--flex-horizontalAlign);
  max-height: var(--flex-maxHeight);
  max-width: var(--flex-maxWidth);
  padding: var(--flex-padding);
  margin: var(--flex-gap);

  &._column {
    --flex-direction: column;
  }

  &._inline {
    --flex-display: inline-flex;
  }

  &._fluid {
    height: 100%;
    max-height: 100%;
  }

  &._wrap {
    --flex-wrap: wrap;
  }

  &._horizontalAlign_start {
    --flex-horizontalAlign: flex-start;
  }

  &._horizontalAlign_end {
    --flex-horizontalAlign: flex-end;
  }

  &._horizontalAlign_center {
    --flex-horizontalAlign: center;
  }

  &._horizontalAlign_between {
    --flex-horizontalAlign: space-between;
  }

  &._horizontalAlign_around {
    --flex-horizontalAlign: space-around;
  }

  &._horizontalAlign_evenly {
    --flex-horizontalAlign: space-evenly;
  }

  &._verticalAlign_start {
    --flex-verticalAlign: flex-start;
  }

  &._verticalAlign_end {
    --flex-verticalAlign: flex-end;
  }

  &._verticalAlign_center {
    --flex-verticalAlign: center;
  }

  &._verticalAlign_stretch {
    --flex-verticalAlign: stretch;
  }

  &._verticalAlign_baseline {
    --flex-verticalAlign: baseline;
  }
}
