@import '../../../styles/variables';

.exampleIcons {
  align-items: center;
  display: flex;
  justify-content: space-around;

  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    span {
      display: block;
      font-size: $ms-font-size-s;
      margin-top: 20px;
    }
  }
}

.exampleIcons + .exampleIcons {
  margin-top: 60px;
}

.iconList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    align-items: center;
    display: flex;
    height: 60px;
    margin-bottom: 20px;
    width: 100%;
  }

  img {
    height: auto;
    margin-right: 20px;
    max-width: 48px;
  }

  span {
    font-size: $ms-font-size-xl;
    font-weight: $ms-font-weight-light;
  }
}

@media screen and (min-width: $uhf-screen-min-mobile) {
  .iconList {
    li {
      width: 50%;
    }
  }
}

@media screen and (min-width: $ms-screen-min-xl) {
  .iconList {
    li {
      width: 33%;
    }
  }
}