/**
 * The ThemeProvider has a root consuming class which will apply the current
 * token values to the container DIV, so that fonts and default colors, which
 * refer to token values, can be applied.
 */
// TODO: ensure correct styles are being set here
.root {
  // TODO: apply body theme based on `applyTo` prop.
  // background: var(--body-background);

  color: var(--body-contentColor);
  font-family: var(--body-fontFamily);
  font-weight: var(--body-fontWeight);
  font-size: var(--body-fontSize);

  button,
  input,
  textarea {
    font-family: inherit;
  }
}
