@import '../../common/common';

$detailsList-background-color: $listBackgroundColor;
$detailsList-text-color: $listTextColor;

.root {
  position: relative;
  font-size: $ms-font-size-s;
  background: $detailsList-background-color;
  color: $detailsList-text-color;
}

.focusZone {
  display: inline-block;
  vertical-align: top;
  min-width: 100%;
  min-height: 1px;
}

.rootIsHorizontalConstrained {
  overflow-x: auto;
  overflow-y: visible;

  -webkit-overflow-scrolling: touch;
}

/* Set the min height for a row to 38px so even rendering empty cells takes that space. */
.root :global(.ms-List-cell) {
  min-height: 38px;
  word-break: break-word;
}

.rootCompact {
  :global(.ms-List-cell) {
    min-height: 32px;
  }
}