
@import '../../common/common';

.check {
  @include focus-border();

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  border: none;
  opacity: 0;

  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;

  @include focus(true) {
    opacity: 1;
  }

  :global(.ms-DetailsList--Compact) & {
    height: 32px;
  }

  &.isHeader {
    height: 32px;
  }
}

/*
 * When the DetailsList hover mode is "above" and the list is in hover state,
 * make all checkboxes visible by default and hide checkboxes in rows below the hovered row.
 */
:global(.ms-DetailsList--HoverAbove:hover) {
  .check {
    opacity: 1;
  }
  :global(.ms-List-cell:hover) ~ :global(.ms-List-cell) {
    .check {
      opacity: 0;
    }
  }
  :global(.ms-List-page:hover) ~ :global(.ms-List-page) .check {
    opacity: 0;
  }
}

.owner {
  &.isSelected,
  &.isVisible,
  &.anySelected,
  &:hover {
    .check {
      opacity: 1;
    }
  }

  @include focus(true) {
    .check {
      opacity: 1;
    }
  }
}

.isDisabled {
  visibility: hidden;
}
