@import '../../common/common';

$iconForegroundColor: $ms-color-neutralSecondary;
$headerForegroundColor: $ms-color-neutralPrimary;
$headerBackgroundColor: $ms-color-white;
$dropdownChevronForegroundColor: $ms-color-neutralTertiary;
$rowHeight: 32px;
$resizerColor: $ms-color-neutralTertiaryAlt;
$cellPadding: 8px;
$isPaddedMargin: 24px;

.root {
  display: inline-block;
  background: $headerBackgroundColor;
  position: relative;
  min-width: 100%;
  vertical-align: top;
  height: $rowHeight;
  line-height: $rowHeight;
  white-space: nowrap;
  padding-bottom: 1px;
  border-bottom: 1px solid $dividerColor;
  cursor: default;
  user-select: none;

  &.rootIsSelectAllHidden {
    .cell.cellIsCheck {
      visibility: hidden;
    }
  }
}

.cellWrapperPadded {
  @include ms-padding-right($isPaddedMargin + $cellPadding);
}

.cell {
  @include ms-font-s;
  color: $headerForegroundColor;
  @include focus-border();
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 $cellPadding;
  border: none;
  line-height: inherit;
  margin: 0;
  height: $rowHeight;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include ms-text-align(left);

  &.cellIsCheck {
    position: relative;
    padding: 6px 8px;
    margin: 0;
  }

  &.cellIsActionable {

    &:hover {
      color: $ms-color-neutralPrimary;
      background: $unselectedHoverBackgroundColor;
    }

    &:active {
      background: $unselectedActiveBackgroundColor;
    }
  }

  &.cellIsEmpty {
    text-overflow: clip;
  }
}

.cellSizer {
  @include focus-clear();

  display: inline-block;
  position: relative;
  cursor: ew-resize;
  bottom: 0;
  top: 0;
  margin: 0 -8px;
  overflow: hidden;
  height: inherit;
  background: transparent;
  z-index: 1;
  width: 16px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: $resizerColor;
    opacity: 0;
    left: 50%;
  }

  &:focus:after,
  &:hover:after,
  &.cellIsResizing:after {
    opacity: 1;
    transition: opacity .3s linear;
  }

  &.cellIsResizing:after {
    @include ms-drop-shadow();
  }
}

.collapseButton {
  text-align: center;
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  transition: transform .1s linear;
  width: 20px;
  outline: 0;

  &.collapseButtonIsCollapsed {
    transform: rotate(0deg);
  }
}

.iconOnlyHeader {
  .nearIcon {
    @include ms-padding-left(0);
  }
}

.nearIcon {
  color: $iconForegroundColor;
  opacity: 1;
  @include ms-padding-left(8px);
}

.cell .filterChevron {
  color: $dropdownChevronForegroundColor;
  @include ms-padding-left(4px);
  vertical-align: middle;
}

.cellTitle {
  display: block;
  overflow: hidden;
  @include focus-border($position: absolute);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 8px;
}

:global(.ms-TooltipHost).checkTooltip {
  display: block;
}

.cellTooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sizingOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: ew-resize;
  background: rgba(255, 255, 255, 0);

  @include high-contrast {
    background: transparent;
    -ms-high-contrast-adjust: none;
  }
}

.cell .collapseButton {
  @include ms-padding-right(0);
}

.accessibleLabel {
  @include ms-screenReaderOnly;
}
