@import '../../common/common';

$rowHeight: 36px;
$rowVerticalPadding: 10px;

// component slots
$detailsList-item-hover-color: $listItemHoverColor;
$detailsList-item-selected-color: $listItemSelectedColor;
$detailsList-item-selected-hover-color: $listItemSelectedHoverColor;

.root {
  @include focus-border();

  display: flex;
  min-width: 100%;
  min-height: $rowHeight;
  margin: 1px 0;
  vertical-align: top;
  white-space: nowrap;
  padding: 0;
  box-sizing: border-box;

  background: none;
  border: none;
  @include text-align(left);
  vertical-align: top;

  &:hover {
    background: $detailsList-item-hover-color;
  }
}

.rootIsSelected {
  background: $detailsList-item-selected-color;

  &:hover {
    background: $detailsList-item-selected-hover-color;
  }
}

.rootIsContentUnselectable {
  user-select: none;
  cursor: default;
}

.cell {
  @include focus-border();

  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: $rowVerticalPadding 8px;
  min-height: $rowHeight;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > button {
    max-width: 100%;
  }

  &.checkCell {
    padding: 0;
    margin: 0;
  }
}

.isMultiline {
  white-space: normal;
  word-break: break-word;
  text-overflow: clip;
}

.fields {
  display: flex;
  align-items: stretch;
}

.cellMeasurer .cell {
  overflow: visible;
  white-space: nowrap;
}
