
@import '../../common/common';

.check {
  @include focus-border();

  display: inline-block;
  cursor: default;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  border: none;
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

button.check {
  height: 100%;
  width: 40px;
  padding: 6px 8px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner {
  &.isSelected,
  &.isVisible,
  &:hover {
    .check {
      opacity: 1;
    }
  }

  @include focus(true) {
    .check {
      opacity: 1;
    }
  }
}

.isDisabled {
  visibility: hidden;
}
