@import '../../common/common';

.root {
  position: relative;
  font-size: $ms-font-size-s;
}

.focusZone {
  display: inline-block;
  vertical-align: top;
  min-width: 1px;
  min-height: 1px;
}

.isHorizontalConstrained {
  overflow-x: auto;
  overflow-y: visible;

  -webkit-overflow-scrolling: touch;
}

/* Set the min height for a row to 38px so even rendering empty cells takes that space. */
.root :global(.ms-List-cell) {
  min-height: 38px;
  word-break: break-word;
}
