@import '../../common/common';

$rowHeight: 36px;
$rowVerticalPadding: 10px;
$selectedColor: $ms-color-neutralQuaternary;
$selectedHoverColor: $ms-color-neutralQuaternaryAlt;
$unselectedHoverColor: $ms-color-neutralLighter;

.ms-DetailsRow {
  @include focus-border();

  display: inline-block;
  min-width: 100%;
  min-height: $rowHeight;
  margin: 1px 0;
  vertical-align: top;
  white-space: nowrap;
  padding: 0;
  box-sizing: border-box;

  background: none;
  border: none;
  @include text-align(left);
  vertical-align: top;
  line-height: $rowHeight - ($rowVerticalPadding * 2);

  &.ms-DetailsRow.is-selected {
    background: $selectedColor;
  }

  &.is-contentUnselectable {
    user-select: none;
    cursor: default;
  }
}

.ms-DetailsRow:hover {
  background: $unselectedHoverColor;
}

.ms-DetailsRow.is-selected:hover {
  background: $selectedHoverColor;
}

.ms-DetailsRow-cell {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: $rowVerticalPadding 0;
  margin: 0 8px;
  min-height: $rowHeight;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-multiline {
    white-space: normal;
    word-break: break-word;
    text-overflow: clip;
  }
}

.ms-DetailsRow-fields {
  display: inline-block;
}

.ms-DetailsRow-check {
  @include focus-border();

  display: inline-block;
  cursor: default;
  padding: 6px;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  border: none;
}

.ms-DetailsRow-check {
  opacity: 0;
}

.ms-DetailsRow:hover .ms-DetailsRow-check,
.ms-DetailsRow.is-selected .ms-DetailsRow-check,
.ms-DetailsRow.is-check-visible .ms-DetailsRow-check {
  opacity: 1;
}

// TODO: delete?
.aFileTypeIconRenderer {
  height: 36px;
  line-height: 36px;
  vertical-align: top;
}

.FileTypeIconRenderer > img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.ms-DetailsRow-cellMeasurer .ms-DetailsRow-cell {
  overflow: visible;
  white-space: nowrap;
}

.ms-DetailsRow-checkSpacer {
  display: inline-block;
  height: 20px;
  width: 20px;
}