@import '../../common/common';

$Header-fabricWebsiteHeaderColor: #272630;

:global {
  .Header {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background: $Header-fabricWebsiteHeaderColor;
    overflow: hidden;
    white-space: no-wrap;
    user-select: none;
    color: white;
  }

  @media (max-width: $ms-screen-max-lg) {
    .Header {
      padding: 0;
    }
  }

  .Header-title,
  .Header-buttons,
  .Header-button {
    display: inline-block;
    vertical-align: top;
    color: white;
  }

  .Header-title {
    line-height: 48px;

    .ms-Icon {
      @include padding-right(8px);
    }
  }

  .Header-buttons {
    @include float(right);
  }

  .Header-button {
    @include focus-border(2px, $ms-color-themeLight);

    position: relative;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    padding: 0px 10px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;

    .ms-Icon {
      font-size: 18px;
    }

    &:hover {
      background: $ms-color-themePrimary;
    }
  }

  @media (max-width: $ms-screen-max-lg) {
    .Header-button {
      margin: 0;

      &:hover {
        background: inherit;
      }
    }
  }
}
