@import '../../../common/common';

:global {
  .ms-ContextualMenuDirectionalExample {
    position: relative;
  }

  .ms-ContextualMenuDirectionalExample-configArea,
  .ms-ContextualMenuDirectionalExample-buttonArea {
    display: inline-block;
    min-width: 300px;
  }

  .ms-ContextualMenuDirectionalExample-buttonArea {
    position: absolute;
    vertical-align: top;
    width: 300px;
    top: 70px;
    margin: 0 100px;
    text-align: center;
  }

  .ms-ContextualMenuDirectionalExample-buttonArea .ms-Button {
    text-align: center;
    width: 100%;
  }

  .ms-ContextualMenu-customizationExample-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 8px;
    cursor: pointer;

    &:hover {
      background-color: #eaeaea;
    }
  }

  .ms-ContextualMenu-customizationExample-categoriesList {
    margin: 0px;
    padding: 0;
    list-style-type: none;
  }

  .ms-ContextualMenu-customizationExample-categorySwatch {
    width: 24px;
    height: 24px;
    vertical-align: top;
  }

  .ms-ContextualMenu-example-clickableArea {
    background: lightblue;
    border: none;
    font-size: 0;
    height: 200px;
    width: 100%;
  }

  .ms-ContextualMenu-customizationExample {
    text-align: center;
    max-width: 180px;
    .ms-ContextualMenu-item {
      height: auto;
    }
  }

  .ms-ContextualMenu-customizationExample-button {
    max-width: 50%;
  }
}

.iconContainer {
  position: relative;
  margin: 0 4px;
  height: 32px;
  width: 14px;
}

.logoFillIcon,
.logoIcon {
  position: absolute;
  left: 0;
  right: 0;
  color: $ms-color-themeDarkAlt;
}

.logoFillIcon {
  color: #ffffff;
}
