// TODO move to common styles
$fontFamily-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontFamily-monospace: Consolas, 'Courier New', Courier, monospace;
$fontFamily-numeric: Bahnschrift, $fontFamily-base;

// TODO double-check icon sizes
$iconSize-small: 12px;
$iconSize-medium: 16px;
$iconSize-large: 32px;
$iconSize-larger: 48px;
$iconSize-largest: 64px;

$fontSize-100: 10px;
$fontSize-200: 12px;
$fontSize-300: 14px;
$fontSize-400: 16px;
$fontSize-500: 20px;
$fontSize-600: 24px;
$fontSize-700: 28px;
$fontSize-800: 32px;
$fontSize-900: 40px;
$fontSize-1000: 68px;

$lineHeight-100: 14px;
$lineHeight-200: 16px;
$lineHeight-300: 20px;
$lineHeight-400: 22px;
$lineHeight-500: 28px;
$lineHeight-600: 32px;
$lineHeight-700: 36px;
$lineHeight-800: 40px;
$lineHeight-900: 52px;
$lineHeight-1000: 92px;

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;

$fontSize-legal: $fontSize-100;
$fontSize-caption: $fontSize-200;
$fontSize-body: $fontSize-300;
$fontSize-subheadline: $fontSize-400;
$fontSize-headline: $fontSize-500;
$fontSize-title3: $fontSize-600;
$fontSize-title2: $fontSize-700;
$fontSize-title1: $fontSize-800;
$fontSize-largeTitle: $fontSize-900;
$fontSize-display: $fontSize-1000;

$lineHeight-legal: $lineHeight-100;
$lineHeight-caption: $lineHeight-200;
$lineHeight-body: $lineHeight-300;
$lineHeight-subheadline: $lineHeight-400;
$lineHeight-headline: $lineHeight-500;
$lineHeight-title3: $lineHeight-600;
$lineHeight-title2: $lineHeight-700;
$lineHeight-title1: $lineHeight-800;
$lineHeight-largeTitle: $lineHeight-900;
$lineHeight-display: $lineHeight-1000;

$fontWeight-legal: $fontWeight-regular;
$fontWeight-caption: $fontWeight-regular;
$fontWeight-body: $fontWeight-regular;
$fontWeight-subheadline: $fontWeight-semibold;
$fontWeight-headline: $fontWeight-semibold;
$fontWeight-title3: $fontWeight-semibold;
$fontWeight-title2: $fontWeight-semibold;
$fontWeight-title1: $fontWeight-semibold;
$fontWeight-largeTitle: $fontWeight-semibold;
$fontWeight-display: $fontWeight-semibold;

@mixin font-legal($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-100;
  #{$fontWeight}: $fontWeight-regular;
}

@mixin font-caption($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-200;
  #{$fontWeight}: $fontWeight-regular;
}

@mixin font-body($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-300;
  #{$fontWeight}: $fontWeight-regular;
}

@mixin font-subheadline($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-400;
  #{$fontWeight}: $fontWeight-semibold;
}

@mixin font-headline($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-500;
  #{$fontWeight}: $fontWeight-semibold;
}

@mixin font-title3($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-600;
  #{$fontWeight}: $fontWeight-semibold;
}

@mixin font-title2($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-700;
  #{$fontWeight}: $fontWeight-semibold;
}

@mixin font-title1($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-800;
  #{$fontWeight}: $fontWeight-semibold;
}

@mixin font-large-title($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-900;
  #{$fontWeight}: $fontWeight-semibold;
}

@mixin font-display($fontSize: font-size, $fontWeight: font-weight) {
  #{$fontSize}: $fontSize-1000;
  #{$fontWeight}: $fontWeight-semibold;
}

$borderRadius-none: 0px;
$borderRadius-small: 2px;
$borderRadius-medium: 4px;
$borderRadius-large: 6px;
$borderRadius-xlarge: 8px;
$borderRadius-circle: 50%;

$stroke-thin: 1px;
$stroke-thick: 2px;
$stroke-thicker: 3px;
$stroke-thickest: 4px;

// TODO figure out palette colors
$color-default-shadowAmbient: rgba(0, 0, 0, 0.12);
$color-default-shadowKey: rgba(0, 0, 0, 0.14);
$color-default-shadowAmbientLighter: rgba(0, 0, 0, 0.06);
$color-default-shadowKeyLighter: rgba(0, 0, 0, 0.07);
$color-default-shadowAmbientDarker: rgba(0, 0, 0, 0.20);
$color-default-shadowKeyDarker: rgba(0, 0, 0, 0.24);

$shadow-2: 0px 0px 2px $color-default-shadowAmbient, 0px 1px 2px $color-default-shadowKey;
$shadow-4: 0px 0px 2px $color-default-shadowAmbient, 0px 2px 4px $color-default-shadowKey;
$shadow-4-darker: 0px 0px 2px $color-default-shadowAmbientDarker, 0px 2px 4px $color-default-shadowKeyDarker;
$shadow-4-lighter: 0px 0px 2px $color-default-shadowAmbientLighter, 0px 2px 4px $color-default-shadowKeyLighter;
$shadow-8: 0px 0px 2px $color-default-shadowAmbient, 0px 4px 8px $color-default-shadowKey;
$shadow-8-darker: 0px 0px 2px $color-default-shadowAmbientDarker, 0px 4px 8px $color-default-shadowKeyDarker;
$shadow-8-lighter: 0px 0px 2px $color-default-shadowAmbientLighter, 0px 4px 8px $color-default-shadowKeyLighter;
$shadow-16: 0px 0px 4px $color-default-shadowAmbient, 0px 6px 16px $color-default-shadowKey;
$shadow-16-darker: 0px 0px 4px $color-default-shadowAmbientDarker, 0px 6px 16px $color-default-shadowKeyDarker;
$shadow-16-lighter: 0px 0px 4px $color-default-shadowAmbientLighter, 0px 6px 16px $color-default-shadowKeyLighter;
$shadow-28: 0px 0px 8px $color-default-shadowAmbientDarker, 0px 14px 28px $color-default-shadowKeyDarker;
$shadow-64: 0px 0px 8px $color-default-shadowAmbientDarker, 0px 32x 64px $color-default-shadowKeyDarker;
