@import 'tokens';

// Define default variable values
$default-width: 32px;
$default-height: 32px;
$default-iconSize: $iconSize-medium;
$default-borderRadius: $borderRadius-circle;
$default-fontFamily: $fontFamily-base;
$default-fontSize: $fontSize-body;
$default-fontWeight: $fontWeight-semibold;
$default-background: $color-default-neutralBackgroundSextenary;
$default-color: $color-default-neutralForegroundTertiary;

$default-activeRingColor: $color-default-brand;
$default-activeGlowColor: rgba($color-default-brand, 0.3);

$default-inactiveOpacity: 0.8;
$default-inactiveScale: 0.875;

// Root slot
.root {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  width: var(--avatar-width, $default-width);
  height: var(--avatar-height, $default-height);
  font-family: var(--avatar-fontFamily, $default-fontFamily);
  font-size: var(--avatar-fontSize, $default-fontSize);
  font-weight: var(--avatar-fontWeight, $default-fontWeight);
  border-radius: var(--avatar-borderRadius, $default-borderRadius);
}

// Image slot
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  border-radius: inherit;
}

// Label slot
.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  border-radius: inherit;
  color: var(--avatar-color, $default-color);
  background: var(--avatar-background, $default-background);
}

// Badge slot
.badge {
  position: absolute;
  bottom: 0;
  right: 0;

  // Size the badge appropriately for this avatar size
  --badge-size: calc(var(--avatar-height, $default-height) / 4);
}

// Modifiers
._size_20 {
  --avatar-width: 20px;
  --avatar-height: 20px;
}
._size_24 {
  --avatar-width: 24px;
  --avatar-height: 24px;
}
._size_28 {
  --avatar-width: 28px;
  --avatar-height: 28px;
}
._size_32 {
  --avatar-width: 32px;
  --avatar-height: 32px;
}
._size_36 {
  --avatar-width: 36px;
  --avatar-height: 36px;
}
._size_40 {
  --avatar-width: 40px;
  --avatar-height: 40px;
}
._size_48 {
  --avatar-width: 48px;
  --avatar-height: 48px;
}
._size_56 {
  --avatar-width: 56px;
  --avatar-height: 56px;
}
._size_64 {
  --avatar-width: 64px;
  --avatar-height: 64px;
}
._size_72 {
  --avatar-width: 72px;
  --avatar-height: 72px;
}
._size_96 {
  --avatar-width: 96px;
  --avatar-height: 96px;
}
._size_120 {
  --avatar-width: 120px;
  --avatar-height: 120px;
}
._size_128 {
  --avatar-width: 128px;
  --avatar-height: 128px;
}

// Icon and text sizes
._size_20,
._size_24 {
  --avatar-iconSize: #{$iconSize-small};
  --avatar-fontSize: #{$fontSize-legal};
  --avatar-fontWeight: #{$fontWeight-legal};
}
._size_28 {
  --avatar-iconSize: #{$iconSize-medium};
  --avatar-fontSize: #{$fontSize-caption};
  --avatar-fontWeight: #{$fontWeight-semibold};
}
._size_32,
._size_36,
._size_40 {
  --avatar-iconSize: #{$iconSize-medium};
  --avatar-fontSize: #{$fontSize-body};
  --avatar-fontWeight: #{$fontWeight-semibold};
}
._size_48,
._size_56 {
  --avatar-iconSize: #{$iconSize-large};
  --avatar-fontSize: #{$fontSize-subheadline};
  --avatar-fontWeight: #{$fontWeight-subheadline};
}
._size_64,
._size_72 {
  --avatar-iconSize: #{$iconSize-large};
  --avatar-fontSize: #{$fontSize-headline};
  --avatar-fontWeight: #{$fontWeight-headline};
}
._size_96 {
  --avatar-iconSize: #{$iconSize-larger};
  --avatar-fontSize: #{$fontSize-headline};
  --avatar-fontWeight: #{$fontWeight-headline};
}
._size_120,
._size_128 {
  --avatar-iconSize: #{$iconSize-largest};
  --avatar-fontSize: #{$fontSize-title3};
  --avatar-fontWeight: #{$fontWeight-title3};
}

// Square modifier
._square {
  &._size_20,
  &._size_24 {
    --avatar-borderRadius: #{$borderRadius-small};
  }
  // default size:
  // &._size_28,
  // &._size_32,
  // &._size_36,
  // &._size_40,
  // &._size_48 {
  --avatar-borderRadius: #{$borderRadius-medium};
  // }
  &._size_56,
  &._size_64,
  &._size_72 {
    --avatar-borderRadius: #{$borderRadius-large};
  }
  &._size_96,
  &._size_120,
  &._size_128 {
    --avatar-borderRadius: #{$borderRadius-xlarge};
  }
}

// ActiveDisplay modifiers
._activeRing {
  // default size:
  // &._size_20,
  // &._size_24,
  // &._size_28,
  // &._size_32,
  // &._size_36,
  // &._size_40 {
  --avatar-activeRingWidth: #{$stroke-thick};
  // }
  &._size_48,
  &._size_56,
  &._size_64 {
    --avatar-activeRingWidth: #{$stroke-thicker};
  }
  &._size_72,
  &._size_96,
  &._size_120,
  &._size_128 {
    --avatar-activeRingWidth: #{$stroke-thickest};
  }
}
._activeShadow {
  &._size_20,
  &._size_24,
  &._size_28 {
    --avatar-activeShadow: #{$shadow-4-darker};
  }
  // default size:
  // &._size_32,
  // &._size_36,
  // &._size_40 {
  --avatar-activeShadow: #{$shadow-8-darker};
  // }
  &._size_48,
  &._size_56,
  &._size_64 {
    --avatar-activeShadow: #{$shadow-16-darker};
  }
  &._size_72,
  &._size_96,
  &._size_120,
  &._size_128 {
    --avatar-activeShadow: #{$shadow-28};
  }
}
._activeGlow {
  &._size_20,
  &._size_24,
  &._size_28 {
    --avatar-activeShadow: #{$shadow-4-darker}, 0 0 4px 2px var(--avatar-activeGlowColor, #{$default-activeGlowColor});
  }
  // default size:
  // &._size_32,
  // &._size_36,
  // &._size_40 {
  --avatar-activeShadow: #{$shadow-8-darker}, 0 0 8px 2px var(--avatar-activeGlowColor, #{$default-activeGlowColor});
  // }
  &._size_48,
  &._size_56,
  &._size_64 {
    --avatar-activeShadow: #{$shadow-16-darker}, 0 0 8px 2px var(--avatar-activeGlowColor, #{$default-activeGlowColor});
  }
  &._size_72,
  &._size_96,
  &._size_120,
  &._size_128 {
    --avatar-activeShadow: #{$shadow-28}, 0 0 28px 4px var(--avatar-activeGlowColor, #{$default-activeGlowColor});
  }
}

// Activity modifiers
._active,
._inactive {
  transform: perspective(1px); // Work-around for text pixel snapping at the end of the animation
  transition: transform $anim-ultraSlow $anim-fastEase, opacity $anim-faster $anim-nullEasing;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: calc(-2 * var(--avatar-activeRingWidth));
    border-width: var(--avatar-activeRingWidth);
    border-color: var(--avatar-activeRingColor, $default-activeRingColor);
    border-style: solid;
    border-radius: inherit;
    box-shadow: var(--avatar-activeShadow);
    transition: margin $anim-ultraSlow $anim-fastEase, opacity $anim-slower $anim-nullEasing;
  }
}

._inactive {
  opacity: var(--avatar-inactiveOpacity, $default-inactiveOpacity);
  transform: scale(var(--avatar-inactiveScale, $default-inactiveScale));
  transition: transform $anim-ultraSlow $anim-fastOutSlowInMin, opacity $anim-faster $anim-nullEasing;

  &:before {
    margin: 0;
    opacity: 0;
    transition: margin $anim-ultraSlow $anim-fastOutSlowInMin, opacity $anim-slower $anim-nullEasing;
  }
}

// Display modifiers
._display_icon {
  // When displaying as icon, the font size comes from the iconSize token instead of the fontSize token
  font-size: var(--avatar-iconSize, $default-iconSize);
  font-weight: initial;
}
