// Define default variable values
:root {
  --avatar-size: 32px;
  --avatar-borderColor: transparent;
  --avatar-borderWidth: 0;
  --avatar-borderRadius: 9999px;

  --avatar-squareBorderRadius: 3px;
  --avatar-fill: rgb(232, 232, 232);

  --avatar-status-borderColor: transparent;
  --avatar-status-borderWidth: 2px;
}

// Root slot
.root {
  position: relative;
  background-color: inherit;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  width: var(--avatar-size);
  height: var(--avatar-size);
}

// Image slot
.image {
  position: absolute;
  border-radius: var(--avatar-borderRadius);
  top: 0;
  left: 0;
  width: var(--avatar-size);
  height: var(--avatar-size);
  object-fit: cover;
  vertical-align: top;
}

// Label slot
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--avatar-fill);

  font-size: var(--avatar-fontSize, calc(var(--avatar-size) / 2.333));
  width: var(--avatar-size);
  height: var(--avatar-size);

  vertical-align: top;
  text-align: center;
  padding: 0px;
  border-radius: 99999px;
}

// Status slot
.status {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 0 var(--avatar-status-borderWidth) var(--avatar-status-borderColor);
}

// Modifiers
._square {
  .image {
    border-radius: var(--avatar-squareBorderRadius);
  }

  .label {
    border-radius: var(--avatar-squareBorderRadius);
  }
}
