@import '~@fluentui/common-styles/dist/sass/themeCssVariables';
@import '~@fluentui/common-styles/dist/sass/highContrast';
@import '~@fluentui/common-styles/dist/sass/focusBorder';

$DEFAULT_PILL_HEIGHT: 20px;
$DEFAULT_PILL_WIDTH: 40px;
$DEFAULT_THUMB_SIZE: 12px;

.root {
  margin-bottom: 8px;

  @include fonts-medium;

  &.inlineLabel {
    display: flex;
    align-items: center;
  }
}

.label {
  &.disabled {
    color: var($semanticColorsDisabledText);

    @include high-contrast {
      color: GrayText;
    }
  }

  &.inlineLabel {
    margin-right: 16px;
    word-break: break-all;

    &.onOffMissing {
      margin-left: 16px;
      order: 1;
    }
  }
}

.container {
  display: inline-flex;
  position: relative;
}

.pill {
  align-items: center;
  background: var($semanticColorsBodyBackground);
  border: 1px solid var($semanticColorsSmallInputBorder);
  border-radius: $DEFAULT_PILL_HEIGHT / 2;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: $DEFAULT_PILL_HEIGHT;
  padding: 0 3px;
  transition: all 0.1s ease;
  width: $DEFAULT_PILL_WIDTH;

  @include focus-border($padding: -2px);

  &:hover {
    border-color: var($semanticColorsInputBorderHovered);

    &.thumb {
      background-color: var($paletteNeutralDark);

      @include high-contrast {
        border-color: Highlight;
      }
    }

    @include high-contrast {
      border-color: Highlight;
    }
  }

  &.checked {
    background: var($semanticColorsInputBackgroundChecked);
    border-color: transparent;
    justify-content: flex-end;

    &:hover {
      background-color: var($paletteThemeDark);
      border-color: transparent;

      @include high-contrast {
        background-color: Highlight;
      }
    }

    @include high-contrast {
      background-color: Highlight;
    }

    @include high-contrast-edge-chromium-no-adjust;
  }

  &.disabled {
    border-color: var($semanticColorsDisabledBodySubtext);
    cursor: default;

    &.checked {
      background-color: var($semanticColorsDisabledBodySubtext);
      border-color: transparent;
      justify-content: flex-end;
    }
  }
}

.thumb {
  background-color: var($semanticColorsSmallInputBorder);
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: var($DEFAULT_THUMB_SIZE);
  transition: all 0.1s ease;
  width: var($DEFAULT_THUMB_SIZE);

  // Border is added to handle high contrast mode for Firefox.
  border-color: transparent;
  border-style: solid;
  border-width: $DEFAULT_THUMB_SIZE / 2;

  &.checked {
    background-color: var($semanticColorsInputForegroundChecked);

    @include high-contrast {
      background-color: Window;
      border-color: Window;
    }
  }

  &.disabled {
    background-color: var($semanticColorsDisabledBodySubtext);

    &.checked {
      background-color: var($semanticColorsDisabledBackground);
    }
  }
}

.text {
  // Workaround: Make rules more specific than Label rules.
  & {
    font-weight: var($fontsMediumFontWeight);
    margin: 0 8px;
    padding: 0;
    user-select: none;
  }

  &.disabled {
    & {
      color: var($semanticColorsDisabledText);

      @include high-contrast {
        color: GrayText;
      }
    }
  }
}
