@import '../../common/common';

.root {
  user-select: none;
  margin-bottom: 8px;
}

.titleLabel {
  padding: 0;
}

.line {
  display: flex;
  position: relative;
  width: 100%;
}

.line span {
  height: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

.activeSection {
  background: $ms-color-neutralSecondary;

  @media screen and (-ms-high-contrast: active) {
    background-color: WindowText;
  }
}

.inactiveSection {
  background: $ms-color-neutralTertiaryAlt;

  @media screen and (-ms-high-contrast: active) {
    border: 1px solid WindowText;
  }
}

.showTransitions {
  .thumb {
    transition: left $ms-animation-duration-3 $ms-animation-ease-1;
  }

  .activeSection,
  .inactiveSection {
    transition: width $ms-animation-duration-3 $ms-animation-ease-1;
  }
}
.slideBox {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.slideBox .thumb {
  border: 2px solid $ms-color-neutralSecondary;
  box-sizing: border-box;
  background: $ms-color-white;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -6px;
  border-radius: 10px;
  @include transform-translateX(-50%);
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}


.slideBox {
  @include focus-border();
  flex-grow: 1;
  height: 28px;
  line-height: 28px;
  padding: 0 8px; // Make room for thumb at ends of line
}

.valueLabel {
  flex-shrink: 1;
  width: 30px;
  margin: 0 8px;
  line-height: 1;
}

.rootIsEnabled {

  .slideBox:hover,
  .slideBox:active {

    .thumb {
      border: 2px solid $ms-color-themePrimary;

      @media screen and (-ms-high-contrast: active) {
        border-color: Highlight;
      }
    }

    .activeSection {
      background-color: $ms-color-themePrimary;

      @media screen and (-ms-high-contrast: active) {
        background-color: Highlight;
      }
    }

    .inactiveSection {
      background-color: $ms-color-themeLight;

      @media screen and (-ms-high-contrast: active) {
        border-color: Highlight;
      }
    }
  }

  .slideBox:active {
    .thumb {
      border: 2px solid $ms-color-themeDarkAlt;
    }
    .activeSection {
      background-color: $ms-color-themeDarkAlt;
    }
  }
}

.rootIsDisabled {
  .thumb {
    border-color: $ms-color-neutralTertiaryAlt;

    @media screen and (-ms-high-contrast: active) {
      border-color: GrayText;
    }
  }

  .activeSection,
  .inactiveSection {
    @media screen and (-ms-high-contrast: active) {
      background-color: GrayText;
      border-color: GrayText;
    }
  }

  .activeSection {
    background: $ms-color-neutralTertiaryAlt;
  }
  .inactiveSection {
    background: $ms-color-neutralLight;
  }
}
