@import '../../common/common';

:global {
  .componentTable {
    border-collapse: collapse;
    width: 100%;
  }

  .componentBadgeCell {
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #ddd;
  }

  .componentCells {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}