@import '../../common/common';

.ms-Check {
  display: inline-block;
  cursor: default;
  line-height: 0;
  vertical-align: top;

  &.is-checked {

    .ms-Check-circle {
      fill: $ms-color-themePrimary;
      stroke: $ms-color-white;
      stroke-width: 1px;
    }

    .ms-Check-check {
      stroke: $ms-color-white;
    }
  }
}

.ms-Check-circle {
  fill: $ms-color-white;
  stroke: $ms-color-neutralTertiaryAlt;
}

.ms-Check-check {
  stroke: $ms-color-neutralTertiaryAlt;
}


