@import '../../common/common';

.ms-DetailsList {
  position: relative;
  font-size: $ms-font-size-s;

  BUTTON {
    font-family: inherit;
    background-color: inherit;
  }

  > .ms-FocusZone {
    display: inline-block;
    vertical-align: top;
    min-width: 1px;
    min-height: 1px;
  }

}

.ms-DetailsList.is-horizontalConstrained {
  overflow-x: auto;
  overflow-y: visible;
}

.ms-DetailsList-cell {
    word-break: break-word;
}