@import '../../common/common';

$iconForegroundColor: $ms-color-neutralSecondary;
$actionableHeaderForegroundColor: $ms-color-neutralSecondary;
$dropdownChevronForegroundColor: $ms-color-neutralTertiary;
$rowHeight: 36px;
$resizerColor: $ms-color-neutralTertiaryAlt;

.ms-DetailsHeader {
  display: inline-block;
  min-width: 100%;
  height: $rowHeight;
  line-height: $rowHeight;
  white-space: nowrap;
  padding-bottom: 1px;
  border-bottom: 1px solid $dividerColor;
  cursor: default;
  user-select: none;

  &.is-singleSelect {
    @include padding-left(40px);
  }
}

.ms-DetailsHeader-cell.is-check .ms-Check-circle {
  visibility: hidden;
}

.ms-DetailsHeader-cell.is-check:hover .ms-Check-circle,
.ms-DetailsHeader.is-allSelected .ms-Check-circle {
  visibility: visible;
}

.ms-DetailsHeader-cellWrapper {
  display: inline-block;
  position: relative;
}

.ms-DetailsHeader-cellSizeWrapper {
  display: inline-block;
  vertical-align: top;
}

.ms-DetailsHeader-cell {
  color: $disabledForegroundColor;

  @include focus-border();
  font-family: $ms-font-family-regular;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 8px;
  border: none;
  line-height: inherit;
  margin: 0;
  @include text-align(left);
  height: $rowHeight;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.is-check {
    position: relative;
    padding: 8px;
    margin: 0;
  }

  &.is-actionable {
    color: $actionableHeaderForegroundColor;

    &:hover {
      color: $ms-color-neutralPrimary;
      background: $unselectedHoverBackgroundColor;
    }
  }

  &.is-sizer {
    position: absolute;
    width: 16px;
    @include margin-left(-10px);
    cursor: ew-resize;
    bottom: 0;
    top: 0;
    height: inherit;
    z-index: 99;
    background: transparent;
  }

  &.is-empty {
    text-overflow: clip;
  }
}

.ms-DetailsHeader-cell.is-sizer:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: $resizerColor;
  opacity: 0;
}

.ms-DetailsHeader-cell.is-sizer:hover:after,
.ms-DetailsHeader-cell.is-sizer.is-resizing:after {
  opacity: 1;
  transition: opacity .3s linear;
}

.ms-DetailsHeader-collapseButton {
  text-align: center;
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
  transition: transform .1s linear;
  width: 20px;
  outline: 0;

  &.is-collapsed {
    transform: rotate(0deg);
  }
}

.ms-DetailsHeader-isSortedDescending {
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
}

.ms-DetailsHeader-cell .ms-Icon {
  color: $iconForegroundColor;
  @include padding-right(5px);
}

.ms-DetailsHeader-cell .ms-DetailsHeader-filterChevron.ms-Icon {
  color: $dropdownChevronForegroundColor;
  @include padding-left(4px);
  vertical-align: middle;
}

.ms-DetailsHeader-cell .ms-DetailsHeader-collapseButton.ms-Icon {
  @include padding-right(0);
}
