:root {
  --flexitem-align: auto;
  --flexitem-shrink: 1;
  --flexitem-order: 0;
  --flexitem-grow: 0;
}

.root {
  background: var(--flexitem-background);
  align-self: var(--flexitem-align);
  flex-shrink: var(--flexitem-shrink);
  order: var(--flexitem-order);
  flex-grow: var(--flexitem-grow);
  display: flex;

  &._align_auto {
    --flexitem-align: auto;
  }

  &._align_start {
    --flexitem-align: flex-start;
  }

  &._align_end {
    --flexitem-align: flex-end;
  }

  &._align_center {
    --flexitem-align: center;
  }

  &._align_baseline {
    --flexitem-align: baseline;
  }

  &._align_stretch {
    --flexitem-align: stretch;
  }

  &._fluid {
    height: 100%;
    max-height: 100%;
  }
}
