$Breadcrumb-map: (
  "breadcrumb-chevron-fg": ("[theme: neutralSecondary, default: rgb(102, 102, 102)]"),
  "breadcrumb-button-hover-bg": ("[theme: neutralLighterAlt, default: rgb(248, 248, 248)]"),
  "breadcrumb-button-hover-fg": ("[theme: themeDark, default: rgb(0, 90, 158)]"),
  "breadcrumb-button-focus-fg": ("[theme: neutralDark, default: rgb(33, 33, 33)]"),
  "breadcrumb-button-focus-outline": ("[theme: neutralSecondaryAlt, default: rgb(118, 118, 118)]"),
  "breadcrumb-button-active-bg": ("[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]"),
  "breadcrumb-button-active-fg": ("[theme: neutralPrimary, default: rgb(51, 51, 51)]"),
  "breadcrumb-itembutton-fg": ("[theme: neutralPrimary, default: rgb(51, 51, 51)]"),
  "breadcrumb-overflowbutton-fg": ("[theme: themePrimary, default: rgb(0, 120, 215)]")
);