@font-face {
  font-family: 'FabricMDL2IconSet-3';
  src: url('fabricIcons-3.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2IconSet-3';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--HailNight:before { content: "\EA13"; }
.ms-Icon--Info2:before { content: "\EA1F"; }
.ms-Icon--StoreLogo:before { content: "\EA96"; }
.ms-Icon--MultiSelectMirrored:before { content: "\EA98"; }
.ms-Icon--Broom:before { content: "\EA99"; }
.ms-Icon--MusicInCollectionFill:before { content: "\EA36"; }
.ms-Icon--Asterisk:before { content: "\EA38"; }
.ms-Icon--ErrorBadge:before { content: "\EA39"; }
.ms-Icon--CircleFill:before { content: "\EA3B"; }
.ms-Icon--Record2:before { content: "\EA3F"; }
.ms-Icon--BookmarksMirrored:before { content: "\EA41"; }
.ms-Icon--BulletedListMirrored:before { content: "\EA42"; }
.ms-Icon--CaretHollowMirrored:before { content: "\EA45"; }
.ms-Icon--CaretSolidMirrored:before { content: "\EA46"; }
.ms-Icon--ChromeBackMirrored:before { content: "\EA47"; }
.ms-Icon--ClosePaneMirrored:before { content: "\EA49"; }
.ms-Icon--DockLeftMirrored:before { content: "\EA4C"; }
.ms-Icon--DoubleChevronLeftMedMirrored:before { content: "\EA4D"; }
.ms-Icon--HelpMirrored:before { content: "\EA51"; }
.ms-Icon--ImportMirrored:before { content: "\EA52"; }
.ms-Icon--ListMirrored:before { content: "\EA55"; }
.ms-Icon--MailForwardMirrored:before { content: "\EA56"; }
.ms-Icon--MailReplyMirrored:before { content: "\EA57"; }
.ms-Icon--MailReplyAllMirrored:before { content: "\EA58"; }
.ms-Icon--OpenPaneMirrored:before { content: "\EA5B"; }
.ms-Icon--ParkingLocationMirrored:before { content: "\EA5E"; }
.ms-Icon--SendMirrored:before { content: "\EA63"; }
.ms-Icon--ShowResultsMirrored:before { content: "\EA65"; }
.ms-Icon--ThumbnailViewMirrored:before { content: "\EA67"; }
.ms-Icon--Devices3:before { content: "\EA6C"; }
.ms-Icon--Lightbulb:before { content: "\EA80"; }
.ms-Icon--StatusTriangle:before { content: "\EA82"; }
.ms-Icon--VolumeDisabled:before { content: "\EA85"; }
.ms-Icon--Puzzle:before { content: "\EA86"; }
.ms-Icon--EmojiNeutral:before { content: "\EA87"; }
.ms-Icon--EmojiDisappointed:before { content: "\EA88"; }
.ms-Icon--HomeSolid:before { content: "\EA8A"; }
.ms-Icon--Cocktails:before { content: "\EA9D"; }
.ms-Icon--Wines:before { content: "\EABF"; }
.ms-Icon--Articles:before { content: "\EAC1"; }
.ms-Icon--Cycling:before { content: "\EAC7"; }
.ms-Icon--DietPlanNotebook:before { content: "\EAC8"; }
.ms-Icon--Pill:before { content: "\EACB"; }
.ms-Icon--ExerciseTracker:before { content: "\EACC"; }
.ms-Icon--Medical:before { content: "\EAD4"; }
.ms-Icon--Running:before { content: "\EADA"; }
.ms-Icon--Weights:before { content: "\EADB"; }
.ms-Icon--BarChart4:before { content: "\EAE7"; }
.ms-Icon--CirclePlus:before { content: "\EAEE"; }
.ms-Icon--Coffee:before { content: "\EAEF"; }
.ms-Icon--Cotton:before { content: "\EAF3"; }
.ms-Icon--Market:before { content: "\EAFC"; }
.ms-Icon--Money:before { content: "\EAFD"; }
.ms-Icon--PieDouble:before { content: "\EB04"; }
.ms-Icon--PieSingle:before { content: "\EB05"; }
.ms-Icon--RemoveFilter:before { content: "\EB08"; }
.ms-Icon--Savings:before { content: "\EB0B"; }
.ms-Icon--StockDown:before { content: "\EB0F"; }
.ms-Icon--StockUp:before { content: "\EB11"; }
.ms-Icon--MSNVideos:before { content: "\EB1C"; }
.ms-Icon--Cricket:before { content: "\EB1E"; }
.ms-Icon--Golf:before { content: "\EB1F"; }
.ms-Icon--Baseball:before { content: "\EB20"; }
.ms-Icon--Soccer:before { content: "\EB21"; }
.ms-Icon--MoreSports:before { content: "\EB22"; }
.ms-Icon--AutoRacing:before { content: "\EB24"; }
.ms-Icon--CollegeHoops:before { content: "\EB25"; }
.ms-Icon--CollegeFootball:before { content: "\EB26"; }
.ms-Icon--ProFootball:before { content: "\EB27"; }
.ms-Icon--ProHockey:before { content: "\EB28"; }
.ms-Icon--Rugby:before { content: "\EB2D"; }
.ms-Icon--Tennis:before { content: "\EB33"; }
.ms-Icon--Arrivals:before { content: "\EB34"; }
.ms-Icon--Design:before { content: "\EB3C"; }
.ms-Icon--Website:before { content: "\EB41"; }
.ms-Icon--Drop:before { content: "\EB42"; }
.ms-Icon--SkiResorts:before { content: "\EB45"; }
.ms-Icon--Snowflake:before { content: "\EB46"; }
.ms-Icon--BusSolid:before { content: "\EB47"; }
.ms-Icon--FerrySolid:before { content: "\EB48"; }
.ms-Icon--AirplaneSolid:before { content: "\EB4C"; }
.ms-Icon--TrainSolid:before { content: "\EB4D"; }
.ms-Icon--Heart:before { content: "\EB51"; }
.ms-Icon--HeartFill:before { content: "\EB52"; }
.ms-Icon--Ticket:before { content: "\EB54"; }
.ms-Icon--Devices4:before { content: "\EB66"; }
.ms-Icon--AzureLogo:before { content: "\EB6A"; }
.ms-Icon--BingLogo:before { content: "\EB6B"; }
.ms-Icon--MSNLogo:before { content: "\EB6C"; }
.ms-Icon--OutlookLogoInverse:before { content: "\EB6D"; }
.ms-Icon--OfficeLogo:before { content: "\EB6E"; }
.ms-Icon--SkypeLogo:before { content: "\EB6F"; }
.ms-Icon--Door:before { content: "\EB75"; }
.ms-Icon--EditMirrored:before { content: "\EB7E"; }
.ms-Icon--GiftCard:before { content: "\EB8E"; }
.ms-Icon--DoubleBookmark:before { content: "\EB8F"; }
.ms-Icon--StatusErrorFull:before { content: "\EB90"; }
.ms-Icon--Certificate:before { content: "\EB95"; }
.ms-Icon--FastForward:before { content: "\EB9D"; }
.ms-Icon--Rewind:before { content: "\EB9E"; }
