@font-face {
  font-family: 'FabricMDL2IconSet-5';
  src: url('fabricIcons-5.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2IconSet-5';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--BoxLogo:before { content: "\ED75"; }
.ms-Icon--DelveLogoInverse:before { content: "\ED76"; }
.ms-Icon--DropboxLogo:before { content: "\ED77"; }
.ms-Icon--ExchangeLogoInverse:before { content: "\ED78"; }
.ms-Icon--LyncLogo:before { content: "\ED79"; }
.ms-Icon--OfficeVideoLogoInverse:before { content: "\ED7A"; }
.ms-Icon--ParatureLogo:before { content: "\ED7B"; }
.ms-Icon--SocialListeningLogo:before { content: "\ED7C"; }
.ms-Icon--VisioLogoInverse:before { content: "\ED7D"; }
.ms-Icon--Balloons:before { content: "\ED7E"; }
.ms-Icon--Cat:before { content: "\ED7F"; }
.ms-Icon--MailAlert:before { content: "\ED80"; }
.ms-Icon--MailCheck:before { content: "\ED81"; }
.ms-Icon--MailLowImportance:before { content: "\ED82"; }
.ms-Icon--MailPause:before { content: "\ED83"; }
.ms-Icon--MailRepeat:before { content: "\ED84"; }
.ms-Icon--SecurityGroup:before { content: "\ED85"; }
.ms-Icon--Table:before { content: "\ED86"; }
.ms-Icon--VoicemailForward:before { content: "\ED87"; }
.ms-Icon--VoicemailReply:before { content: "\ED88"; }
.ms-Icon--Waffle:before { content: "\ED89"; }
.ms-Icon--RemoveEvent:before { content: "\ED8A"; }
.ms-Icon--EventInfo:before { content: "\ED8B"; }
.ms-Icon--ForwardEvent:before { content: "\ED8C"; }
.ms-Icon--WipePhone:before { content: "\ED8D"; }
.ms-Icon--AddOnlineMeeting:before { content: "\ED8E"; }
.ms-Icon--JoinOnlineMeeting:before { content: "\ED8F"; }
.ms-Icon--RemoveLink:before { content: "\ED90"; }
.ms-Icon--PeopleBlock:before { content: "\ED91"; }
.ms-Icon--PeopleRepeat:before { content: "\ED92"; }
.ms-Icon--PeopleAlert:before { content: "\ED93"; }
.ms-Icon--PeoplePause:before { content: "\ED94"; }
.ms-Icon--TransferCall:before { content: "\ED95"; }
.ms-Icon--AddPhone:before { content: "\ED96"; }
.ms-Icon--UnknownCall:before { content: "\ED97"; }
.ms-Icon--NoteReply:before { content: "\ED98"; }
.ms-Icon--NoteForward:before { content: "\ED99"; }
.ms-Icon--NotePinned:before { content: "\ED9A"; }
.ms-Icon--RemoveOccurrence:before { content: "\ED9B"; }
.ms-Icon--Timeline:before { content: "\ED9C"; }
.ms-Icon--EditNote:before { content: "\ED9D"; }
.ms-Icon--CircleHalfFull:before { content: "\ED9E"; }
.ms-Icon--Room:before { content: "\ED9F"; }
.ms-Icon--Unsubscribe:before { content: "\EDA0"; }
.ms-Icon--Subscribe:before { content: "\EDA1"; }
.ms-Icon--RecurringTask:before { content: "\EDB2"; }
.ms-Icon--TaskManager:before { content: "\EDB7"; }
.ms-Icon--TaskManagerMirrored:before { content: "\EDB8"; }
.ms-Icon--Combine:before { content: "\EDBB"; }
.ms-Icon--Split:before { content: "\EDBC"; }
.ms-Icon--DoubleChevronUp:before { content: "\EDBD"; }
.ms-Icon--DoubleChevronLeft:before { content: "\EDBE"; }
.ms-Icon--DoubleChevronRight:before { content: "\EDBF"; }
.ms-Icon--TextBox:before { content: "\EDC2"; }
.ms-Icon--TextField:before { content: "\EDC3"; }
.ms-Icon--NumberField:before { content: "\EDC4"; }
.ms-Icon--Dropdown:before { content: "\EDC5"; }
.ms-Icon--BookingsLogo:before { content: "\EDC7"; }
.ms-Icon--ClassNotebookLogoInverse:before { content: "\EDC8"; }
.ms-Icon--DelveAnalyticsLogo:before { content: "\EDCA"; }
.ms-Icon--DocsLogoInverse:before { content: "\EDCB"; }
.ms-Icon--Dynamics365Logo:before { content: "\EDCC"; }
.ms-Icon--DynamicSMBLogo:before { content: "\EDCD"; }
.ms-Icon--OfficeAssistantLogo:before { content: "\EDCE"; }
.ms-Icon--OfficeStoreLogo:before { content: "\EDCF"; }
.ms-Icon--OneNoteEduLogoInverse:before { content: "\EDD0"; }
.ms-Icon--PlannerLogo:before { content: "\EDD1"; }
.ms-Icon--PowerApps:before { content: "\EDD2"; }
.ms-Icon--Suitcase:before { content: "\EDD3"; }
.ms-Icon--ProjectLogoInverse:before { content: "\EDD4"; }
.ms-Icon--CaretLeft8:before { content: "\EDD5"; }
.ms-Icon--CaretRight8:before { content: "\EDD6"; }
.ms-Icon--CaretUp8:before { content: "\EDD7"; }
.ms-Icon--CaretDown8:before { content: "\EDD8"; }
.ms-Icon--CaretLeftSolid8:before { content: "\EDD9"; }
.ms-Icon--CaretRightSolid8:before { content: "\EDDA"; }
.ms-Icon--CaretUpSolid8:before { content: "\EDDB"; }
.ms-Icon--CaretDownSolid8:before { content: "\EDDC"; }
.ms-Icon--ClearFormatting:before { content: "\EDDD"; }
.ms-Icon--Superscript:before { content: "\EDDE"; }
.ms-Icon--Subscript:before { content: "\EDDF"; }
.ms-Icon--Strikethrough:before { content: "\EDE0"; }
.ms-Icon--Export:before { content: "\EDE1"; }
.ms-Icon--ExportMirrored:before { content: "\EDE2"; }
.ms-Icon--SingleBookmark:before { content: "\EDFF"; }
.ms-Icon--DoubleChevronDown:before { content: "\EE04"; }
.ms-Icon--ReplyAll:before { content: "\EE0A"; }
.ms-Icon--GoogleDriveLogo:before { content: "\EE0B"; }
.ms-Icon--Questionnaire:before { content: "\EE19"; }
.ms-Icon--ReplyMirrored:before { content: "\EE35"; }
.ms-Icon--ReplyAllMirrored:before { content: "\EE36"; }
.ms-Icon--AddGroup:before { content: "\EE3D"; }
.ms-Icon--QuestionnaireMirrored:before { content: "\EE4B"; }
.ms-Icon--TemporaryUser:before { content: "\EE58"; }
.ms-Icon--CaretSolid16:before { content: "\EE62"; }
.ms-Icon--GroupedDescending:before { content: "\EE66"; }
.ms-Icon--GroupedAscending:before { content: "\EE67"; }
.ms-Icon--AwayStatus:before { content: "\EE6A"; }
.ms-Icon--MyMoviesTV:before { content: "\EE6C"; }
.ms-Icon--SyncToPC:before { content: "\EE6E"; }
