@font-face {
  font-family: 'FabricMDL2IconSet';
  src: url('fabricIcons.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2IconSet';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--StatusCircleCheckmark:before { content: "\F13E"; }
.ms-Icon--Cancel:before { content: "\E711"; }
.ms-Icon--ChevronDown:before { content: "\E70D"; }
.ms-Icon--ChevronLeft:before { content: "\E76B"; }
.ms-Icon--ChevronRight:before { content: "\E76C"; }
.ms-Icon--ChevronUp:before { content: "\E70E"; }
.ms-Icon--SkypeCheck:before { content: "\EF80"; }
.ms-Icon--SkypeClock:before { content: "\EF81"; }
.ms-Icon--SkypeMinus:before { content: "\EF82"; }
.ms-Icon--Clear:before { content: "\E894"; }
.ms-Icon--Search:before { content: "\E721"; }
.ms-Icon--FavoriteStar:before { content: "\E734"; }
.ms-Icon--FavoriteStarFill:before { content: "\E735"; }
.ms-Icon--AddFriend:before { content: "\E8FA"; }
.ms-Icon--Tag:before { content: "\E8EC"; }
.ms-Icon--More:before { content: "\E712"; }
.ms-Icon--Ascending:before { content: "\EDC0"; }
.ms-Icon--Descending:before { content: "\EDC1"; }
.ms-Icon--Filter:before { content: "\E71C"; }
.ms-Icon--Sort:before { content: "\E8CB"; }
.ms-Icon--SortDown:before { content: "\EE69"; }
.ms-Icon--SortLines:before { content: "\E9D0"; }
.ms-Icon--SortUp:before { content: "\EE68"; }
.ms-Icon--LargeGrid:before { content: "\EECB"; }
.ms-Icon--List:before { content: "\EA37"; }
.ms-Icon--View:before { content: "\E890"; }
.ms-Icon--Add:before { content: "\E710"; }
.ms-Icon--Download:before { content: "\E896"; }
.ms-Icon--Calendar:before { content: "\E787"; }
.ms-Icon--Edit:before { content: "\E70F"; }
.ms-Icon--Embed:before { content: "\ECCE"; }
.ms-Icon--GlobalNavButton:before { content: "\E700"; }
.ms-Icon--Info:before { content: "\E946"; }
.ms-Icon--Mail:before { content: "\E715"; }
.ms-Icon--Settings:before { content: "\E713"; }
.ms-Icon--Share:before { content: "\E72D"; }
.ms-Icon--Tiles:before { content: "\ECA5"; }
.ms-Icon--Upload:before { content: "\E898"; }
.ms-Icon--CircleRing:before { content: "\EA3A"; }
.ms-Icon--CheckMark:before { content: "\E73E"; }
