@font-face {
  font-family: 'FabricMDL2IconSet-6';
  src: url('fabricIcons-6.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2IconSet-6';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

// Mixins
@mixin ms-Icon--AustralianRules { content: "\EE70"; }
@mixin ms-Icon--WifiEthernet { content: "\EE77"; }
@mixin ms-Icon--DateTimeMirrored { content: "\EE93"; }
@mixin ms-Icon--StopSolid { content: "\EE95"; }
@mixin ms-Icon--DoubleChevronUp12 { content: "\EE96"; }
@mixin ms-Icon--DoubleChevronDown12 { content: "\EE97"; }
@mixin ms-Icon--DoubleChevronLeft12 { content: "\EE98"; }
@mixin ms-Icon--DoubleChevronRight12 { content: "\EE99"; }
@mixin ms-Icon--CalendarAgenda { content: "\EE9A"; }
@mixin ms-Icon--AddEvent { content: "\EEB5"; }
@mixin ms-Icon--AssetLibrary { content: "\EEB6"; }
@mixin ms-Icon--DataConnectionLibrary { content: "\EEB7"; }
@mixin ms-Icon--DocLibrary { content: "\EEB8"; }
@mixin ms-Icon--FormLibrary { content: "\EEB9"; }
@mixin ms-Icon--FormLibraryMirrored { content: "\EEBA"; }
@mixin ms-Icon--ReportLibrary { content: "\EEBB"; }
@mixin ms-Icon--ReportLibraryMirrored { content: "\EEBC"; }
@mixin ms-Icon--ContactCard { content: "\EEBD"; }
@mixin ms-Icon--CustomList { content: "\EEBE"; }
@mixin ms-Icon--CustomListMirrored { content: "\EEBF"; }
@mixin ms-Icon--IssueTracking { content: "\EEC0"; }
@mixin ms-Icon--IssueTrackingMirrored { content: "\EEC1"; }
@mixin ms-Icon--PictureLibrary { content: "\EEC2"; }
@mixin ms-Icon--OfficeAddinsLogo { content: "\EEC7"; }
@mixin ms-Icon--OfflineOneDriveParachute { content: "\EEC8"; }
@mixin ms-Icon--OfflineOneDriveParachuteDisabled { content: "\EEC9"; }
@mixin ms-Icon--TriangleSolidUp12 { content: "\EECC"; }
@mixin ms-Icon--TriangleSolidDown12 { content: "\EECD"; }
@mixin ms-Icon--TriangleSolidLeft12 { content: "\EECE"; }
@mixin ms-Icon--TriangleSolidRight12 { content: "\EECF"; }
@mixin ms-Icon--TriangleUp12 { content: "\EED0"; }
@mixin ms-Icon--TriangleDown12 { content: "\EED1"; }
@mixin ms-Icon--TriangleLeft12 { content: "\EED2"; }
@mixin ms-Icon--TriangleRight12 { content: "\EED3"; }
@mixin ms-Icon--ArrowUpRight8 { content: "\EED4"; }
@mixin ms-Icon--ArrowDownRight8 { content: "\EED5"; }
@mixin ms-Icon--DocumentSet { content: "\EED6"; }
@mixin ms-Icon--DelveAnalytics { content: "\EEEE"; }
@mixin ms-Icon--ArrowUpRightMirrored8 { content: "\EEEF"; }
@mixin ms-Icon--ArrowDownRightMirrored8 { content: "\EEF0"; }
@mixin ms-Icon--OneDriveAdd { content: "\EF32"; }
@mixin ms-Icon--Header2 { content: "\EF36"; }
@mixin ms-Icon--Header3 { content: "\EF37"; }
@mixin ms-Icon--Header4 { content: "\EF38"; }
@mixin ms-Icon--MarketDown { content: "\EF42"; }
@mixin ms-Icon--CalendarWorkWeek { content: "\EF51"; }
@mixin ms-Icon--SidePanel { content: "\EF52"; }
@mixin ms-Icon--GlobeFavorite { content: "\EF53"; }
@mixin ms-Icon--CaretTopLeftSolid8 { content: "\EF54"; }
@mixin ms-Icon--CaretTopRightSolid8 { content: "\EF55"; }
@mixin ms-Icon--ViewAll2 { content: "\EF56"; }
@mixin ms-Icon--DocumentReply { content: "\EF57"; }
@mixin ms-Icon--PlayerSettings { content: "\EF58"; }
@mixin ms-Icon--ReceiptForward { content: "\EF59"; }
@mixin ms-Icon--ReceiptReply { content: "\EF5A"; }
@mixin ms-Icon--ReceiptCheck { content: "\EF5B"; }
@mixin ms-Icon--Fax { content: "\EF5C"; }
@mixin ms-Icon--RecurringEvent { content: "\EF5D"; }
@mixin ms-Icon--ReplyAlt { content: "\EF5E"; }
@mixin ms-Icon--ReplyAllAlt { content: "\EF5F"; }
@mixin ms-Icon--EditStyle { content: "\EF60"; }
@mixin ms-Icon--EditMail { content: "\EF61"; }
@mixin ms-Icon--Lifesaver { content: "\EF62"; }
@mixin ms-Icon--LifesaverLock { content: "\EF63"; }
@mixin ms-Icon--InboxCheck { content: "\EF64"; }
@mixin ms-Icon--FolderSearch { content: "\EF65"; }
@mixin ms-Icon--CollapseMenu { content: "\EF66"; }
@mixin ms-Icon--ExpandMenu { content: "\EF67"; }
@mixin ms-Icon--Boards { content: "\EF68"; }
@mixin ms-Icon--SunAdd { content: "\EF69"; }
@mixin ms-Icon--SunQuestionMark { content: "\EF6A"; }
@mixin ms-Icon--LandscapeOrientation { content: "\EF6B"; }
@mixin ms-Icon--DocumentSearch { content: "\EF6C"; }
@mixin ms-Icon--PublicCalendar { content: "\EF6D"; }
@mixin ms-Icon--PublicContactCard { content: "\EF6E"; }
@mixin ms-Icon--PublicEmail { content: "\EF6F"; }
@mixin ms-Icon--PublicFolder { content: "\EF70"; }
@mixin ms-Icon--WordDocument { content: "\EF71"; }
@mixin ms-Icon--PowerPointDocument { content: "\EF72"; }
@mixin ms-Icon--ExcelDocument { content: "\EF73"; }
@mixin ms-Icon--GroupedList { content: "\EF74"; }
@mixin ms-Icon--ClassroomLogo { content: "\EF75"; }
@mixin ms-Icon--Sections { content: "\EF76"; }
@mixin ms-Icon--EditPhoto { content: "\EF77"; }
@mixin ms-Icon--Starburst { content: "\EF78"; }
@mixin ms-Icon--ShareiOS { content: "\EF79"; }
@mixin ms-Icon--AirTickets { content: "\EF7A"; }
@mixin ms-Icon--PencilReply { content: "\EF7B"; }
@mixin ms-Icon--Tiles2 { content: "\EF7C"; }
@mixin ms-Icon--SkypeCircleCheck { content: "\EF7D"; }
@mixin ms-Icon--SkypeCircleClock { content: "\EF7E"; }
@mixin ms-Icon--SkypeCircleMinus { content: "\EF7F"; }
@mixin ms-Icon--SkypeMessage { content: "\EF83"; }
@mixin ms-Icon--ClosedCaption { content: "\EF84"; }
@mixin ms-Icon--ATPLogo { content: "\EF85"; }
@mixin ms-Icon--OfficeFormsLogoInverse { content: "\EF86"; }
@mixin ms-Icon--RecycleBin { content: "\EF87"; }
@mixin ms-Icon--EmptyRecycleBin { content: "\EF88"; }
@mixin ms-Icon--Hide2 { content: "\EF89"; }
@mixin ms-Icon--iOSAppStoreLogo { content: "\EF8A"; }


// Classes
.ms-Icon--AustralianRules:before { @include ms-Icon--AustralianRules }
.ms-Icon--WifiEthernet:before { @include ms-Icon--WifiEthernet }
.ms-Icon--DateTimeMirrored:before { @include ms-Icon--DateTimeMirrored }
.ms-Icon--StopSolid:before { @include ms-Icon--StopSolid }
.ms-Icon--DoubleChevronUp12:before { @include ms-Icon--DoubleChevronUp12 }
.ms-Icon--DoubleChevronDown12:before { @include ms-Icon--DoubleChevronDown12 }
.ms-Icon--DoubleChevronLeft12:before { @include ms-Icon--DoubleChevronLeft12 }
.ms-Icon--DoubleChevronRight12:before { @include ms-Icon--DoubleChevronRight12 }
.ms-Icon--CalendarAgenda:before { @include ms-Icon--CalendarAgenda }
.ms-Icon--AddEvent:before { @include ms-Icon--AddEvent }
.ms-Icon--AssetLibrary:before { @include ms-Icon--AssetLibrary }
.ms-Icon--DataConnectionLibrary:before { @include ms-Icon--DataConnectionLibrary }
.ms-Icon--DocLibrary:before { @include ms-Icon--DocLibrary }
.ms-Icon--FormLibrary:before { @include ms-Icon--FormLibrary }
.ms-Icon--FormLibraryMirrored:before { @include ms-Icon--FormLibraryMirrored }
.ms-Icon--ReportLibrary:before { @include ms-Icon--ReportLibrary }
.ms-Icon--ReportLibraryMirrored:before { @include ms-Icon--ReportLibraryMirrored }
.ms-Icon--ContactCard:before { @include ms-Icon--ContactCard }
.ms-Icon--CustomList:before { @include ms-Icon--CustomList }
.ms-Icon--CustomListMirrored:before { @include ms-Icon--CustomListMirrored }
.ms-Icon--IssueTracking:before { @include ms-Icon--IssueTracking }
.ms-Icon--IssueTrackingMirrored:before { @include ms-Icon--IssueTrackingMirrored }
.ms-Icon--PictureLibrary:before { @include ms-Icon--PictureLibrary }
.ms-Icon--OfficeAddinsLogo:before { @include ms-Icon--OfficeAddinsLogo }
.ms-Icon--OfflineOneDriveParachute:before { @include ms-Icon--OfflineOneDriveParachute }
.ms-Icon--OfflineOneDriveParachuteDisabled:before { @include ms-Icon--OfflineOneDriveParachuteDisabled }
.ms-Icon--TriangleSolidUp12:before { @include ms-Icon--TriangleSolidUp12 }
.ms-Icon--TriangleSolidDown12:before { @include ms-Icon--TriangleSolidDown12 }
.ms-Icon--TriangleSolidLeft12:before { @include ms-Icon--TriangleSolidLeft12 }
.ms-Icon--TriangleSolidRight12:before { @include ms-Icon--TriangleSolidRight12 }
.ms-Icon--TriangleUp12:before { @include ms-Icon--TriangleUp12 }
.ms-Icon--TriangleDown12:before { @include ms-Icon--TriangleDown12 }
.ms-Icon--TriangleLeft12:before { @include ms-Icon--TriangleLeft12 }
.ms-Icon--TriangleRight12:before { @include ms-Icon--TriangleRight12 }
.ms-Icon--ArrowUpRight8:before { @include ms-Icon--ArrowUpRight8 }
.ms-Icon--ArrowDownRight8:before { @include ms-Icon--ArrowDownRight8 }
.ms-Icon--DocumentSet:before { @include ms-Icon--DocumentSet }
.ms-Icon--DelveAnalytics:before { @include ms-Icon--DelveAnalytics }
.ms-Icon--ArrowUpRightMirrored8:before { @include ms-Icon--ArrowUpRightMirrored8 }
.ms-Icon--ArrowDownRightMirrored8:before { @include ms-Icon--ArrowDownRightMirrored8 }
.ms-Icon--OneDriveAdd:before { @include ms-Icon--OneDriveAdd }
.ms-Icon--Header2:before { @include ms-Icon--Header2 }
.ms-Icon--Header3:before { @include ms-Icon--Header3 }
.ms-Icon--Header4:before { @include ms-Icon--Header4 }
.ms-Icon--MarketDown:before { @include ms-Icon--MarketDown }
.ms-Icon--CalendarWorkWeek:before { @include ms-Icon--CalendarWorkWeek }
.ms-Icon--SidePanel:before { @include ms-Icon--SidePanel }
.ms-Icon--GlobeFavorite:before { @include ms-Icon--GlobeFavorite }
.ms-Icon--CaretTopLeftSolid8:before { @include ms-Icon--CaretTopLeftSolid8 }
.ms-Icon--CaretTopRightSolid8:before { @include ms-Icon--CaretTopRightSolid8 }
.ms-Icon--ViewAll2:before { @include ms-Icon--ViewAll2 }
.ms-Icon--DocumentReply:before { @include ms-Icon--DocumentReply }
.ms-Icon--PlayerSettings:before { @include ms-Icon--PlayerSettings }
.ms-Icon--ReceiptForward:before { @include ms-Icon--ReceiptForward }
.ms-Icon--ReceiptReply:before { @include ms-Icon--ReceiptReply }
.ms-Icon--ReceiptCheck:before { @include ms-Icon--ReceiptCheck }
.ms-Icon--Fax:before { @include ms-Icon--Fax }
.ms-Icon--RecurringEvent:before { @include ms-Icon--RecurringEvent }
.ms-Icon--ReplyAlt:before { @include ms-Icon--ReplyAlt }
.ms-Icon--ReplyAllAlt:before { @include ms-Icon--ReplyAllAlt }
.ms-Icon--EditStyle:before { @include ms-Icon--EditStyle }
.ms-Icon--EditMail:before { @include ms-Icon--EditMail }
.ms-Icon--Lifesaver:before { @include ms-Icon--Lifesaver }
.ms-Icon--LifesaverLock:before { @include ms-Icon--LifesaverLock }
.ms-Icon--InboxCheck:before { @include ms-Icon--InboxCheck }
.ms-Icon--FolderSearch:before { @include ms-Icon--FolderSearch }
.ms-Icon--CollapseMenu:before { @include ms-Icon--CollapseMenu }
.ms-Icon--ExpandMenu:before { @include ms-Icon--ExpandMenu }
.ms-Icon--Boards:before { @include ms-Icon--Boards }
.ms-Icon--SunAdd:before { @include ms-Icon--SunAdd }
.ms-Icon--SunQuestionMark:before { @include ms-Icon--SunQuestionMark }
.ms-Icon--LandscapeOrientation:before { @include ms-Icon--LandscapeOrientation }
.ms-Icon--DocumentSearch:before { @include ms-Icon--DocumentSearch }
.ms-Icon--PublicCalendar:before { @include ms-Icon--PublicCalendar }
.ms-Icon--PublicContactCard:before { @include ms-Icon--PublicContactCard }
.ms-Icon--PublicEmail:before { @include ms-Icon--PublicEmail }
.ms-Icon--PublicFolder:before { @include ms-Icon--PublicFolder }
.ms-Icon--WordDocument:before { @include ms-Icon--WordDocument }
.ms-Icon--PowerPointDocument:before { @include ms-Icon--PowerPointDocument }
.ms-Icon--ExcelDocument:before { @include ms-Icon--ExcelDocument }
.ms-Icon--GroupedList:before { @include ms-Icon--GroupedList }
.ms-Icon--ClassroomLogo:before { @include ms-Icon--ClassroomLogo }
.ms-Icon--Sections:before { @include ms-Icon--Sections }
.ms-Icon--EditPhoto:before { @include ms-Icon--EditPhoto }
.ms-Icon--Starburst:before { @include ms-Icon--Starburst }
.ms-Icon--ShareiOS:before { @include ms-Icon--ShareiOS }
.ms-Icon--AirTickets:before { @include ms-Icon--AirTickets }
.ms-Icon--PencilReply:before { @include ms-Icon--PencilReply }
.ms-Icon--Tiles2:before { @include ms-Icon--Tiles2 }
.ms-Icon--SkypeCircleCheck:before { @include ms-Icon--SkypeCircleCheck }
.ms-Icon--SkypeCircleClock:before { @include ms-Icon--SkypeCircleClock }
.ms-Icon--SkypeCircleMinus:before { @include ms-Icon--SkypeCircleMinus }
.ms-Icon--SkypeMessage:before { @include ms-Icon--SkypeMessage }
.ms-Icon--ClosedCaption:before { @include ms-Icon--ClosedCaption }
.ms-Icon--ATPLogo:before { @include ms-Icon--ATPLogo }
.ms-Icon--OfficeFormsLogoInverse:before { @include ms-Icon--OfficeFormsLogoInverse }
.ms-Icon--RecycleBin:before { @include ms-Icon--RecycleBin }
.ms-Icon--EmptyRecycleBin:before { @include ms-Icon--EmptyRecycleBin }
.ms-Icon--Hide2:before { @include ms-Icon--Hide2 }
.ms-Icon--iOSAppStoreLogo:before { @include ms-Icon--iOSAppStoreLogo }

