@font-face {
  font-family: 'FabricMDL2IconSet-2';
  src: url('fabricIcons-2.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2IconSet-2';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--FullCircleMask:before { content: "\E91F"; }
.ms-Icon--LocationFill:before { content: "\E920"; }
.ms-Icon--ChromeMinimize:before { content: "\E921"; }
.ms-Icon--Annotation:before { content: "\E924"; }
.ms-Icon--ChromeClose:before { content: "\E8BB"; }
.ms-Icon--Accept:before { content: "\E8FB"; }
.ms-Icon--Fingerprint:before { content: "\E928"; }
.ms-Icon--Handwriting:before { content: "\E929"; }
.ms-Icon--StackIndicator:before { content: "\E7FF"; }
.ms-Icon--Completed:before { content: "\E930"; }
.ms-Icon--Label:before { content: "\E932"; }
.ms-Icon--FlickDown:before { content: "\E935"; }
.ms-Icon--FlickUp:before { content: "\E936"; }
.ms-Icon--FlickLeft:before { content: "\E937"; }
.ms-Icon--FlickRight:before { content: "\E938"; }
.ms-Icon--Streaming:before { content: "\E93E"; }
.ms-Icon--MusicInCollection:before { content: "\E940"; }
.ms-Icon--OneDrive:before { content: "\E941"; }
.ms-Icon--CompassNW:before { content: "\E942"; }
.ms-Icon--Code:before { content: "\E943"; }
.ms-Icon--LightningBolt:before { content: "\E945"; }
.ms-Icon--CalculatorMultiply:before { content: "\E947"; }
.ms-Icon--CalculatorAddition:before { content: "\E948"; }
.ms-Icon--CalculatorSubtract:before { content: "\E949"; }
.ms-Icon--CalculatorEqualTo:before { content: "\E94E"; }
.ms-Icon--PrintfaxPrinterFile:before { content: "\E956"; }
.ms-Icon--Communications:before { content: "\E95A"; }
.ms-Icon--Headset:before { content: "\E95B"; }
.ms-Icon--Health:before { content: "\E95E"; }
.ms-Icon--ChevronUpSmall:before { content: "\E96D"; }
.ms-Icon--ChevronDownSmall:before { content: "\E96E"; }
.ms-Icon--ChevronLeftSmall:before { content: "\E96F"; }
.ms-Icon--ChevronRightSmall:before { content: "\E970"; }
.ms-Icon--ChevronUpMed:before { content: "\E971"; }
.ms-Icon--ChevronDownMed:before { content: "\E972"; }
.ms-Icon--ChevronLeftMed:before { content: "\E973"; }
.ms-Icon--ChevronRightMed:before { content: "\E974"; }
.ms-Icon--Dictionary:before { content: "\E82D"; }
.ms-Icon--ChromeBack:before { content: "\E830"; }
.ms-Icon--PC1:before { content: "\E977"; }
.ms-Icon--PresenceChickletVideo:before { content: "\E979"; }
.ms-Icon--Reply:before { content: "\E97A"; }
.ms-Icon--HalfAlpha:before { content: "\E97E"; }
.ms-Icon--LockSolid:before { content: "\E9A2"; }
.ms-Icon--ConstructionCone:before { content: "\E98F"; }
.ms-Icon--DoubleChevronLeftMed:before { content: "\E991"; }
.ms-Icon--Volume0:before { content: "\E992"; }
.ms-Icon--Volume1:before { content: "\E993"; }
.ms-Icon--Volume2:before { content: "\E994"; }
.ms-Icon--Volume3:before { content: "\E995"; }
.ms-Icon--CaretHollow:before { content: "\E817"; }
.ms-Icon--CaretSolid:before { content: "\E818"; }
.ms-Icon--FolderOpen:before { content: "\E838"; }
.ms-Icon--Pinned:before { content: "\E840"; }
.ms-Icon--PinnedFill:before { content: "\E842"; }
.ms-Icon--Chart:before { content: "\E999"; }
.ms-Icon--Robot:before { content: "\E99A"; }
.ms-Icon--BidiLtr:before { content: "\E9AA"; }
.ms-Icon--BidiRtl:before { content: "\E9AB"; }
.ms-Icon--RevToggleKey:before { content: "\E845"; }
.ms-Icon--RightDoubleQuote:before { content: "\E9B1"; }
.ms-Icon--Sunny:before { content: "\E9BD"; }
.ms-Icon--CloudWeather:before { content: "\E9BE"; }
.ms-Icon--Cloudy:before { content: "\E9BF"; }
.ms-Icon--PartlyCloudyDay:before { content: "\E9C0"; }
.ms-Icon--PartlyCloudyNight:before { content: "\E9C1"; }
.ms-Icon--ClearNight:before { content: "\E9C2"; }
.ms-Icon--RainShowersDay:before { content: "\E9C3"; }
.ms-Icon--Rain:before { content: "\E9C4"; }
.ms-Icon--Thunderstorms:before { content: "\E9C6"; }
.ms-Icon--RainSnow:before { content: "\E9C7"; }
.ms-Icon--Snow:before { content: "\E9C8"; }
.ms-Icon--BlowingSnow:before { content: "\E9C9"; }
.ms-Icon--Frigid:before { content: "\E9CA"; }
.ms-Icon--Fog:before { content: "\E9CB"; }
.ms-Icon--Squalls:before { content: "\E9CC"; }
.ms-Icon--Duststorm:before { content: "\E9CD"; }
.ms-Icon--Unknown:before { content: "\E9CE"; }
.ms-Icon--Precipitation:before { content: "\E9CF"; }
.ms-Icon--Ringer:before { content: "\EA8F"; }
.ms-Icon--PDF:before { content: "\EA90"; }
.ms-Icon--Ribbon:before { content: "\E9D1"; }
.ms-Icon--AreaChart:before { content: "\E9D2"; }
.ms-Icon--Assign:before { content: "\E9D3"; }
.ms-Icon--CheckList:before { content: "\E9D5"; }
.ms-Icon--Diagnostic:before { content: "\E9D9"; }
.ms-Icon--Generate:before { content: "\E9DA"; }
.ms-Icon--LineChart:before { content: "\E9E6"; }
.ms-Icon--Equalizer:before { content: "\E9E9"; }
.ms-Icon--BarChartHorizontal:before { content: "\E9EB"; }
.ms-Icon--BarChartVertical:before { content: "\E9EC"; }
.ms-Icon--Freezing:before { content: "\E9EF"; }
.ms-Icon--Processing:before { content: "\E9F5"; }
.ms-Icon--SnowShowerDay:before { content: "\E9FD"; }
.ms-Icon--HailDay:before { content: "\EA00"; }
.ms-Icon--WorkFlow:before { content: "\EA01"; }
.ms-Icon--StoreLogoMed:before { content: "\EA04"; }
.ms-Icon--TriangleSolid:before { content: "\EA08"; }
.ms-Icon--RainShowersNight:before { content: "\EA0F"; }
.ms-Icon--SnowShowerNight:before { content: "\EA11"; }
