@font-face {
  font-family: 'FabricMDL2IconSet-9';
  src: url('fabricIcons-9.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2IconSet-9';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

// Mixins
@mixin ms-Icon--CommentNext { content: "\F2B4"; }
@mixin ms-Icon--CommentPrevious { content: "\F2B5"; }
@mixin ms-Icon--ShopServer { content: "\F2B6"; }
@mixin ms-Icon--LocaleLanguage { content: "\F2B7"; }
@mixin ms-Icon--QueryList { content: "\F2B8"; }
@mixin ms-Icon--UserSync { content: "\F2B9"; }
@mixin ms-Icon--UserPause { content: "\F2BA"; }
@mixin ms-Icon--StreamingOff { content: "\F2BB"; }
@mixin ms-Icon--MoreVertical { content: "\F2BC"; }
@mixin ms-Icon--ArrowTallUpLeft { content: "\F2BD"; }
@mixin ms-Icon--ArrowTallUpRight { content: "\F2BE"; }
@mixin ms-Icon--ArrowTallDownLeft { content: "\F2BF"; }
@mixin ms-Icon--ArrowTallDownRight { content: "\F2C0"; }
@mixin ms-Icon--FieldEmpty { content: "\F2C1"; }
@mixin ms-Icon--FieldFilled { content: "\F2C2"; }
@mixin ms-Icon--FieldChanged { content: "\F2C3"; }
@mixin ms-Icon--FieldNotChanged { content: "\F2C4"; }
@mixin ms-Icon--RingerOff { content: "\F2C5"; }
@mixin ms-Icon--PlayResume { content: "\F2C6"; }
@mixin ms-Icon--BulletedList2 { content: "\F2C7"; }
@mixin ms-Icon--BulletedList2Mirrored { content: "\F2C8"; }
@mixin ms-Icon--ImageCrosshair { content: "\F2C9"; }
@mixin ms-Icon--GitGraph { content: "\F2CA"; }
@mixin ms-Icon--Repo { content: "\F2CB"; }
@mixin ms-Icon--RepoSolid { content: "\F2CC"; }
@mixin ms-Icon--FolderQuery { content: "\F2CD"; }
@mixin ms-Icon--FolderList { content: "\F2CE"; }
@mixin ms-Icon--FolderListMirrored { content: "\F2CF"; }
@mixin ms-Icon--LocationOutline { content: "\F2D0"; }
@mixin ms-Icon--POISolid { content: "\F2D1"; }
@mixin ms-Icon--CalculatorNotEqualTo { content: "\F2D2"; }
@mixin ms-Icon--BoxSubtractSolid { content: "\F2D3"; }
@mixin ms-Icon--BoxAdditionSolid { content: "\F2D4"; }
@mixin ms-Icon--BoxMultiplySolid { content: "\F2D5"; }
@mixin ms-Icon--BoxPlaySolid { content: "\F2D6"; }
@mixin ms-Icon--BoxCheckmarkSolid { content: "\F2D7"; }
@mixin ms-Icon--CirclePauseSolid { content: "\F2D8"; }
@mixin ms-Icon--CirclePause { content: "\F2D9"; }
@mixin ms-Icon--MSNVideosSolid { content: "\F2DA"; }
@mixin ms-Icon--CircleStopSolid { content: "\F2DB"; }
@mixin ms-Icon--CircleStop { content: "\F2DC"; }
@mixin ms-Icon--NavigateBack { content: "\F2DD"; }
@mixin ms-Icon--NavigateBackMirrored { content: "\F2DE"; }
@mixin ms-Icon--NavigateForward { content: "\F2DF"; }
@mixin ms-Icon--NavigateForwardMirrored { content: "\F2E0"; }
@mixin ms-Icon--UnknownSolid { content: "\F2E1"; }
@mixin ms-Icon--UnknownMirroredSolid { content: "\F2E2"; }
@mixin ms-Icon--CircleAddition { content: "\F2E3"; }
@mixin ms-Icon--CircleAdditionSolid { content: "\F2E4"; }
@mixin ms-Icon--FilePDB { content: "\F2E5"; }
@mixin ms-Icon--FileTemplate { content: "\F2E6"; }
@mixin ms-Icon--FileSQL { content: "\F2E7"; }
@mixin ms-Icon--FileJAVA { content: "\F2E8"; }
@mixin ms-Icon--FileASPX { content: "\F2E9"; }
@mixin ms-Icon--FileCSS { content: "\F2EA"; }
@mixin ms-Icon--FileSass { content: "\F2EB"; }
@mixin ms-Icon--FileLess { content: "\F2EC"; }
@mixin ms-Icon--FileHTML { content: "\F2ED"; }
@mixin ms-Icon--JavaScriptLanguage { content: "\F2EE"; }
@mixin ms-Icon--CSharpLanguage { content: "\F2EF"; }
@mixin ms-Icon--CSharp { content: "\F2F0"; }
@mixin ms-Icon--VisualBasicLanguage { content: "\F2F1"; }
@mixin ms-Icon--VB { content: "\F2F2"; }
@mixin ms-Icon--CPlusPlusLanguage { content: "\F2F3"; }
@mixin ms-Icon--CPlusPlus { content: "\F2F4"; }
@mixin ms-Icon--FSharpLanguage { content: "\F2F5"; }
@mixin ms-Icon--FSharp { content: "\F2F6"; }
@mixin ms-Icon--TypeScriptLanguage { content: "\F2F7"; }
@mixin ms-Icon--PythonLanguage { content: "\F2F8"; }
@mixin ms-Icon--PY { content: "\F2F9"; }
@mixin ms-Icon--CoffeeScript { content: "\F2FA"; }
@mixin ms-Icon--MarkDownLanguage { content: "\F2FB"; }
@mixin ms-Icon--FullWidth { content: "\F2FE"; }
@mixin ms-Icon--FullWidthEdit { content: "\F2FF"; }
@mixin ms-Icon--SingleColumnEdit { content: "\F321"; }
@mixin ms-Icon--DoubleColumnEdit { content: "\F322"; }
@mixin ms-Icon--TripleColumnEdit { content: "\F323"; }
@mixin ms-Icon--ColumnLeftTwoThirdsEdit { content: "\F324"; }
@mixin ms-Icon--ColumnRightTwoThirdsEdit { content: "\F325"; }
@mixin ms-Icon--StreamLogo { content: "\F329"; }
@mixin ms-Icon--AlertSolid { content: "\F331"; }
@mixin ms-Icon--MegaphoneSolid { content: "\F332"; }
@mixin ms-Icon--TaskSolid { content: "\F333"; }
@mixin ms-Icon--ConfigurationSolid { content: "\F334"; }
@mixin ms-Icon--BugSolid { content: "\F335"; }
@mixin ms-Icon--CrownSolid { content: "\F336"; }
@mixin ms-Icon--Trophy2Solid { content: "\F337"; }
@mixin ms-Icon--QuickNoteSolid { content: "\F338"; }
@mixin ms-Icon--ConstructionConeSolid { content: "\F339"; }
@mixin ms-Icon--PageListSolid { content: "\F33A"; }
@mixin ms-Icon--PageListMirroredSolid { content: "\F33B"; }
@mixin ms-Icon--StarburstSolid { content: "\F33C"; }
@mixin ms-Icon--ReadingModeSolid { content: "\F33D"; }
@mixin ms-Icon--SadSolid { content: "\F33E"; }
@mixin ms-Icon--HealthSolid { content: "\F33F"; }
@mixin ms-Icon--ShieldSolid { content: "\F340"; }
@mixin ms-Icon--GiftBoxSolid { content: "\F341"; }
@mixin ms-Icon--ShoppingCartSolid { content: "\F342"; }
@mixin ms-Icon--MailSolid { content: "\F343"; }
@mixin ms-Icon--ChatSolid { content: "\F344"; }


// Classes
.ms-Icon--CommentNext:before { @include ms-Icon--CommentNext }
.ms-Icon--CommentPrevious:before { @include ms-Icon--CommentPrevious }
.ms-Icon--ShopServer:before { @include ms-Icon--ShopServer }
.ms-Icon--LocaleLanguage:before { @include ms-Icon--LocaleLanguage }
.ms-Icon--QueryList:before { @include ms-Icon--QueryList }
.ms-Icon--UserSync:before { @include ms-Icon--UserSync }
.ms-Icon--UserPause:before { @include ms-Icon--UserPause }
.ms-Icon--StreamingOff:before { @include ms-Icon--StreamingOff }
.ms-Icon--MoreVertical:before { @include ms-Icon--MoreVertical }
.ms-Icon--ArrowTallUpLeft:before { @include ms-Icon--ArrowTallUpLeft }
.ms-Icon--ArrowTallUpRight:before { @include ms-Icon--ArrowTallUpRight }
.ms-Icon--ArrowTallDownLeft:before { @include ms-Icon--ArrowTallDownLeft }
.ms-Icon--ArrowTallDownRight:before { @include ms-Icon--ArrowTallDownRight }
.ms-Icon--FieldEmpty:before { @include ms-Icon--FieldEmpty }
.ms-Icon--FieldFilled:before { @include ms-Icon--FieldFilled }
.ms-Icon--FieldChanged:before { @include ms-Icon--FieldChanged }
.ms-Icon--FieldNotChanged:before { @include ms-Icon--FieldNotChanged }
.ms-Icon--RingerOff:before { @include ms-Icon--RingerOff }
.ms-Icon--PlayResume:before { @include ms-Icon--PlayResume }
.ms-Icon--BulletedList2:before { @include ms-Icon--BulletedList2 }
.ms-Icon--BulletedList2Mirrored:before { @include ms-Icon--BulletedList2Mirrored }
.ms-Icon--ImageCrosshair:before { @include ms-Icon--ImageCrosshair }
.ms-Icon--GitGraph:before { @include ms-Icon--GitGraph }
.ms-Icon--Repo:before { @include ms-Icon--Repo }
.ms-Icon--RepoSolid:before { @include ms-Icon--RepoSolid }
.ms-Icon--FolderQuery:before { @include ms-Icon--FolderQuery }
.ms-Icon--FolderList:before { @include ms-Icon--FolderList }
.ms-Icon--FolderListMirrored:before { @include ms-Icon--FolderListMirrored }
.ms-Icon--LocationOutline:before { @include ms-Icon--LocationOutline }
.ms-Icon--POISolid:before { @include ms-Icon--POISolid }
.ms-Icon--CalculatorNotEqualTo:before { @include ms-Icon--CalculatorNotEqualTo }
.ms-Icon--BoxSubtractSolid:before { @include ms-Icon--BoxSubtractSolid }
.ms-Icon--BoxAdditionSolid:before { @include ms-Icon--BoxAdditionSolid }
.ms-Icon--BoxMultiplySolid:before { @include ms-Icon--BoxMultiplySolid }
.ms-Icon--BoxPlaySolid:before { @include ms-Icon--BoxPlaySolid }
.ms-Icon--BoxCheckmarkSolid:before { @include ms-Icon--BoxCheckmarkSolid }
.ms-Icon--CirclePauseSolid:before { @include ms-Icon--CirclePauseSolid }
.ms-Icon--CirclePause:before { @include ms-Icon--CirclePause }
.ms-Icon--MSNVideosSolid:before { @include ms-Icon--MSNVideosSolid }
.ms-Icon--CircleStopSolid:before { @include ms-Icon--CircleStopSolid }
.ms-Icon--CircleStop:before { @include ms-Icon--CircleStop }
.ms-Icon--NavigateBack:before { @include ms-Icon--NavigateBack }
.ms-Icon--NavigateBackMirrored:before { @include ms-Icon--NavigateBackMirrored }
.ms-Icon--NavigateForward:before { @include ms-Icon--NavigateForward }
.ms-Icon--NavigateForwardMirrored:before { @include ms-Icon--NavigateForwardMirrored }
.ms-Icon--UnknownSolid:before { @include ms-Icon--UnknownSolid }
.ms-Icon--UnknownMirroredSolid:before { @include ms-Icon--UnknownMirroredSolid }
.ms-Icon--CircleAddition:before { @include ms-Icon--CircleAddition }
.ms-Icon--CircleAdditionSolid:before { @include ms-Icon--CircleAdditionSolid }
.ms-Icon--FilePDB:before { @include ms-Icon--FilePDB }
.ms-Icon--FileTemplate:before { @include ms-Icon--FileTemplate }
.ms-Icon--FileSQL:before { @include ms-Icon--FileSQL }
.ms-Icon--FileJAVA:before { @include ms-Icon--FileJAVA }
.ms-Icon--FileASPX:before { @include ms-Icon--FileASPX }
.ms-Icon--FileCSS:before { @include ms-Icon--FileCSS }
.ms-Icon--FileSass:before { @include ms-Icon--FileSass }
.ms-Icon--FileLess:before { @include ms-Icon--FileLess }
.ms-Icon--FileHTML:before { @include ms-Icon--FileHTML }
.ms-Icon--JavaScriptLanguage:before { @include ms-Icon--JavaScriptLanguage }
.ms-Icon--CSharpLanguage:before { @include ms-Icon--CSharpLanguage }
.ms-Icon--CSharp:before { @include ms-Icon--CSharp }
.ms-Icon--VisualBasicLanguage:before { @include ms-Icon--VisualBasicLanguage }
.ms-Icon--VB:before { @include ms-Icon--VB }
.ms-Icon--CPlusPlusLanguage:before { @include ms-Icon--CPlusPlusLanguage }
.ms-Icon--CPlusPlus:before { @include ms-Icon--CPlusPlus }
.ms-Icon--FSharpLanguage:before { @include ms-Icon--FSharpLanguage }
.ms-Icon--FSharp:before { @include ms-Icon--FSharp }
.ms-Icon--TypeScriptLanguage:before { @include ms-Icon--TypeScriptLanguage }
.ms-Icon--PythonLanguage:before { @include ms-Icon--PythonLanguage }
.ms-Icon--PY:before { @include ms-Icon--PY }
.ms-Icon--CoffeeScript:before { @include ms-Icon--CoffeeScript }
.ms-Icon--MarkDownLanguage:before { @include ms-Icon--MarkDownLanguage }
.ms-Icon--FullWidth:before { @include ms-Icon--FullWidth }
.ms-Icon--FullWidthEdit:before { @include ms-Icon--FullWidthEdit }
.ms-Icon--SingleColumnEdit:before { @include ms-Icon--SingleColumnEdit }
.ms-Icon--DoubleColumnEdit:before { @include ms-Icon--DoubleColumnEdit }
.ms-Icon--TripleColumnEdit:before { @include ms-Icon--TripleColumnEdit }
.ms-Icon--ColumnLeftTwoThirdsEdit:before { @include ms-Icon--ColumnLeftTwoThirdsEdit }
.ms-Icon--ColumnRightTwoThirdsEdit:before { @include ms-Icon--ColumnRightTwoThirdsEdit }
.ms-Icon--StreamLogo:before { @include ms-Icon--StreamLogo }
.ms-Icon--AlertSolid:before { @include ms-Icon--AlertSolid }
.ms-Icon--MegaphoneSolid:before { @include ms-Icon--MegaphoneSolid }
.ms-Icon--TaskSolid:before { @include ms-Icon--TaskSolid }
.ms-Icon--ConfigurationSolid:before { @include ms-Icon--ConfigurationSolid }
.ms-Icon--BugSolid:before { @include ms-Icon--BugSolid }
.ms-Icon--CrownSolid:before { @include ms-Icon--CrownSolid }
.ms-Icon--Trophy2Solid:before { @include ms-Icon--Trophy2Solid }
.ms-Icon--QuickNoteSolid:before { @include ms-Icon--QuickNoteSolid }
.ms-Icon--ConstructionConeSolid:before { @include ms-Icon--ConstructionConeSolid }
.ms-Icon--PageListSolid:before { @include ms-Icon--PageListSolid }
.ms-Icon--PageListMirroredSolid:before { @include ms-Icon--PageListMirroredSolid }
.ms-Icon--StarburstSolid:before { @include ms-Icon--StarburstSolid }
.ms-Icon--ReadingModeSolid:before { @include ms-Icon--ReadingModeSolid }
.ms-Icon--SadSolid:before { @include ms-Icon--SadSolid }
.ms-Icon--HealthSolid:before { @include ms-Icon--HealthSolid }
.ms-Icon--ShieldSolid:before { @include ms-Icon--ShieldSolid }
.ms-Icon--GiftBoxSolid:before { @include ms-Icon--GiftBoxSolid }
.ms-Icon--ShoppingCartSolid:before { @include ms-Icon--ShoppingCartSolid }
.ms-Icon--MailSolid:before { @include ms-Icon--MailSolid }
.ms-Icon--ChatSolid:before { @include ms-Icon--ChatSolid }

