@import '../../common/common';

.ms-Link {
  color: $ms-color-themePrimary;
  margin: 0;
  overflow: inherit;
  padding: 0;
  text-overflow: inherit;

  // State: The button is not disabled.
  &:not(.is-disabled) {
    &:hover,
    &:focus {
      color: $ms-color-themeDarker;
    }

    &:active {
      color: $ms-color-themePrimary;
    }
  }

  // State: The button is disabled.
  &.is-disabled {
    color: $ms-color-neutralTertiary;
    pointer-events: none;
    cursor: default;
  }
}

// Link implemented as a button.
button.ms-Link {
  @include focus-border;
  @include text-align(left);
  background: none;
  border: none;
  cursor: pointer;
  display: inline;
  font-size: inherit; // Ensure that we inherit font size, rather than the browser's default.
}

// Link implemented as an anchor.
a.ms-Link {
  @include focus-outline;
  text-decoration: none;
}
