@import '../../../styles/variables';
@import '../../../styles/mixins';

:global {
  .AnimationExample {
    position:relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: inline-block;
  }

  .AnimationExample-content {
    width: 100%;
    height: 100%;
    border: 1px solid #666;
    padding: 10px;

    hr {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    hr:first-child {
      margin-top: 4px;
    }
  }

  .animationExample_panel {
    position:absolute;
    top:0;
    width:60px;
    height: 100%;
    opacity: 0;
    background-color: $ms-color-themePrimary;

    @include high-contrast {
    background-color: WindowText;
    }
  }

  .docs_animationsTable_body { // override for demo purposes
    .slideRightOut40, .slideLeftOut40, .slideUpOut20, .slideUpOut10,
    .slideDownOut20, .slideDownOut10, .scaleUpOut103, .scaleDownOut98,
    .fadeOut100, .fadeOut200, .fadeOut400, .fadeOut500 {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;

      .animationExample_panel {
        -webkit-animation-play-state: running;
        animation-play-state: running;
        opacity: 1;
      }
    }

    .slideRightOut40, .slideLeftOut40, .slideLeftIn10, .slideLeftIn20, .slideLeftIn40 {
        .animationExample_panel {
            right: 0;
        }
    }
    .slideLeftOut40 {
        .animationExample_panel {
            left: 0;
        }
    }
    .slideUpOut20, .slideUpOut10, .slideDownOut20, .slideDownOut10 {
        .animationExample_panel {
            width: 100%;
            height: 30px;
            top: 0;
        }
    }
    .slideUpOut10, .slideDownOut10 {
        .animationExample_panel {
            width: 60px;
            top: 10px;
            right: 10px;
            height: 20px;
        }
    }
    .slideDownOut10, .slideDownOut20 {
        .animationExample_panel {
            top: 60px;
        }
    }
    .scaleUpIn100,
    .scaleDownIn100,
    .scaleUpOut103,
    .scaleDownOut98 {
        overflow: visible;
        .animationExample_panel {
            height: 100%;
            width: 100%;
            top: 0;
        }
        @-webkit-keyframes scaleUp100 {
            from {
                -webkit-transform: scale3d(0.70, 0.70, 1);
            }

            to {
                -webkit-transform: scale3d(1, 1, 1);
            }
        }

        @keyframes scaleUp100 {
            from {
                transform: scale3d(0.70, 0.70, 1);
            }

            to {
                transform: scale3d(1, 1, 1);
            }
        }
        @-webkit-keyframes scaleDown100 {
            from {
                -webkit-transform: scale3d(1.30, 1.30, 1);
            }

            to {
                -webkit-transform: scale3d(1, 1, 1);
            }
        }

        @keyframes scaleDown100 {
            from {
                transform: scale3d(1.30, 1.30, 1);
            }

            to {
                transform: scale3d(1, 1, 1);
            }
        }
        @-webkit-keyframes scaleUp103 {
            from {
                -webkit-transform: scale3d(1, 1, 1);
            }

            to {
                -webkit-transform: scale3d(1.15, 1.15, 1);
            }
        }
        @keyframes scaleUp103 {
            from {
                transform: scale3d(1, 1, 1);
            }

            to {
                transform: scale3d(1.15, 1.15, 1);
            }
        }
        @-webkit-keyframes scaleDown98 {
            from {
                -webkit-transform: scale3d(1, 1, 1);
            }

            to {
                -webkit-transform: scale3d(0.85, 0.85, 1);
            }
        }

        @keyframes scaleDown98 {
            from {
                transform: scale3d(1, 1, 1);
            }

            to {
                transform: scale3d(0.85, 0.85, 1);
            }
        }
    }

    .fadeIn100, .fadeIn200, .fadeIn400, .fadeIn500 {
        .animationExample_panel {
            height: 100%;
            width: 100%;
            top: 0;
        }
    }

    .fadeOut100, .fadeOut200, .fadeOut400, .fadeOut500 {
        .animationExample_panel {
            height: 100%;
            width: 100%;
            top: 0;
        }
    }
  }
}
