.react-grid-layout {
  transition: none;
}

.react-grid-item.react-draggable-dragging {
  transition: box-shadow 600ms;
  z-index: 3;
  will-change: transform;
  /* 64px Fluent Shadow Values */
  box-shadow: 0 4.8px 14.4px rgba(0, 0, 0, 0.18), 0 25.6px 57.6px rgba(0, 0, 0, 0.22);
  background-color: rgba(255, 255, 255, 0.9);
}

.react-grid-item {
  box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, 0.108), 0 1.6px 3.6px rgba(0, 0, 0, 0.132);
  border-radius: 2px;
  transition: transform 200ms ease;
  transition-property: left, top;
  display: flex;
}

/**style override for section headers in dashboard */
.react-grid-item.section-item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  display: flex;
}

.react-grid-item.react-grid-placeholder {
  background: #fff;
  border: 1px solid #000;
  text-align: left;
  display: flex;
  justify-content: center;
}
