@import '../../styles/variables';

.table {
  margin-bottom: 20px;
  width: 100%;

  td {
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-semilight;
    padding: 20px;
    width: 100%;
  }
}

.screenReaderOnly {
  @include ms-screenReaderOnly;
}