@import '../../common/common';

$dialogHeight: 456px;
$dialogWidth: 620px;
$imageHeight: 268px;
$buttonWidth: 310px;
$buttonHeight: 60px;
$descHeight: 124px;
$paginationWidth: 96px;

.ms-TeachingDialog-modal{
    position: fixed;
    top: 0;
    @include left(0);
    width: 100%;
    height: 100%;
    background-color: transparentize(#333333,0.2);
    z-index: 20;

    .ms-TeachingDialog-main {
        cursor: default;
        position: fixed;
        top: calc(50% - 227px);
        @include left(calc(50% - 310px));
        width: $dialogWidth;
        height: $dialogHeight;
        box-shadow: 0px 0px 5px 2px transparentize(#333333,0.7);
        z-index: 20;

        .ms-TeachingDialogContent-welcome {
            @include ms-font-su();
            position: absolute;
            width: 100%;
            height: auto;
            bottom: 474px;
            opacity: 1;
            text-align: center;
            line-height: 38pt;
            color: White;
            font-size: 32px;
        }

        .XButton{
            position: absolute;
            top: 0;
            @include right(0);
            height: 20px;
            @include margin-right(20px);
            margin-top: 20px;
            z-index: 20;
            opacity: 1;
            color: white;
            cursor: pointer;
        }

         .ms-TeachingDialogContent{
             width: 100%;

            .ms-TeachingDialogContent-imageArea {
                top: 0;
                width: 100%;
                height: auto;
                background-color: #30C6CC;

                .ms-TeachingDialogContent-image {
                    width: 100%;
                    height: 100%;
                }
            }

            .ms-TeachingDialogContent-desc {
                @include ms-font-l();
                width: 100%;
                height: 124px;
                background-color: white;

                .ms-TeachingDialogContent-descTitle{
                    @include ms-font-xxl();
                    display: block;
                    padding: 16px 24px 15px 24px;
                    line-height: 24pt;
                    color: $ms-color-neutralPrimary;
                }

                .ms-TeachingDialogContent-descText{
                    @include ms-font-m();
                    display: block;
                    line-height: 15pt;
                    padding: 0px 24px 22px 24px;
                    color: $ms-color-neutralPrimary;
                }
            }
         }


        .ButtonsArea{
                width: 100%;
                height: auto;
                background-color: White;

                .Button{
                    @include ms-font-m();
                    width: 50%;
                    height: $buttonHeight;
                    display: inline-block;
                    border-top: 1px solid $ms-color-neutralLight;
                    padding: 20px 0px 21px 0px;
                    text-align: center;
                    color: $ms-color-neutralPrimary;
                    cursor: pointer;

                    &-Right {
                      border-left: 1px solid $ms-color-neutralLight;
                    }

                    &.isLight {
                      color: $ms-color-neutralTertiary;
                    }
                  }
        }

        .ms-TeachingDialogContent-pagination {
            display: block;
            width: 100%;
            height: 36px;
            opacity: 1;
            padding-top: 24px;
            text-align: center;
            .btn {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin: 0 8px 0 8px;
                border: solid white 1px;
                display: inline-block;

                &.isFilled {
                    background-color: White;
                }
            }
        }
    }
}

//Large
@media (max-width: 1024px){
    .ms-TeachingDialog-modal{
        .ms-TeachingDialog-main {
            @include left(calc(50% - 262px));
            width: 524px;
            height: 414px;
        }
    }
}

//Smaller than large
@media (max-width: 640px){
    .ms-TeachingDialog-modal{
        display: none;
    }
}