/* Mimic React v9 Provider styles:
 *   - apply font, background, and foreground colors
 *   - apply padding for story content
 */
#docs-root .innerZoomElementWrapper > div > div {
  padding: 48px 24px;
  font-family: var(--fontFamilyBase);
  background: var(--colorNeutralBackground2);
  color: var(--colorNeutralForeground2);
}

/*
 * Theme Switcher
 */
#switches-container {
  position: sticky;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 12px;
  width: 100%;
  top: 0;
  box-sizing: border-box; /* keep from overflowing body making x scroll bar*/
  background: #fff;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 22%);
  z-index: 10;
}

#switches-container select {
  padding: 5px var(--spacingHorizontalM);
  border: var(--strokeWidthThin) solid #d1d1d1 /* --colorNeutralStroke1, without theme switching */;
  border-radius: var(--borderRadiusMedium);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase300);
  width: 140px;
}

.custom-fullscreen #switches-container {
  display: none;
}

.custom-fullscreen .sbdocs-wrapper {
  padding: 20px;
}

.custom-fullscreen .sbdocs-content {
  max-width: unset;
}
