@import '../../common/common';

:global {
  .ExampleCard {
    margin: 20px 0;
  }

  .ExampleCard-header {
    border-bottom: 1px solid $ms-color-neutralTertiary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
  }

  .ExampleCard-title {
    @include ms-font-l;
    margin-bottom: 10px;
    display: inline-block;
  }

  .ExampleCard-toggleButtons {
    @include ms-font-l;
    display: flex;
    @include float(right);

    .ms-Button.ExampleCard-codeButton {
      @include ms-margin-right(0);
      background: none;
      background-color: transparent;
      border: 1px solid $ms-color-neutralTertiary;
      border-bottom: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      line-height: 1;
      padding: 4px 12px;
      min-width: 100px;
      transition: border $ms-animation-duration-3 $ms-animation-ease-1;

      .ms-Button-label {
        color: $ms-color-neutralDark;
        display: inline-block;
      }

      &.is-active,
      &:hover {
        background-color: $ms-color-neutralDark;
        border-color: $ms-color-neutralDark;

        .ms-Button-icon,
        .ms-Button-label {
          color: $ms-color-white;
        }
      }
    }

    // Modeled after ExampleCard-codeButton to look similar
    .ms-Dropdown-title.ExampleCard-themeDropdown {
      @include ms-margin-right(0);
      background: none;
      background-color: transparent;
      border: 1px solid $ms-color-neutralTertiary;
      border-bottom: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 4px 12px;
      min-width: 100px;
      transition: border $ms-animation-duration-3 $ms-animation-ease-1;

      &:focus {
        border-color: $ms-color-neutralDark;
        outline-color: $ms-color-neutralDark;
      }
    }
  }

  .ExampleCard-example {
    &.is-scrollable {
      -webkit-overflow-scrolling: touch;
      max-height: 80vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 20px 4px;
      position: relative;
    }

    &.is-right-aligned {
      @include text-align(right);
    }

    // Utility classes that can be used within examples.
    .u-marginLeft {
      @include ms-margin-left(20px);
    }
    .u-marginRight {
      @include ms-margin-right(20px);
    }
    .u-marginBottom {
      margin-bottom: 28px;
    }
  }

  .ExampleCard-code {
    background-color: $ms-color-neutralDark;
    overflow: hidden;

    // Collapsed by default
    pre {
      margin: 0;
      max-height: 0;
      overflow: auto;
      transition: all $ms-animation-duration-3 $ms-animation-ease-1;
    }

    code {
      display: block;
      margin: 12px;
    }
  }

  .ExampleCard.is-codeVisible {
    .ExampleCard-header {
      border-color: $ms-color-neutralDark;
    }

    .ExampleCard-code pre {
      max-height: 480px;
      min-height: 120px;
    }
  }

  .ExampleCard.is-codeVisible .ExampleCard-code {
    display: block;
    margin-bottom: 20px;
  }

  .ExampleCard-dosAndDonts {
    width: 100%;
  }

  .ExampleCard-dos {
    width: calc(50% - 50px);
    display: inline-block;
    @include ms-margin-right(50px);

    h4 {
      @include ms-font-l;
      color: #177d3e;
    }
  }

  .ExampleCard-donts {
    width: calc(50%);
    display: inline-block;

    h4 {
      @include ms-font-l;
      color: #a61e22;
    }
  }
}
