@import '../../common/common';

.root {
  position: relative;
  cursor: default;
}

.dragMask {
  position: absolute;
  background: rgba(255, 0, 0, 0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  @include high-contrast {
    background: none;
  }
}

.box {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid $ms-color-themePrimary;
  pointer-events: none;
  z-index: $ms-zIndex-front;

  @include high-contrast {
    border-color: Highlight;
  }
}

.boxFill {
  position: absolute;
  box-sizing: border-box;
  background-color: $ms-color-themePrimary;
  opacity: .1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  @include high-contrast {
    background: none;
  }
}
