@import '../../common/common';

:global {

  .Themes {
    padding: 40px;
  }

  .ThemePage-colorSwatch {
    @include focus-border();
    margin: -10px 0;
    line-height: 36px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background: rgba(0,0,0,.05);
    }
  }

  .ThemePage-swatch {
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    @include ms-margin-right(5px);
    border: 1px solid rgba(127, 127, 127, .5);
  }

}