@import '~@fluentui/common-styles/src/themeCssVariables';
@import '~@fluentui/common-styles/src/highContrast';
@import '~@fluentui/common-styles/src/focusBorder';

.root {
  color: var($semanticColorsLink);
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  text-decoration: none;

  @include fonts-medium;

  @include focus(true) {
    box-shadow: 0 0 0 1px var($semanticColorsFocusBorder) inset;
    outline: 1px auto var($semanticColorsFocusBorder);

    @include high-contrast {
      outline: 1px solid WindowText;
    }
  }

  @include high-contrast {
    border-bottom: none;
    -ms-high-contrast-adjust: auto;
  }

  &.button {
    background: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: inline;
    margin: 0;
    overflow: inherit;
    padding: 0;
    text-align: left;
    text-overflow: inherit;
    user-select: text;

    @include high-contrast-black-on-white {
      color: #ffff00;
    }
    @include high-contrast-white-on-black {
      color: #00009f;
    }
  }

  &.disabled {
    color: var($semanticColorsDisabledText);
    cursor: default;

    &link,
    &:visited {
      pointer-events: none;
    }
  }

  &:not(.disabled) {
    &:active,
    &:hover,
    &:active:hover {
      color: var($semanticColorsLinkHovered);
      text-decoration: underline;
    }

    &:focus {
      color: var($semanticColorsLink);
    }
  }
}
