:global {
  .ms-AnnouncedExamples-photoList {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    line-height: 0;
    overflow: auto;
  }

  .ms-AnnouncedExamples-photoCell {
    position: relative;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 5px;

    &:focus {
      outline: none;

      &:after {
        content: '';
        position: absolute;
        right: 4px;
        left: 4px;
        top: 4px;
        bottom: 4px;
        border: 1px solid white;
        outline: 2px solid black;
      }
    }
  }

  .detailsListDragDropExample {
    .dragEnter {
      background-color: #eaeaea;
    }
  }
}