@import '../../common/common';

.ms-Pane {
    /** bug: pane should not ignore pointer events. */
    pointer-events: inherit;
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;

    > .main-content {
        overflow: auto;
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;

        > .content-container {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
        }
    }
}

.ms-Pane > .popup {
    overflow-y: auto;
}

// [thomas.oconnor] Instead of using the current Fabric CSS implementation for the Pane,
// we are recreating it here. The Fabic Pane will be undergoing some redesign work in the
// near future.
// This implementation is RTL friendly, and divides the classes so that the pane types
// and left/right animations are in different classes. It also separates out the design
// rules/restrictions for Pane usage so that it becomes a generic Pane. It is up to the
// user to use the Panes properly (smLeft panes are for left navs, smFixed panes are for
// drop down menus on mobile, knowing when it's appropriate to have a command bar or not)
//
// Here is the OneNote design document for this implementation of the Pane:
//
// https://msft.spoppe.com/collab/OSS%20Design/pcp/_layouts/15/WopiFrame.aspx?sourcedoc={9a356b27-4138-491d-b2f6-6b3e442fc6a5}&action=edit&wd=target%28%2F%2FDesign%2FToolkit.one%7C61ef427b-c38f-4ee3-a215-67758011eb67%2FSurface%20Behavior%7C376ed8fd-33f0-4661-85aa-feec8a963fa0%2F%29
//

//
// Office UI Fabric
// --------------------------------------------------
// Pane styles

$Pane-width-xs: 272px;
$Pane-width-sm: 340px;
$Pane-width-md: 643px;
$Pane-width-lg: 940px;
$Pane-margin-md: 48px;
$Pane-margin-lg: 428px;
$Pane-margin-xl: 176px;
$CommandBarHeight: 40px;

// The pane itself, where the content goes.
.ms-Pane-main {
    background-color: $ms-color-white;
    display: none;
    width: 100%;
    // Medium screens and up - (anchored right, fixed width)
    @media (min-width: $ms-screen-md-min) {
        @include border-left(1px, solid, $ms-color-neutralLight);
        @include border-right(1px, solid, $ms-color-neutralLight);
        pointer-events: auto;
        width: $Pane-width-sm;
        @include left(auto);
    }
}

//== Modifier: Small pane (anchored right, fixed width)
//
.ms-Pane.ms-Pane--sm {
    .ms-Pane-main {
        width: $Pane-width-xs;

        @media (min-width: $ms-screen-md-min) {
            width: $Pane-width-sm;
        }
    }
}

//== Modifier: Small pane (anchored left, fixed width)
//
.ms-Pane.ms-Pane--smLeft {
    .ms-Pane-main {
        @include right(auto);
        @include left(0);
        width: $Pane-width-xs;
    }
}

//== Modifier: Small pane, full screen (anchored left, fluid width)
// Note: This pane should only be used for dropdown menus on small screens.
//
.ms-Pane.ms-Pane--smFluid {
    .ms-Pane-main {
        width: 100%;
    }
}

//== Modifier: Medium, Large, Extra Largs panes (anchored right, fluid width)
//
.ms-Pane.ms-Pane--md,
.ms-Pane.ms-Pane--lg,
.ms-Pane.ms-Pane--xl {
    .ms-Pane-main {
        @media (min-width: $ms-screen-lg-min) {
            @include left($Pane-margin-md);
            width: auto;
        }
    }
}

//== Modifier: Medium pane (anchored right, fixed width)
//
.ms-Pane.ms-Pane--md {
    .ms-Pane-main {
        @media (min-width: $ms-screen-xl-min) {
            @include left(auto);
            width: $Pane-width-md;
        }
    }
}

//== Modifier: Large pane (anchored right, fluid width)
//
.ms-Pane.ms-Pane--lg {
    .ms-Pane-main {
        @media (min-width: $ms-screen-xxl-min) {
            @include left($Pane-margin-lg);
        }
    }
}

//== Modifier: Large fixed pane (anchored right, fixed width)
//
.ms-Pane.ms-Pane--lg.ms-Pane--fixed {
    .ms-Pane-main {
        @media (min-width: $ms-screen-xxl-min) {
            @include left(auto);
            width: $Pane-width-lg;
        }
    }
}

//== Modifier: XLarge pane (anchored right, fluid width)
//
.ms-Pane.ms-Pane--xl {
    .ms-Pane-main {
        @media (min-width: $ms-screen-xxl-min) {
            @include left($Pane-margin-xl);
        }
    }
}

//== State: When the pane is open.
//
.ms-Pane.is-open {

    .ms-Pane-main {
        opacity: 1;
        pointer-events: auto;
        display: block;
    }

    .ms-Overlay {
        display: block;
        pointer-events: auto;

        @media screen and (-ms-high-contrast: active) {
            opacity: 0;
        }
    }

    &.ms-Pane-animateIn {
        .ms-Pane-main {
            @include ms-u-fadeIn100;
        }
    }

    &.ms-Pane-animateOut {
        .ms-Pane-main {
            @include ms-u-fadeOut100;
        }

        .ms-Overlay {
            display: none;
        }
    }
    // Medium screens and up
    @media (min-width: $ms-screen-md-min) {
        // Animations -- Default (anchored right)
        &.ms-Pane--openRight.ms-Pane-animateIn {
            .ms-Pane-main {
                @include ms-u-slideLeftIn40;
            }

            .ms-Overlay {
                @include ms-u-fadeIn200;
            }
        }

        &.ms-Pane--openRight.ms-Pane-animateOut {
            .ms-Pane-main {
                @include ms-u-slideRightOut40;
            }

            .ms-Overlay {
                @include ms-u-fadeOut200;
            }
        }
        // Animations - Left pane (anchored left)
        &.ms-Pane--openLeft.ms-Pane-animateIn {
            .ms-Pane-main {
                @include ms-u-slideRightIn40;
            }

            .ms-Overlay {
                @include ms-u-fadeIn200;
            }
        }

        &.ms-Pane--openLeft.ms-Pane-animateOut {
            .ms-Pane-main {
                @include ms-u-slideLeftOut40;
            }

            .ms-Overlay {
                @include ms-u-fadeOut200;
            }
        }
        // Animate overlay to full opacity, activate pointer events
        .ms-Overlay {
            cursor: pointer;
            opacity: 1;
            pointer-events: auto;
        }

        &.ms-Pane--openRight.ms-Pane-animateIn,
        &.ms-Pane--openLeft.ms-Pane-animateIn {
            .ms-Overlay {
                @media screen and (-ms-high-contrast: active) {
                    opacity: 0;
                    animation-name: none;
                }
            }
        }
    }
}

.ms-Pane-commands {
    @include text-align(right);
}

// The close button in the top right (x)
.ms-Pane-closeButton {
    @include button-reset();
    @include right(8px);
    top: 0;
    height: $CommandBarHeight;
    width: $CommandBarHeight;
    line-height: $CommandBarHeight;
    padding: 0;
    color: $ms-color-neutralSecondary;
    font-size: $ms-icon-size-m;

    &:hover {
        color: $ms-color-neutralPrimary;
    }
}

// Scrollable content area
.ms-Pane-contentInner {
    top: $CommandBarHeight;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    @include padding(0, 16px, 20px, 0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* Force hw accelleration on scrollable region */
    transform: translateZ(0);

    @media (min-width: $ms-screen-lg-min) {
        @include padding(0, 32px, 20px, 0);
    }

    @media (min-width: $ms-screen-xxl-min) {
        @include padding(0, 40px, 20px, 0);
    }
}

// Header text at the top of the pane.
.ms-Pane-headerText {
    @include ms-font-xl;
    color: $ms-color-neutralPrimary;
    margin: 10px 0;
    padding: 4px 0;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (min-width: $ms-screen-xl-min) {
        margin-top: 30px;
    }
}
