@import "~/office-ui-fabric-core/dist/sass/References";

.todo {
  padding: 28px 40px 60px 40px;
  max-width: 640px;
  margin: 0 auto;
  border: 2px $ms-color-neutralLighter solid;
  @include ms-font-m;

  .topRow {
    position: relative;
  }

  .todoHeading {
    display: inline-block;
  }

  .todoPivot {
    padding-top: 24px;
  }

  .todoForm {
    display: table-row;

    .textField {
      display: table-cell;
      width: 100%;
    }
    .addButton {
      display: table-cell;
      @include ms-margin-left(16px);
      white-space: nowrap;
    }
  }

  .todoList {
    margin-top: 20px;
    border-top: 1px $ms-color-neutralLight solid;

    .todoItem {
      border: 1px $ms-color-neutralLight solid;
      border-top: none;

      .itemTaskRow {
        padding: 16px 20px;

        .deleteButton {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0px;
          @include ms-margin-right(16px);

          &:hover, &:focus {
            color: $ms-color-themePrimary;
          }
        }
      }

      &.isHidden {
        display: none;
      }

      &.isCompleted {
        border-bottom: 1px $ms-color-white solid;
        border-left: 1px $ms-color-neutralLighter solid;
        border-right: 1px $ms-color-neutralLighter solid;
        @include ms-bgColor-neutralLighter;
      }
    }
  }

  .workingOnItSpinner {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 33.33333%;
    line-height: 1.5em;
    padding: 0px 24px;
  }

  .fetchingTasksSpinner {
    display: flex;
    justify-content: center;
    padding: 24px 0px;
  }

  @media only screen and (max-width:640px) {
    padding: 20px 20px;
  }
}