.footer {
  height: 36px;
  padding-left: 11px;
}

.activities {
  width: 184px;
  height: 16px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  float: left;
  padding-top: 8px;
  padding-bottom: 12px;
}

.actions {
  padding-right: 6px;
  position: relative;
}

.action {
  float: right;
  cursor: pointer;
  width: 32px;
  height: 36px;
  background-color: white;
  color: #0078D7;
}

.description {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #797671;
  width: 248px;
  height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chevron {
  font-size: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

:global {
  .ms-ChicletCard .ms-Breadcrumb {
    margin-top: 0px;
  }
}