@import '../../../styles/variables';

.contentInGrid {
  @include ms-padding-left($contentInGrid);
}

// XL and up
@media screen and (min-width: $ms-screen-min-xl) {
  .accentGroup {
    min-height: 320px; // Set a minimum height to prevent groups from wrapping poorly (they are floated)
  }
}
