@import '../../../common/common';

// UHF overrides link color and state so we need to re-assign them for the website documentation
:global {
  .docs-LinkExample {
    .ms-Link {
      // Element: ms-Link root component
      .root {
        color: $ms-color-themePrimary;
        margin: 0;
        overflow: inherit;
        padding: 0;
        text-overflow: inherit;
      }

      // State: The button is not disabled.
      .isEnabled {
        &:active,
        &:hover,
        &:active:hover {
          color: $ms-color-themeDarker;
        }

        &:focus {
          color: $ms-color-themePrimary;
        }
      }

      // State: The button is disabled.
      .isDisabled {
        color: $ms-color-neutralTertiary;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}