$borderRadiusNone: var(--borderRadiusNone);
$borderRadiusSmall: var(--borderRadiusSmall);
$borderRadiusMedium: var(--borderRadiusMedium);
$borderRadiusLarge: var(--borderRadiusLarge);
$borderRadiusXLarge: var(--borderRadiusXLarge);
$borderRadius2XLarge: var(--borderRadius2XLarge);
$borderRadius3XLarge: var(--borderRadius3XLarge);
$borderRadius4XLarge: var(--borderRadius4XLarge);
$borderRadius5XLarge: var(--borderRadius5XLarge);
$borderRadius6XLarge: var(--borderRadius6XLarge);
$borderRadiusCircular: var(--borderRadiusCircular);
