$colorNeutralForeground1: var(--colorNeutralForeground1);
$colorNeutralForeground1Hover: var(--colorNeutralForeground1Hover);
$colorNeutralForeground1Pressed: var(--colorNeutralForeground1Pressed);
$colorNeutralForeground1Selected: var(--colorNeutralForeground1Selected);
$colorNeutralForeground2: var(--colorNeutralForeground2);
$colorNeutralForeground2Hover: var(--colorNeutralForeground2Hover);
$colorNeutralForeground2Pressed: var(--colorNeutralForeground2Pressed);
$colorNeutralForeground2Selected: var(--colorNeutralForeground2Selected);
$colorNeutralForeground2BrandHover: var(--colorNeutralForeground2BrandHover);
$colorNeutralForeground2BrandPressed: var(--colorNeutralForeground2BrandPressed);
$colorNeutralForeground2BrandSelected: var(--colorNeutralForeground2BrandSelected);
$colorNeutralForeground3: var(--colorNeutralForeground3);
$colorNeutralForeground3Hover: var(--colorNeutralForeground3Hover);
$colorNeutralForeground3Pressed: var(--colorNeutralForeground3Pressed);
$colorNeutralForeground3Selected: var(--colorNeutralForeground3Selected);
$colorNeutralForeground3BrandHover: var(--colorNeutralForeground3BrandHover);
$colorNeutralForeground3BrandPressed: var(--colorNeutralForeground3BrandPressed);
$colorNeutralForeground3BrandSelected: var(--colorNeutralForeground3BrandSelected);
$colorNeutralForeground4: var(--colorNeutralForeground4);
$colorNeutralForegroundDisabled: var(--colorNeutralForegroundDisabled);
$colorNeutralForegroundInvertedDisabled: var(--colorNeutralForegroundInvertedDisabled);
$colorBrandForegroundLink: var(--colorBrandForegroundLink);
$colorBrandForegroundLinkHover: var(--colorBrandForegroundLinkHover);
$colorBrandForegroundLinkPressed: var(--colorBrandForegroundLinkPressed);
$colorBrandForegroundLinkSelected: var(--colorBrandForegroundLinkSelected);
$colorNeutralForeground2Link: var(--colorNeutralForeground2Link);
$colorNeutralForeground2LinkHover: var(--colorNeutralForeground2LinkHover);
$colorNeutralForeground2LinkPressed: var(--colorNeutralForeground2LinkPressed);
$colorNeutralForeground2LinkSelected: var(--colorNeutralForeground2LinkSelected);
$colorCompoundBrandForeground1: var(--colorCompoundBrandForeground1);
$colorCompoundBrandForeground1Hover: var(--colorCompoundBrandForeground1Hover);
$colorCompoundBrandForeground1Pressed: var(--colorCompoundBrandForeground1Pressed);
$colorBrandForeground1: var(--colorBrandForeground1);
$colorBrandForeground2: var(--colorBrandForeground2);
$colorBrandForeground2Hover: var(--colorBrandForeground2Hover);
$colorBrandForeground2Pressed: var(--colorBrandForeground2Pressed);
$colorNeutralForeground1Static: var(--colorNeutralForeground1Static);
$colorNeutralForegroundInverted: var(--colorNeutralForegroundInverted);
$colorNeutralForegroundInvertedHover: var(--colorNeutralForegroundInvertedHover);
$colorNeutralForegroundInvertedPressed: var(--colorNeutralForegroundInvertedPressed);
$colorNeutralForegroundInvertedSelected: var(--colorNeutralForegroundInvertedSelected);
$colorNeutralForegroundInverted2: var(--colorNeutralForegroundInverted2);
$colorNeutralForegroundOnBrand: var(--colorNeutralForegroundOnBrand);
$colorNeutralForegroundStaticInverted: var(--colorNeutralForegroundStaticInverted);
$colorNeutralForegroundInvertedLink: var(--colorNeutralForegroundInvertedLink);
$colorNeutralForegroundInvertedLinkHover: var(--colorNeutralForegroundInvertedLinkHover);
$colorNeutralForegroundInvertedLinkPressed: var(--colorNeutralForegroundInvertedLinkPressed);
$colorNeutralForegroundInvertedLinkSelected: var(--colorNeutralForegroundInvertedLinkSelected);
$colorBrandForegroundInverted: var(--colorBrandForegroundInverted);
$colorBrandForegroundInvertedHover: var(--colorBrandForegroundInvertedHover);
$colorBrandForegroundInvertedPressed: var(--colorBrandForegroundInvertedPressed);
$colorBrandForegroundOnLight: var(--colorBrandForegroundOnLight);
$colorBrandForegroundOnLightHover: var(--colorBrandForegroundOnLightHover);
$colorBrandForegroundOnLightPressed: var(--colorBrandForegroundOnLightPressed);
$colorBrandForegroundOnLightSelected: var(--colorBrandForegroundOnLightSelected);
$colorNeutralBackground1: var(--colorNeutralBackground1);
$colorNeutralBackground1Hover: var(--colorNeutralBackground1Hover);
$colorNeutralBackground1Pressed: var(--colorNeutralBackground1Pressed);
$colorNeutralBackground1Selected: var(--colorNeutralBackground1Selected);
$colorNeutralBackground2: var(--colorNeutralBackground2);
$colorNeutralBackground2Hover: var(--colorNeutralBackground2Hover);
$colorNeutralBackground2Pressed: var(--colorNeutralBackground2Pressed);
$colorNeutralBackground2Selected: var(--colorNeutralBackground2Selected);
$colorNeutralBackground3: var(--colorNeutralBackground3);
$colorNeutralBackground3Hover: var(--colorNeutralBackground3Hover);
$colorNeutralBackground3Pressed: var(--colorNeutralBackground3Pressed);
$colorNeutralBackground3Selected: var(--colorNeutralBackground3Selected);
$colorNeutralBackground4: var(--colorNeutralBackground4);
$colorNeutralBackground4Hover: var(--colorNeutralBackground4Hover);
$colorNeutralBackground4Pressed: var(--colorNeutralBackground4Pressed);
$colorNeutralBackground4Selected: var(--colorNeutralBackground4Selected);
$colorNeutralBackground5: var(--colorNeutralBackground5);
$colorNeutralBackground5Hover: var(--colorNeutralBackground5Hover);
$colorNeutralBackground5Pressed: var(--colorNeutralBackground5Pressed);
$colorNeutralBackground5Selected: var(--colorNeutralBackground5Selected);
$colorNeutralBackground6: var(--colorNeutralBackground6);
$colorNeutralBackgroundInverted: var(--colorNeutralBackgroundInverted);
$colorNeutralBackgroundStatic: var(--colorNeutralBackgroundStatic);
$colorNeutralBackgroundAlpha: var(--colorNeutralBackgroundAlpha);
$colorNeutralBackgroundAlpha2: var(--colorNeutralBackgroundAlpha2);
$colorSubtleBackground: var(--colorSubtleBackground);
$colorSubtleBackgroundHover: var(--colorSubtleBackgroundHover);
$colorSubtleBackgroundPressed: var(--colorSubtleBackgroundPressed);
$colorSubtleBackgroundSelected: var(--colorSubtleBackgroundSelected);
$colorSubtleBackgroundLightAlphaHover: var(--colorSubtleBackgroundLightAlphaHover);
$colorSubtleBackgroundLightAlphaPressed: var(--colorSubtleBackgroundLightAlphaPressed);
$colorSubtleBackgroundLightAlphaSelected: var(--colorSubtleBackgroundLightAlphaSelected);
$colorSubtleBackgroundInverted: var(--colorSubtleBackgroundInverted);
$colorSubtleBackgroundInvertedHover: var(--colorSubtleBackgroundInvertedHover);
$colorSubtleBackgroundInvertedPressed: var(--colorSubtleBackgroundInvertedPressed);
$colorSubtleBackgroundInvertedSelected: var(--colorSubtleBackgroundInvertedSelected);
$colorTransparentBackground: var(--colorTransparentBackground);
$colorTransparentBackgroundHover: var(--colorTransparentBackgroundHover);
$colorTransparentBackgroundPressed: var(--colorTransparentBackgroundPressed);
$colorTransparentBackgroundSelected: var(--colorTransparentBackgroundSelected);
$colorNeutralBackgroundDisabled: var(--colorNeutralBackgroundDisabled);
$colorNeutralBackgroundInvertedDisabled: var(--colorNeutralBackgroundInvertedDisabled);
$colorNeutralStencil1: var(--colorNeutralStencil1);
$colorNeutralStencil2: var(--colorNeutralStencil2);
$colorNeutralStencil1Alpha: var(--colorNeutralStencil1Alpha);
$colorNeutralStencil2Alpha: var(--colorNeutralStencil2Alpha);
$colorBackgroundOverlay: var(--colorBackgroundOverlay);
$colorScrollbarOverlay: var(--colorScrollbarOverlay);
$colorBrandBackground: var(--colorBrandBackground);
$colorBrandBackgroundHover: var(--colorBrandBackgroundHover);
$colorBrandBackgroundPressed: var(--colorBrandBackgroundPressed);
$colorBrandBackgroundSelected: var(--colorBrandBackgroundSelected);
$colorCompoundBrandBackground: var(--colorCompoundBrandBackground);
$colorCompoundBrandBackgroundHover: var(--colorCompoundBrandBackgroundHover);
$colorCompoundBrandBackgroundPressed: var(--colorCompoundBrandBackgroundPressed);
$colorBrandBackgroundStatic: var(--colorBrandBackgroundStatic);
$colorBrandBackground2: var(--colorBrandBackground2);
$colorBrandBackground2Hover: var(--colorBrandBackground2Hover);
$colorBrandBackground2Pressed: var(--colorBrandBackground2Pressed);
$colorBrandBackground3Static: var(--colorBrandBackground3Static);
$colorBrandBackground4Static: var(--colorBrandBackground4Static);
$colorBrandBackgroundInverted: var(--colorBrandBackgroundInverted);
$colorBrandBackgroundInvertedHover: var(--colorBrandBackgroundInvertedHover);
$colorBrandBackgroundInvertedPressed: var(--colorBrandBackgroundInvertedPressed);
$colorBrandBackgroundInvertedSelected: var(--colorBrandBackgroundInvertedSelected);
$colorNeutralCardBackground: var(--colorNeutralCardBackground);
$colorNeutralCardBackgroundHover: var(--colorNeutralCardBackgroundHover);
$colorNeutralCardBackgroundPressed: var(--colorNeutralCardBackgroundPressed);
$colorNeutralCardBackgroundSelected: var(--colorNeutralCardBackgroundSelected);
$colorNeutralCardBackgroundDisabled: var(--colorNeutralCardBackgroundDisabled);
$colorNeutralStrokeAccessible: var(--colorNeutralStrokeAccessible);
$colorNeutralStrokeAccessibleHover: var(--colorNeutralStrokeAccessibleHover);
$colorNeutralStrokeAccessiblePressed: var(--colorNeutralStrokeAccessiblePressed);
$colorNeutralStrokeAccessibleSelected: var(--colorNeutralStrokeAccessibleSelected);
$colorNeutralStroke1: var(--colorNeutralStroke1);
$colorNeutralStroke1Hover: var(--colorNeutralStroke1Hover);
$colorNeutralStroke1Pressed: var(--colorNeutralStroke1Pressed);
$colorNeutralStroke1Selected: var(--colorNeutralStroke1Selected);
$colorNeutralStroke2: var(--colorNeutralStroke2);
$colorNeutralStroke3: var(--colorNeutralStroke3);
$colorNeutralStrokeSubtle: var(--colorNeutralStrokeSubtle);
$colorNeutralStrokeOnBrand: var(--colorNeutralStrokeOnBrand);
$colorNeutralStrokeOnBrand2: var(--colorNeutralStrokeOnBrand2);
$colorNeutralStrokeOnBrand2Hover: var(--colorNeutralStrokeOnBrand2Hover);
$colorNeutralStrokeOnBrand2Pressed: var(--colorNeutralStrokeOnBrand2Pressed);
$colorNeutralStrokeOnBrand2Selected: var(--colorNeutralStrokeOnBrand2Selected);
$colorBrandStroke1: var(--colorBrandStroke1);
$colorBrandStroke2: var(--colorBrandStroke2);
$colorBrandStroke2Hover: var(--colorBrandStroke2Hover);
$colorBrandStroke2Pressed: var(--colorBrandStroke2Pressed);
$colorBrandStroke2Contrast: var(--colorBrandStroke2Contrast);
$colorCompoundBrandStroke: var(--colorCompoundBrandStroke);
$colorCompoundBrandStrokeHover: var(--colorCompoundBrandStrokeHover);
$colorCompoundBrandStrokePressed: var(--colorCompoundBrandStrokePressed);
$colorNeutralStrokeDisabled: var(--colorNeutralStrokeDisabled);
$colorNeutralStrokeInvertedDisabled: var(--colorNeutralStrokeInvertedDisabled);
$colorTransparentStroke: var(--colorTransparentStroke);
$colorTransparentStrokeInteractive: var(--colorTransparentStrokeInteractive);
$colorTransparentStrokeDisabled: var(--colorTransparentStrokeDisabled);
$colorNeutralStrokeAlpha: var(--colorNeutralStrokeAlpha);
$colorNeutralStrokeAlpha2: var(--colorNeutralStrokeAlpha2);
$colorStrokeFocus1: var(--colorStrokeFocus1);
$colorStrokeFocus2: var(--colorStrokeFocus2);
$colorNeutralShadowAmbient: var(--colorNeutralShadowAmbient);
$colorNeutralShadowKey: var(--colorNeutralShadowKey);
$colorNeutralShadowAmbientLighter: var(--colorNeutralShadowAmbientLighter);
$colorNeutralShadowKeyLighter: var(--colorNeutralShadowKeyLighter);
$colorNeutralShadowAmbientDarker: var(--colorNeutralShadowAmbientDarker);
$colorNeutralShadowKeyDarker: var(--colorNeutralShadowKeyDarker);
$colorBrandShadowAmbient: var(--colorBrandShadowAmbient);
$colorBrandShadowKey: var(--colorBrandShadowKey);
