$curveAccelerateMax: var(--curveAccelerateMax);
$curveAccelerateMid: var(--curveAccelerateMid);
$curveAccelerateMin: var(--curveAccelerateMin);
$curveDecelerateMax: var(--curveDecelerateMax);
$curveDecelerateMid: var(--curveDecelerateMid);
$curveDecelerateMin: var(--curveDecelerateMin);
$curveEasyEaseMax: var(--curveEasyEaseMax);
$curveEasyEase: var(--curveEasyEase);
$curveLinear: var(--curveLinear);
