$shadow2: var(--shadow2);
$shadow4: var(--shadow4);
$shadow8: var(--shadow8);
$shadow16: var(--shadow16);
$shadow28: var(--shadow28);
$shadow64: var(--shadow64);

$shadow2Brand: var(--shadow2Brand);
$shadow4Brand: var(--shadow4Brand);
$shadow8Brand: var(--shadow8Brand);
$shadow16Brand: var(--shadow16Brand);
$shadow28Brand: var(--shadow28Brand);
$shadow64Brand: var(--shadow64Brand);
