$spacingHorizontalNone: var(--spacing-horizontal-none);
$spacingHorizontalXXS: var(--spacing-horizontal-xxs);
$spacingHorizontalXS: var(--spacing-horizontal-xs);
$spacingHorizontalSNudge: var(--spacing-horizontal-s-nudge);
$spacingHorizontalS: var(--spacing-horizontal-s);
$spacingHorizontalMNudge: var(--spacing-horizontal-m-nudge);
$spacingHorizontalM: var(--spacing-horizontal-m);
$spacingHorizontalL: var(--spacing-horizontal-l);
$spacingHorizontalXL: var(--spacing-horizontal-xl);
$spacingHorizontalXXL: var(--spacing-horizontal-xxl);
$spacingHorizontalXXXL: var(--spacing-horizontal-xxxl);
$spacingVerticalNone: var(--spacing-vertical-none);
$spacingVerticalXXS: var(--spacing-vertical-xxs);
$spacingVerticalXS: var(--spacing-vertical-xs);
$spacingVerticalSNudge: var(--spacing-vertical-s-nudge);
$spacingVerticalS: var(--spacing-vertical-s);
$spacingVerticalMNudge: var(--spacing-vertical-m-nudge);
$spacingVerticalM: var(--spacing-vertical-m);
$spacingVerticalL: var(--spacing-vertical-l);
$spacingVerticalXL: var(--spacing-vertical-xl);
$spacingVerticalXXL: var(--spacing-vertical-xxl);
$spacingVerticalXXXL: var(--spacing-vertical-xxxl);
