import * as React from 'react';

import { I{{componentName}}Component } from './{{componentName}}.types';

export const {{componentName}}View: I{{componentName}}Component['view'] = props => {
  return(
    <div className={props.classNames.root}>
      <div>Text: {props.text}</div>
      <div>Status: {props.status}</div>
    </div>
  );
};