import { useState } from 'react';
import { I{{componentName}}Component, I{{componentName}}Props, I{{componentName}}ViewProps } from './{{componentName}}.types';
import { useControlledState } from '../../Foundation';

export const use{{componentName}}State: I{{componentName}}Component['state'] = (
  props: Readonly<I{{componentName}}Props>
): I{{componentName}}ViewProps => {
  const [status] = useState('State Text');
  const [text] = useControlledState(props, 'text', {
    defaultPropName: 'defaultText',
    defaultPropValue: 'Default Text'
  });

  const viewProps: I{{componentName}}ViewProps = {
    ...props,
    text,
    status
  };
  return viewProps;
};
