/** @jsx withSlots */
import { withSlots, getSlots } from '../../Foundation';
import { Text } from '../../Text';

import { I{{componentName}}Component, I{{componentName}}Props, I{{componentName}}Slots } from './{{componentName}}.types';

export const {{componentName}}View: I{{componentName}}Component['view'] = props => {

  const Slots = getSlots<I{{componentName}}Props, I{{componentName}}Slots>(props, {
    root: 'div',
    text: Text
  });

  return (
    <Slots.root>
      <Slots.text />
      <span>Status: {props.status}</span>
    </Slots.root>
  );
};