import * as React from 'react';
import { mount } from 'enzyme';
import { {{componentName}}State } from './{{componentName}}.state';

const testView = () => {
  return <div />;
};

// States do not generate rendered output so unit tests test that state initializes and reacts
// to inputs and events as expected.
describe('{{componentName}}State', () => {
  it('initializes default state correctly', () => {

    const test{{componentName}}State = mount(<{{componentName}}State renderView={testView} />);

    expect(test{{componentName}}State.state('text')).toBe('Default Text');
    expect(test{{componentName}}State.state('status')).toBe('State Text');
  });

  it('uses props to initialize state correctly', () => {
    const defaultText = 'Prop Default Text';
    const test{{componentName}}State = mount(<{{componentName}}State defaultText={defaultText} renderView={testView} />);

    expect(test{{componentName}}State.state('text')).toBe(defaultText);
  });
});
