import { {{componentName}}View } from './{{componentName}}.view';
import { {{componentName}}Styles, {{componentName}}Tokens } from './{{componentName}}.styles';
import { I{{componentName}}Props } from './{{componentName}}.types';
import { createComponent } from '../../Foundation';

export const {{componentName}}: React.StatelessComponent<I{{componentName}}Props> = createComponent({
  displayName: '{{componentName}}',
  view: {{componentName}}View,
  styles: {{componentName}}Styles,
  tokens: {{componentName}}Tokens
});
