@import '../../../common/common';

body {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.ms-App-header {
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
}

.ms-App-nav {
  position: absolute;
  @include left(0);
  width: 300px;
  top: 50px;
  bottom: 0;
  @include border-right(1px, solid, #EEE);
  background: $ms-color-white;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ms-App-content {
  position: absolute;
  @include left(300px);
  @include right(0);
  top: 50px;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;

  /* Helps to enable hardware accelleration and improve painting performance. */
  transform: translateZ(0);

  /* Helps to enable smooth scrolling on ios devices. */
  -webkit-overflow-scrolling: touch;
}

.ms-App--small .ms-App-content,
.ms-App--medium .ms-App-content,
.ms-App--large .ms-App-content {
  @include left(0);
  padding: 5px;
}

.ms-App-nav .ms-Nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ms-Panel.ms-App-navPanel {
  top: 50px;

  .ms-Panel-contentInner {
    padding: 0;
  }
}

.Nav-linkFlair {
  font-size: 10px;
  text-transform: uppercase;
  @include float(right);
  background: $ms-color-neutralTertiaryAlt;
  color: $ms-color-white;
  line-height: normal;
  display: inline;
  vertical-align: middle;
  transform: translateY(-50%);
  position: absolute;
  @include right(20px);
  top: 50%;
  padding: 2px 6px;
  border-radius: 2px;
}

.Nav-linkFlair.is-state1 {
  background: $ms-color-yellowLight;
  color: $ms-color-black;
}

.Nav-linkFlair.is-state2 {
  background: $ms-color-greenLight;
}

.Nav-linkFlair.is-state3 {
  background: $ms-color-green;
}


