body {
  padding: 0;
  margin: 0;
}

.App-header {
  position: fixed;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  z-index: 10000;
}

.App-navBar {
  position: fixed;
  left: 0;
  width: 300px;
  top: 50px;
  bottom: 0;
  border-right: 1px solid #EEE;
}

.App-content {
  margin-left: 300px;
  margin-top: 50px;
  padding: 20px;
}