@import '../../styles/variables';

$nav-group-header-height: 40px;

.nav {
  padding-top: 20px;
  @include ms-padding-right(12px);
  padding-bottom: 60px;
  @include ms-padding-left(36px);
}

.link {
  font-size: $ms-font-size-l;
  font-weight: $ms-font-weight-light;
  line-height: 1.5;

  a {
    color: $ms-color-neutralTertiary;
    display: block;
    margin-bottom: 12px;

    &:hover {
      color: $ms-color-white;
    }
  }

  &.isActive:not(.isHomePage),
  &:hover:not(.isHomePage),
  &.hasActiveChild {
    color: $ms-color-white;
    position: relative;

    &::before {
      content: '';
      width: 2px;
      height: 20px;
      background: $ms-color-neutralTertiary;
      position: absolute;
      top: 3px;
      @include ms-left(-16px);
    }

    &.fabricPage::before {
      background-color: $color-home-medium;
    }

    &.getStartedPage::before {
      background-color: $color-getStarted-medium;
    }

    &.stylesPage::before {
      background-color: $color-styles-medium;
    }

    &.componentsPage::before {
      background-color: $color-components-darker;
    }

    &.resourcesPage::before {
      background-color: $color-resources-medium;
    }

    &.resourcesPage::before {
      background-color: $color-blog-medium;
    }
  }


  // Closed by default
  .links {
    display: none;
  }

  // Open when immediate parent or one of the children is active
  &.isActive,
  &.hasActiveChild {

    a {
      color: $ms-color-white;
    }

    > .links {
      display: block;
    }
  }
}

// The home page link
.isHomePage a,
.isHomePage.isActive a {
  font-size: $ms-font-size-xl;
  font-weight: $ms-font-weight-semibold;
  color: $ms-color-white;
}

// Second-level links
.isSubMenu {
  .link {
    a {
      color: $ms-color-neutralTertiary;
      font-size: $ms-font-size-m;
      font-weight: $ms-font-weight-regular;

      &:hover {
        color: $ms-color-white;
      }
    }

    &.isActive,
    &:hover {
      > a:first-child {
        color: $ms-color-white;
      }

      // Hide the line indicators on submenus
      &::before {
        display: none;
      }
    }

    &.hasActiveChild {
      > a:first-child {
        color: $ms-color-white;
        font-weight: $ms-font-weight-semibold;
      }

      &::before {
        display: none;
      }
    }
  }
}
