@import '~office-ui-fabric-core/dist/sass/References';
@import './variables';

// Root elements
:global {
  html, body {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background: $ms-color-gray10; // Match header/footer color for browsers with momentum scroll
    background: linear-gradient(to right, $ms-color-white 0%, $ms-color-white 50%, $ms-color-gray10 50%, $ms-color-gray10 100%);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  // Border box everywhere
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  // Buttons
  button {
    background: transparent;
    border: none;
  }

  // Example card headers
  .ExampleCard-title {
    @include ms-fontSize-20;
    @include ms-fontWeight-semibold;
    @include ms-fontColor-gray130;
  }

  // Implementation table styles
  .PropertiesTable {
    > h2 { // Table headers are h2s, but should be styled like h3s
      @include ms-fontSize-20;
      @include ms-fontWeight-semibold;
      @include ms-fontColor-gray130;
      line-height: 1;
    }

    // Table headers and group headers
    .ms-DetailsHeader-cellName, // Table headers
    .ms-GroupHeader-title span { // Group headers
      @include ms-fontWeight-semibold;
      @include ms-fontColor-gray160;
    }

    .ms-DetailsHeader-cellName {
      @include ms-fontSize-14;
    }

    .ms-GroupHeader-expand, // Group header collapse icon
    .ms-GroupHeader-title span {
      @include ms-fontSize-16;
    }
  }
}
