@import './variables';

:global {
  .hljs {
    display: block;
    color: $ms-color-gray160;
    background: $ms-color-gray20;
  }

  .hljs-comment,
  .hljs-quote {
      color: #998;
      font-style: italic;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
      color: $ms-color-gray160;
      font-weight: normal;
  }

  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr { // attribute name
      color: #008080;
  }

  .hljs-string,
  .hljs-doctag { // @param
      color: #d14;
  }

  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
      color: #900;
      font-weight: bold;
  }

  .hljs-type,
  .hljs-class .hljs-title {
      color: #458;
      font-weight: bold;
  }

  .hljs-tag,
  .hljs-name,
  .hljs-attribute { // rarely used--like a keyword?
      color: #000080;
      font-weight: normal;
  }

  .hljs-regexp,
  .hljs-link {
      color: #009926;
  }

  .hljs-symbol,
  .hljs-bullet {
      color: #990073;
      color: #990073;
  }

  .hljs-built_in,
  .hljs-builtin-name {
      color: #0086b3;
  }

  .hljs-meta {
      color: #999;
      font-weight: bold;
  }

  .hljs-deletion {
      background: #fdd;
  }

  .hljs-addition {
      background: #dfd;
  }

  .hljs-emphasis {
      font-style: italic;
  }

  .hljs-strong {
      font-weight: bold;
  }
}
