@import '~office-ui-fabric-core/dist/sass/References';
@import './variables';

//== Fabric overrides and additions

// Override the default Grid component so that the content is pulled out to the edge
:global {
  .ms-Grid {
    margin: 0 -8px;
  }

  // @TODO: Fix this in fabric ui core, or add prop to Panel to have user specify z-index
  // Set to 600 to place over header
  .ms-Panel {
    z-index: 600;
  }
}
