@import '../../../common/common';

.ms-themer-swatch {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin: 2px;
}

.ms-themer-swatchBg {
  padding: 2px;
  display: inline-block;
  font-size: 0;
}