@font-face {
  font-family: 'FabricMDL2Icons-4';
  src: url('../fonts/fabric-icons-4-03329fef.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons-4';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--ReminderGroup:before { content: "\EBF8"; }
.ms-Icon--Umbrella:before { content: "\EC04"; }
.ms-Icon--NetworkTower:before { content: "\EC05"; }
.ms-Icon--CityNext:before { content: "\EC06"; }
.ms-Icon--Section:before { content: "\EC0C"; }
.ms-Icon--OneNoteLogoInverse:before { content: "\EC0D"; }
.ms-Icon--ToggleFilled:before { content: "\EC11"; }
.ms-Icon--ToggleBorder:before { content: "\EC12"; }
.ms-Icon--SliderThumb:before { content: "\EC13"; }
.ms-Icon--ToggleThumb:before { content: "\EC14"; }
.ms-Icon--Documentation:before { content: "\EC17"; }
.ms-Icon--Badge:before { content: "\EC1B"; }
.ms-Icon--Giftbox:before { content: "\EC1F"; }
.ms-Icon--VisualStudioLogo:before { content: "\EC22"; }
.ms-Icon--ExcelLogoInverse:before { content: "\EC28"; }
.ms-Icon--WordLogoInverse:before { content: "\EC29"; }
.ms-Icon--PowerPointLogoInverse:before { content: "\EC2A"; }
.ms-Icon--Cafe:before { content: "\EC32"; }
.ms-Icon--SpeedHigh:before { content: "\EC4A"; }
.ms-Icon--ThisPC:before { content: "\EC4E"; }
.ms-Icon--MusicNote:before { content: "\EC4F"; }
.ms-Icon--MicOff:before { content: "\EC54"; }
.ms-Icon--EdgeLogo:before { content: "\EC60"; }
.ms-Icon--CompletedSolid:before { content: "\EC61"; }
.ms-Icon--AlbumRemove:before { content: "\EC62"; }
.ms-Icon--MessageFill:before { content: "\EC70"; }
.ms-Icon--TabletSelected:before { content: "\EC74"; }
.ms-Icon--MobileSelected:before { content: "\EC75"; }
.ms-Icon--LaptopSelected:before { content: "\EC76"; }
.ms-Icon--TVMonitorSelected:before { content: "\EC77"; }
.ms-Icon--DeveloperTools:before { content: "\EC7A"; }
.ms-Icon--InsertTextBox:before { content: "\EC7D"; }
.ms-Icon--LowerBrightness:before { content: "\EC8A"; }
.ms-Icon--CloudUpload:before { content: "\EC8E"; }
.ms-Icon--ScrollUpDown:before { content: "\EC8F"; }
.ms-Icon--DateTime:before { content: "\EC92"; }
.ms-Icon--Event:before { content: "\ECA3"; }
.ms-Icon--Cake:before { content: "\ECA4"; }
.ms-Icon--Org:before { content: "\ECA6"; }
.ms-Icon--PartyLeader:before { content: "\ECA7"; }
.ms-Icon--DRM:before { content: "\ECA8"; }
.ms-Icon--CloudAdd:before { content: "\ECA9"; }
.ms-Icon--AppIconDefault:before { content: "\ECAA"; }
.ms-Icon--Photo2Add:before { content: "\ECAB"; }
.ms-Icon--Photo2Remove:before { content: "\ECAC"; }
.ms-Icon--POI:before { content: "\ECAF"; }
.ms-Icon--FacebookLogo:before { content: "\ECB3"; }
.ms-Icon--AddTo:before { content: "\ECC8"; }
.ms-Icon--RadioBtnOff:before { content: "\ECCA"; }
.ms-Icon--RadioBtnOn:before { content: "\ECCB"; }
.ms-Icon--ExploreContent:before { content: "\ECCD"; }
.ms-Icon--VideoSolid:before { content: "\EA0C"; }
.ms-Icon--Teamwork:before { content: "\EA12"; }
.ms-Icon--PeopleAdd:before { content: "\EA15"; }
.ms-Icon--Glasses:before { content: "\EA16"; }
.ms-Icon--DateTime2:before { content: "\EA17"; }
.ms-Icon--Shield:before { content: "\EA18"; }
.ms-Icon--Header1:before { content: "\EA19"; }
.ms-Icon--PageAdd:before { content: "\EA1A"; }
.ms-Icon--NumberedList:before { content: "\EA1C"; }
.ms-Icon--PowerBILogo:before { content: "\EA1E"; }
.ms-Icon--Product:before { content: "\ECDC"; }
.ms-Icon--ProgressLoopInner:before { content: "\ECDE"; }
.ms-Icon--ProgressLoopOuter:before { content: "\ECDF"; }
.ms-Icon--Blocked2:before { content: "\ECE4"; }
.ms-Icon--FangBody:before { content: "\ECEB"; }
.ms-Icon--Glimmer:before { content: "\ECF4"; }
.ms-Icon--ChatInviteFriend:before { content: "\ECFE"; }
.ms-Icon--Crown:before { content: "\ED01"; }
.ms-Icon--Feedback:before { content: "\ED15"; }
.ms-Icon--SharepointLogoInverse:before { content: "\ED18"; }
.ms-Icon--YammerLogo:before { content: "\ED19"; }
.ms-Icon--Hide:before { content: "\ED1A"; }
.ms-Icon--Uneditable:before { content: "\ED1D"; }
.ms-Icon--ReturnToSession:before { content: "\ED24"; }
.ms-Icon--OpenFolderHorizontal:before { content: "\ED25"; }
.ms-Icon--CalendarMirrored:before { content: "\ED28"; }
.ms-Icon--SwayLogoInverse:before { content: "\ED29"; }
.ms-Icon--OutOfOffice:before { content: "\ED34"; }
.ms-Icon--Trophy:before { content: "\ED3F"; }
.ms-Icon--ReopenPages:before { content: "\ED50"; }
.ms-Icon--AADLogo:before { content: "\ED68"; }
.ms-Icon--AccessLogo:before { content: "\ED69"; }
.ms-Icon--AdminALogoInverse32:before { content: "\ED6A"; }
.ms-Icon--AdminCLogoInverse32:before { content: "\ED6B"; }
.ms-Icon--AdminDLogoInverse32:before { content: "\ED6C"; }
.ms-Icon--AdminELogoInverse32:before { content: "\ED6D"; }
.ms-Icon--AdminLLogoInverse32:before { content: "\ED6E"; }
.ms-Icon--AdminMLogoInverse32:before { content: "\ED6F"; }
.ms-Icon--AdminOLogoInverse32:before { content: "\ED70"; }
.ms-Icon--AdminPLogoInverse32:before { content: "\ED71"; }
.ms-Icon--AdminSLogoInverse32:before { content: "\ED72"; }
.ms-Icon--AdminYLogoInverse32:before { content: "\ED73"; }
.ms-Icon--BoxLogo:before { content: "\ED75"; }
.ms-Icon--DelveLogoInverse:before { content: "\ED76"; }
.ms-Icon--DropboxLogo:before { content: "\ED77"; }
.ms-Icon--ExchangeLogoInverse:before { content: "\ED78"; }
.ms-Icon--LyncLogo:before { content: "\ED79"; }
.ms-Icon--OfficeVideoLogoInverse:before { content: "\ED7A"; }
.ms-Icon--ParatureLogo:before { content: "\ED7B"; }
