@font-face {
  font-family: 'FabricMDL2Icons-1';
  src: url('../font/fabric-icons-1-79bec4ec.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons-1';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--TVMonitor:before { content: "\E7F4"; }
.ms-Icon--Speakers:before { content: "\E7F5"; }
.ms-Icon--Nav2DMapView:before { content: "\E800"; }
.ms-Icon--Car:before { content: "\E804"; }
.ms-Icon--Bus:before { content: "\E806"; }
.ms-Icon--EatDrink:before { content: "\E807"; }
.ms-Icon--LocationCircle:before { content: "\E80E"; }
.ms-Icon--Home:before { content: "\E80F"; }
.ms-Icon--SwitcherStartEnd:before { content: "\E810"; }
.ms-Icon--ParkingLocation:before { content: "\E811"; }
.ms-Icon--IncidentTriangle:before { content: "\E814"; }
.ms-Icon--Touch:before { content: "\E815"; }
.ms-Icon--MapDirections:before { content: "\E816"; }
.ms-Icon--History:before { content: "\E81C"; }
.ms-Icon--Location:before { content: "\E81D"; }
.ms-Icon--Work:before { content: "\E821"; }
.ms-Icon--Recent:before { content: "\E823"; }
.ms-Icon--Hotel:before { content: "\E824"; }
.ms-Icon--LocationDot:before { content: "\E827"; }
.ms-Icon--News:before { content: "\E900"; }
.ms-Icon--Chat:before { content: "\E901"; }
.ms-Icon--Group:before { content: "\E902"; }
.ms-Icon--Previous:before { content: "\E892"; }
.ms-Icon--Next:before { content: "\E893"; }
.ms-Icon--Sync:before { content: "\E895"; }
.ms-Icon--Help:before { content: "\E897"; }
.ms-Icon--Emoji:before { content: "\E899"; }
.ms-Icon--MailForward:before { content: "\E89C"; }
.ms-Icon--ClosePane:before { content: "\E89F"; }
.ms-Icon--OpenPane:before { content: "\E8A0"; }
.ms-Icon--PreviewLink:before { content: "\E8A1"; }
.ms-Icon--ZoomIn:before { content: "\E8A3"; }
.ms-Icon--Bookmarks:before { content: "\E8A4"; }
.ms-Icon--Document:before { content: "\E8A5"; }
.ms-Icon--ProtectedDocument:before { content: "\E8A6"; }
.ms-Icon--OpenInNewWindow:before { content: "\E8A7"; }
.ms-Icon--MailFill:before { content: "\E8A8"; }
.ms-Icon--ViewAll:before { content: "\E8A9"; }
.ms-Icon--Switch:before { content: "\E8AB"; }
.ms-Icon--Rename:before { content: "\E8AC"; }
.ms-Icon--Import:before { content: "\E8B5"; }
.ms-Icon--Folder:before { content: "\E8B7"; }
.ms-Icon--Picture:before { content: "\E8B9"; }
.ms-Icon--ShowResults:before { content: "\E8BC"; }
.ms-Icon--Message:before { content: "\E8BD"; }
.ms-Icon--CalendarDay:before { content: "\E8BF"; }
.ms-Icon--CalendarWeek:before { content: "\E8C0"; }
.ms-Icon--MailReplyAll:before { content: "\E8C2"; }
.ms-Icon--Read:before { content: "\E8C3"; }
.ms-Icon--Cut:before { content: "\E8C6"; }
.ms-Icon--PaymentCard:before { content: "\E8C7"; }
.ms-Icon--Copy:before { content: "\E8C8"; }
.ms-Icon--Important:before { content: "\E8C9"; }
.ms-Icon--MailReply:before { content: "\E8CA"; }
.ms-Icon--GotoToday:before { content: "\E8D1"; }
.ms-Icon--Font:before { content: "\E8D2"; }
.ms-Icon--FontColor:before { content: "\E8D3"; }
.ms-Icon--FolderFill:before { content: "\E8D5"; }
.ms-Icon--Permissions:before { content: "\E8D7"; }
.ms-Icon--DisableUpdates:before { content: "\E8D8"; }
.ms-Icon--Unfavorite:before { content: "\E8D9"; }
.ms-Icon--Italic:before { content: "\E8DB"; }
.ms-Icon--Underline:before { content: "\E8DC"; }
.ms-Icon--Bold:before { content: "\E8DD"; }
.ms-Icon--MoveToFolder:before { content: "\E8DE"; }
.ms-Icon--Dislike:before { content: "\E8E0"; }
.ms-Icon--Like:before { content: "\E8E1"; }
.ms-Icon--AlignRight:before { content: "\E8E2"; }
.ms-Icon--AlignCenter:before { content: "\E8E3"; }
.ms-Icon--AlignLeft:before { content: "\E8E4"; }
.ms-Icon--OpenFile:before { content: "\E8E5"; }
.ms-Icon--FontDecrease:before { content: "\E8E7"; }
.ms-Icon--FontIncrease:before { content: "\E8E8"; }
.ms-Icon--FontSize:before { content: "\E8E9"; }
.ms-Icon--CellPhone:before { content: "\E8EA"; }
.ms-Icon--Library:before { content: "\E8F1"; }
.ms-Icon--PostUpdate:before { content: "\E8F3"; }
.ms-Icon--NewFolder:before { content: "\E8F4"; }
.ms-Icon--CalendarReply:before { content: "\E8F5"; }
.ms-Icon--UnsyncFolder:before { content: "\E8F6"; }
.ms-Icon--SyncFolder:before { content: "\E8F7"; }
.ms-Icon--BlockContact:before { content: "\E8F8"; }
.ms-Icon--BulletedList:before { content: "\E8FD"; }
.ms-Icon--Preview:before { content: "\E8FF"; }
.ms-Icon--World:before { content: "\E909"; }
.ms-Icon--Comment:before { content: "\E90A"; }
.ms-Icon--DockLeft:before { content: "\E90C"; }
.ms-Icon--DockRight:before { content: "\E90D"; }
.ms-Icon--Repair:before { content: "\E90F"; }
.ms-Icon--Accounts:before { content: "\E910"; }
.ms-Icon--RadioBullet:before { content: "\E915"; }
.ms-Icon--Stopwatch:before { content: "\E916"; }
.ms-Icon--Clock:before { content: "\E917"; }
.ms-Icon--WorldClock:before { content: "\E918"; }
.ms-Icon--AlarmClock:before { content: "\E919"; }
.ms-Icon--Hospital:before { content: "\E91D"; }
.ms-Icon--Timer:before { content: "\E91E"; }
.ms-Icon--FullCircleMask:before { content: "\E91F"; }
.ms-Icon--LocationFill:before { content: "\E920"; }
.ms-Icon--ChromeMinimize:before { content: "\E921"; }
