@reference '#theme';

@layer fui.theme, fui.base, fui.components, fui.components.l1, fui.components.l2, fui.components.l3, fui.components.l4, fui.components.l5, fui.utilities;

@layer fui.components.l4 {
  .root {
    @apply m-6 rounded-[16px] border-neutral-stroke-1 p-30;

    border-width: var(--spacing-thin);
    border-style: solid;
  }

  .inner-container {
    @apply flex px-24 py-48;

    background-color: rgb(250, 250, 250);
  }

  .centered {
    @apply justify-center;
  }
}
