@import '../../common/common';



$ContextualMenu-itemHeight: 32px;
$ContextualMenu-iconWidth: 14px;

// component slots
$ContextualMenu-background-color: $menuBackgroundColor;
$ContextualMenu-background-hover-color: $menuBackgroundHoverColor;
$ContextualMenu-background-selected-color: $menuBackgroundSelectedColor;

$ContextualMenu-text-color: $menuTextColor;
$ContextualMenu-text-selected-color: $menuTextSelectedColor;

$ContextualMenu-icon-color: $menuIconColor;

$ContextualMenu-header-color: $menuHeaderColor;

$ContextualMenu-divider-color: $menuDividerColor;

$ContextualMenu-text-disabled: $menuTextDisabledColor;

.root {
  background-color: $ContextualMenu-background-color;
  min-width: 180px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.item {
  @include ms-font-m;
  color: $ContextualMenu-text-color;
  position: relative;
  box-sizing: border-box;
}

.link {
  @include focus-border();

  font: inherit;
  color: inherit;
  background: none;
  border: none;
  width: 100%;
  height: $ContextualMenu-itemHeight;
  line-height: $ContextualMenu-itemHeight;
  display: block;
  cursor: pointer;
  padding: 0px 6px;
  @include text-align(left);

  &:hover:not([disabled]) {
    background: $ContextualMenu-background-hover-color;

    @include high-contrast {
      background: Highlight;
      color: HighlightText;
      -ms-high-contrast-adjust: none;
    }
  }
  &.isDisabled,
  &[disabled] {
    color: $ContextualMenu-text-disabled;
    cursor: default;
    pointer-events: none;
    .icon {
      color: $ContextualMenu-text-disabled;
    }
  }

  :global(.is-focusVisible) &:focus {
    background: $ContextualMenu-background-hover-color;
  }

  &.isExpanded,
  &.isExpanded:hover {
    background: $ContextualMenu-background-selected-color;
    color: $ContextualMenu-text-selected-color;
    font-weight: $ms-font-weight-semibold;

    @include high-contrast {
      background: Highlight;
      color: HighlightText;
      -ms-high-contrast-adjust: none;
    }
  }
}

.header {
  @include focus-border();
  @include ms-font-s;
  font-weight: $ms-font-weight-semibold;
  color: $ContextualMenu-header-color;
  background: none;
  border: none;
  height: $ContextualMenu-itemHeight;
  line-height: $ContextualMenu-itemHeight;
  cursor: default;
  padding: 0px 6px;
  user-select: none;
  @include text-align(left);
}

a.link {
  padding: 0px 6px;
  text-rendering: auto;
  color: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-decoration: none;
  box-sizing: border-box;
}

.linkContent {
  white-space: nowrap;
  height: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.divider {
  display: block;
  height: 1px;
  background-color: $ContextualMenu-divider-color;
  position: relative;
}

.icon {
  display: inline-block;
  min-height: 1px;
  max-height: $ContextualMenu-itemHeight;
  width: $ContextualMenu-iconWidth;
  margin: 0 4px;
  vertical-align: middle;
  flex-shrink: 0;
}

.iconColor {
  color: $ContextualMenu-icon-color;

  @include high-contrast {
    color: HighlightText;
  }
}

.itemText {
  margin: 0 4px;
  vertical-align: middle;
  display: inline-block;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.submenuIcon {
  height: $ContextualMenu-itemHeight;
  line-height: $ContextualMenu-itemHeight;
  text-align: center;
  font-size: $ms-icon-size-xs;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}
