@import '../../styles/variables';
@import '../../styles/mixins';

//== Shared style for sections

.designSection,
.structureSection,
.instructionsSection {
  @include fullWidth();
  @include contentPadding(20px, 40px);
}

.designSection,
.structureSection {
  h2 {
    color: $ms-color-neutralLighter;
    font-size: $ms-font-size-xxl;
    font-weight: $ms-font-weight-light;
    line-height: 1.2;
    margin-bottom: 48px;
    margin-top: 0;
    max-width: 12em;
  }
}

@media screen and (min-width: $ms-screen-min-lg) {
  .designSection,
  .structureSection,
  .instructionsSection {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .designSection,
  .structureSection {
    h2 {
      font-size: $font-size-bigger;
    }
  }
}


//== Design section

.designSection {
  @include headerAngles($ms-color-neutralPrimary);
  background-color:$color-getStarted-darker;
  color: $ms-color-neutralLighter;
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  img {
    height: 100%;
    margin-bottom: 8px;
    width: 80%;
  }

  .title {
    font-size: $font-size-big;
    font-weight: $ms-font-weight-semilight;
    margin-bottom: 20px;
    width: 100%;
  }

  .description {
    font-weight: $ms-font-weight-semilight;
    font-size: $ms-font-size-l;
    line-height: 1.5;
    color: $ms-color-neutralLight;
    max-width: 100%;
  }
}

@media screen and (max-width: $ms-screen-max-md) {
  .designSection .feature {
    float: none;
  }
}

@media screen and (min-width: $ms-screen-min-lg) {
  img {
    margin-bottom: 20px;
  }
}


//== Structure section (diagram)

.structureSection {
  color: $ms-color-neutralLighter;
  background-color: $ms-color-neutralPrimary;
}


//== Instructions section

.instructionsSection {
  max-width: 60em;

  // Push the second set of instructions down
  h2:not(:first-child) {
    margin-top: 120px;
  }

  h2 + p {
    font-size: $ms-font-size-l;
  }

  a {
    color: $color-getStarted-medium;
  }
}

.steps {
  counter-reset: li; // Start a counter of list items
  max-width: 50em;
  margin: 60px auto;
  @include ms-margin-right(0);

  li {
    list-style: none; // Remove the usual numbers
    position: relative;
    padding-bottom: 24px;
    padding-top: 56px;

    &:not(:last-child) {
      border-bottom: 1px solid $ms-color-neutralTertiaryAlt;
      margin-bottom: 48px;
    }

    &::before {
      color: $color-getStarted-dark;
      content: counter(li); // Display counter
      counter-increment: li; // Increment based on list item
      font-size: $font-size-biggest;
      font-weight: $ms-font-weight-light;
      line-height: 38px; // Align top of number with top of list item
      position: absolute;
      top: 0;
    }
  }

  code {
    margin: 16px 0;
  }
}

@media screen and (min-width: $ms-screen-min-lg) {
  .steps {
    li {
      @include ms-padding-left(56px);
      padding-top: 0;

      &::before {
        @include ms-left(0);
      }
    }
  }
}