@import '../../../common/common';

.pickerMenuItem.resultContent {
  display: table-row;
  .resultItem {
    display: table-cell;
    vertical-align: bottom;
  }
}

.peoplePickerPersona {
  width: 180px;
   :global(.ms-Persona-details) {
    width: 100%;
  }
}

.peoplePicker {
   :global(.ms-BasePicker-text) {
    min-height: 40px;
  }
}
