@import '../../../common/common';

.ms-PickerPersona-Container {
  display: inline-block;
}

.ms-Picker-MenuItem.ms-result-content{
  display: table-row;
  .ms-result-item {
    display: table-cell;
    vertical-align: bottom;
  }
}

.ms-PeoplePicker-Persona {
  width: 180px;
}

.ms-PeoplePicker {
  .ms-BasePicker-text {
    min-height: 40px;
  }
}