/** EXPERIMENTAL, use with box-shadow */
$elevation4: '[theme:elevation4, default: 0 0 5px 0 rgba(0,0,0,.4)]';
// Fluent value: $elevation4: '[theme:elevation4, default: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108)]';
/** EXPERIMENTAL, use with box-shadow */
$elevation8: '[theme:elevation8, default: 0 0 5px 0 rgba(0,0,0,.4)]';
// Fluent value: $elevation8: '[theme:elevation8, default: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108)]';
/** EXPERIMENTAL, use with box-shadow */
$elevation16: '[theme:elevation16, default: 0 0 5px 0 rgba(0,0,0,.4)]';
// Fluent value: $elevation16: '[theme:elevation16, default: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108)]';
/** EXPERIMENTAL, use with box-shadow */
$elevation64: '[theme:elevation64, default: 0 0 5px 0 rgba(0,0,0,.4)]';
// Fluent value: $elevation64: '[theme:elevation64, default: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18)]';

/** EXPERIMENTAL, use with border-radius */
$roundedCorner2: '[theme:roundedCorner2, default: 0]';
// Fluent value: $roundedCorner2: '[theme:roundedCorner2, default: 2px]';