@import './semanticColorVariables';

@mixin focus-border($padding: 0, $color: $focusedBorderColor, $thickness: 1px, $onFocus: true) {
  &::-moz-focus-inner {
    // Clear the focus border in Firefox. Reference: http://stackoverflow.com/a/199319/1436671
    border: 0;
  }

  & {
    // Clear browser specific focus styles and use transparent as placeholder for focus style
    outline: transparent;

    // It is MUST because the pseudo-element is absolute position.
    position: relative;
  }

  @if $onFocus {
    :global(.ms-Fabric.is-focusVisible) &:focus:after {
      @include after-outline($padding, $color, $thickness);
      }
  }
  @else {
    &::after {
      @include after-outline($padding, $color, $thickness);
      }
  }
}

// When focus is set using the keyboard, apply an outline.
@mixin after-outline ($padding: 0, $color: $focusedBorderColor, $thickness: 1px) {
    content: '';
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;

    // Make the content not respond to mouse/touch event. Reference: https://css-tricks.com/almanac/properties/p/pointer-events/
    pointer-events: none;

    // Add focus border with $color
    border: $thickness solid $color;
}


// When focus is set using the keyboard, apply an outline.
@mixin focus-outline {
  :global(.ms-Fabric.is-focusVisible) &:focus {
    outline: 1px solid $focusedBorderColor;
  }
}