@import './themeOverrides';

$focusedBorderColor: $ms-color-neutralSecondary;

$bodyBackgroundColor: $ms-color-white;
$bodyForegroundColor: $ms-color-neutralPrimary;

/* Primary item colors, used for Nav, DetailsList headers, Pivots */
$unselectedBackgroundColor: $bodyBackgroundColor;
$unselectedForegroundColor: $bodyForegroundColor;

$disabledBackgroundColor: $bodyBackgroundColor;
$disabledForegroundColor: $ms-color-neutralTertiaryAlt;

$unselectedHoverBackgroundColor: $ms-color-neutralLighterAlt;
$unselectedHoverForegroundColor: $bodyForegroundColor;

$unselectedActiveBackgroundColor: $ms-color-neutralLight;
$unselectedActiveForegroundColor: $bodyForegroundColor;

$selectedBackgroundColor: $ms-color-neutralLighter;
$selectedForegroundColor: $ms-color-neutralPrimary;

$selectedHoverBackgroundColor: $ms-color-neutralLighter;
$selectedHoverForegroundColor: $ms-color-neutralDark;

$selectedActiveBackgroundColor: $ms-color-neutralTertiaryAlt;
$selectedActiveForegroundColor: $ms-color-neutralPrimary;

$dividerColor: $ms-color-neutralLight;

// *** New semantic slots
// todo: convert to theme tokens

/*** BASIC ***/
$bodyBackgroundColor: $ms-color-white;
$bodyTextColor: $ms-color-neutralPrimary;
$bodySubtextColor: $ms-color-neutralSecondary;

$disabledBackgroundColor: $ms-color-neutralLighter;
$disabledTextColor: $ms-color-neutralTertiary;
$disabledSubtextColor: $ms-color-neutralTertiaryAlt;

$focusBorderColor: $ms-color-black;

// $errorBackgroundColor: todo
$errorTextColor: $ms-color-redDark;

/*** Text fields ***/
$fieldBackgroundColor: $ms-color-white;
$fieldTextColor: $ms-color-neutralPrimary;

$fieldBorderColor: $ms-color-neutralTertiaryAlt;
$fieldBorderHoverColor: $ms-color-neutralSecondaryAlt;
$fieldBorderFocusColor: $ms-color-themePrimary;

$fieldPlaceholderColor: $ms-color-neutralTertiary;

/*** State controls ***/
$controlBackgroundColor: $ms-color-white;
$controlBackgroundSelectedColor: $ms-color-themePrimary;
$controlBackgroundSelectedHoverColor: $ms-color-themeSecondary;

// $controlForegroundColor: $ms-color-neutralPrimary; unused
$controlForegroundSelectedColor: $ms-color-white;

$controlBorderUnselectedColor: $ms-color-neutralSecondaryAlt;
$controlBorderUnselectedHoverColor: $ms-color-black;
// $controlBorderSelectedColor: unused
$controlBorderSelectedHoverColor: $ms-color-themePrimary;