/* Base slots */
$bodyBackgroundColor: "[theme:bodyBackground, default: #ffffff]";
$bodyTextColor: "[theme:bodyText, default: #333333]";
$bodyTextCheckedColor: "[theme:bodyTextChecked, default: #000000]";
$bodySubtextColor: "[theme:bodySubtext, default: #666666]";
$bodyDividerColor: "[theme:bodyDivider, default: #eaeaea]";

$disabledBackgroundColor: "[theme:disabledBackground, default: #f4f4f4]";
$disabledTextColor: "[theme:disabledText, default: #a6a6a6]";
$disabledBodyTextColor: "[theme:disabledText, default: #c8c8c8]";
$disabledSubtextColor: "[theme:disabledSubtext, default: #dadada]";

$focusBorderColor: "[theme:focusBorder, default: #000000]";

$errorTextColor: "[theme:errorText, default: #a80000]";
$errorBackgroundColor: "[theme:errorBackground, default: rgba(232,17,35,.2)]";
$blockingBackgroundColor: "[theme:blockingBackground, default: rgba(234,67,0,.2)]";
$warningBackgroundColor: "[theme:warningBackground, default: rgba(255,185,0,.2)]";
$warningHighlightColor: "[theme:warningHighlight, default: #ffb900]";
$successBackgroundColor: "[theme:successBackground, default: rgba(186,216,10,.2)]";

/* Input controls */
$inputBorderColor: "[theme:inputBorder, default: #a6a6a6]";
$inputBorderHoveredColor: "[theme:inputBorderHovered, default: #212121]";
$inputBackgroundCheckedColor: "[theme:inputBackgroundChecked, default: #0078d7]";
$inputBackgroundCheckedHoveredColor: "[theme:inputBackgroundCheckedHovered, default: #106ebe]";
$inputForegroundCheckedColor: "[theme:inputForegroundChecked, default: #ffffff]";
$inputFocusBorderAltColor: "[theme:inputFocusBorderAlt, default: #0078d7]";

/* Buttons */
$buttonBackgroundColor: "[theme:buttonBackground, default: #f4f4f4]";
$buttonBackgroundCheckedColor: "[theme:buttonBackgroundChecked, default: #c8c8c8]";
$buttonBackgroundHoveredColor: "[theme:buttonBackgroundHovered, default: #eaeaea]";
$buttonBackgroundCheckedHoveredColor: "[theme:buttonBackgroundCheckedHovered, default: #eaeaea]";
$buttonBorderColor: "[theme:buttonBorder, default: transparent]";
$buttonTextColor: "[theme:buttonText, default: #333333]";
$buttonTextHoveredColor: "[theme:buttonTextHovered, default: #000000]";
$buttonTextCheckedColor: "[theme:buttonTextChecked, default: #212121]";
$buttonTextCheckedHoveredColor: "[theme:buttonTextCheckedHovered, default: #000000]";

/* Menus */
$menuItemBackgroundHoveredColor: "[theme:menuItemBackgroundHovered, default: #f8f8f8]";
$menuItemBackgroundCheckedColor: "[theme:menuItemBackgroundChecked, default: #eaeaea]";
$menuIconColor: "[theme:menuIcon, default: #0078d7]";
$menuHeaderColor: "[theme:menuHeader, default: #0078d7]";

/* Lists */
$listBackgroundColor: "[theme:listBackground, default: #ffffff]";
$listTextColor: "[theme:listText, default: #333333]";
$listItemBackgroundHoveredColor: "[theme:listItemBackgroundHovered, default: #f8f8f8]";
$listItemBackgroundCheckedColor: "[theme:listItemBackgroundChecked, default: #eaeaea]";
$listItemBackgroundCheckedHoveredColor: "[theme:listItemBackgroundCheckedHovered, default: #d0d0d0]";