$ms-font-themeDarker: "[theme:themeDarker, default: #004578]";
$ms-font-themeDark: "[theme:themeDark, default: #005a9e]";
$ms-font-themeDarkAlt: "[theme:themeDarkAlt, default: #106ebe]";
$ms-font-themePrimary: "[theme:themePrimary, default: #0078d4]";
$ms-font-themeSecondary: "[theme:themeSecondary, default: #2b88d8]";
$ms-font-themeTertiary: "[theme:themeTertiary, default: #71afe5]";
$ms-font-themeLight: "[theme:themeLight, default: #c7e0f4]";
$ms-font-themeLighter: "[theme:themeLighter, default: #deecf9]";
$ms-font-themeLighterAlt: "[theme:themeLighterAlt, default: #eff6fc]";
$ms-font-black: "[theme:black, default: #000000]";
$ms-font-blackTranslucent40: "[theme:blackTranslucent40, default: rgba(0,0,0,.4)]";
$ms-font-neutralDark: "[theme:neutralDark, default: #212121]";
$ms-font-neutralPrimary: "[theme:neutralPrimary, default: #333333]";
$ms-font-neutralPrimaryAlt: "[theme:neutralPrimaryAlt, default: #3c3c3c]";
$ms-font-neutralSecondary: "[theme:neutralSecondary, default: #666666]";
$ms-font-neutralSecondaryAlt: "[theme:neutralSecondaryAlt, default: #767676]";
$ms-font-neutralTertiary: "[theme:neutralTertiary, default: #a6a6a6]";
$ms-font-neutralTertiaryAlt: "[theme:neutralTertiaryAlt, default: #c8c8c8]";
$ms-font-neutralQuaternary: "[theme:neutralQuaternary, default: #d0d0d0]";
$ms-font-neutralQuaternaryAlt: "[theme:neutralQuaternaryAlt, default: #dadada]";
$ms-font-neutralLight: "[theme:neutralLight, default: #eaeaea]";
$ms-font-neutralLighter: "[theme:neutralLighter, default: #f4f4f4]";
$ms-font-neutralLighterAlt: "[theme:neutralLighterAlt, default: #f8f8f8]";
$ms-font-accent: "[theme:accent, default: #0078d4]";
$ms-font-white: "[theme:white, default: #ffffff]";
$ms-font-whiteTranslucent40: "[theme:whiteTranslucent40, default: rgba(255,255,255,.4)]";
$ms-font-yellow: "[theme:yellow, default: #ffb900]";
$ms-font-yellowLight: "[theme:yellowLight, default: #fff100]";
$ms-font-orange: "[theme:orange, default: #d83b01]";
$ms-font-orangeLight: "[theme:orangeLight, default: #ea4300]";
$ms-font-orangeLighter: "[theme:orangeLighter, default: #ff8c00]";
$ms-font-redDark: "[theme:redDark, default: #a80000]";
$ms-font-red: "[theme:red, default: #e81123]";
$ms-font-magentaDark: "[theme:magentaDark, default: #5c005c]";
$ms-font-magenta: "[theme:magenta, default: #b4009e]";
$ms-font-magentaLight: "[theme:magentaLight, default: #e3008c]";
$ms-font-purpleDark: "[theme:purpleDark, default: #32145a]";
$ms-font-purple: "[theme:purple, default: #5c2d91]";
$ms-font-purpleLight: "[theme:purpleLight, default: #b4a0ff]";
$ms-font-blueDark: "[theme:blueDark, default: #002050]";
$ms-font-blueMid: "[theme:blueMid, default: #00188f]";
$ms-font-blue: "[theme:blue, default: #0078d4]";
$ms-font-blueLight: "[theme:blueLight, default: #00bcf2]";
$ms-font-tealDark: "[theme:tealDark, default: #004b50]";
$ms-font-teal: "[theme:teal, default: #008272]";
$ms-font-tealLight: "[theme:tealLight, default: #00b294]";
$ms-font-greenDark: "[theme:greenDark, default: #004b1c]";
$ms-font-green: "[theme:green, default: #107c10]";
$ms-font-greenLight: "[theme:greenLight, default: #bad80a]";