@import '../../../common';

.ExampleCard {
  margin-bottom: 20px;
}

.ExampleCard-header {
  background: $ms-color-neutralLight;
  min-height: 50px;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}

.ExampleCard-toggleButtons {
  float: right;
  position: relative;
  left: 5px;

  .ms-Button {
    margin: 10px 5px;
    height: 30px;
  }
}

.ExampleCard-content {
  padding: 20px;
  border: 1px solid $ms-color-neutralLight;
}

.ExampleCard-code {
  display: none;

}

.ExampleCard.is-codeVisible .ExampleCard-code {
  display: block;
  border-bottom: 1px solid $ms-color-neutralLight;
  margin-bottom: 20px;
}
