@import '../../../common/common';

.ExampleCard {
  margin-bottom: 20px;
}

.ExampleCard-header {
  min-height: 50px;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include padding-left(10px);
}

.ExampleCard-toggleButtons {
  @include float(right);
  position: relative;
  top: 8px;

  .ms-Button {
    margin: 10px 5px;
    height: 30px;
    line-height: 1;
    margin-bottom: 0;
    background: none;
    border: 1px solid $ms-color-neutralLight;
    border-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 0;
  }

  .ms-Button:last-child {
    margin-right: 0;
  }
}

.ms-Button.ms-Button--primary {
  .ms-Button-label {
    color: $ms-color-neutralDark;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $ms-color-neutralDark;
    border-color:  $ms-color-neutralDark;

    .ms-Button-label {
      color: $ms-color-white;
    }
  }
}

.ExampleCard-content {
  padding: 20px;
  border: 1px solid $ms-color-neutralLight;
}

.ExampleCard-example.is-right-aligned {
  @include text-align(right);
}

.ExampleCard-code {
  display: none;
  background-color: $ms-color-neutralDark;
}

.ExampleCard.is-codeVisible .ExampleCard-code {
  display: block;
  border-bottom: 1px solid $ms-color-neutralLight;
  margin-bottom: 20px;
}
