@import '../../common';

.ms-Facepile {
  position: relative;
  height: 32px;
  width: auto;
}

.ms-Facepile-itemBtn {
  position: relative;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  @include float(left);
  padding: 0;
  @include margin-right(4px);
  outline: transparent;
  border-radius: 50%;
  vertical-align: top;
}

button.ms-Facepile-itemBtn {
   display: inline;
   background: none;
   padding: 0;
   cursor: pointer;
   border: none;
}