@import '~office-ui-fabric-react/dist/sass/_themeOverrides';

:global {
  .FeedbackList-pivot {
    padding-top: 20px;
  }

  .FeedbackList-issueList {
    max-height: 400px;
    overflow-y: auto;
  }

  .FeedbackList-button {
    margin-bottom: 10px;
  }

  // Temporary workaround for https://github.com/OfficeDev/office-ui-fabric-react/issues/6782.
  a:link.FeedbackList-button,
  a:hover.FeedbackList-button,
  a:focus.FeedbackList-button,
  a:visited.FeedbackList-button {
    color: $ms-color-white;
  }

  .FeedbackList-listElement {
    font-size: 10pt;
    font-weight: bold;
  }

  .FeedbackList-timeStamp {
    font-size: 10pt;
  }
}
