$defaultPrimaryBackground: rgb(98, 100, 167);

/**
 * TODO: Once theming is updated, consider removing all of this.
 *
 * Note: All :root rules must be literals, OR references to variables
 * defined as literals in the same scope. If you refer to variables,
 * they will be resolved on the :root element only; not at usage time.
**/
:root {
  /* sizing */
  --button-size-smallest: 24px;
  --button-size-smaller: 24px;
  --button-size-small: 24px;
  --button-size-regular: 32px;
  --button-size-large: 40px;
  --button-size-larger: 48px;
  --button-size-largest: 64px;

  --button-padding: 0 24px;
  --button-height: var(--button-size-regular);
  --button-minWidth: 96px;
  --button-maxWidth: 280px;

  --button-contentGap: 10px;
  --button-iconSize: 16px;

  /* borders and shadow */
  --button-borderRadius: 2px;
  --button-borderWidth: 1px;
  --button-boxShadow: 0px 2px 4px -0.75px rgba(0, 0, 0, 0.1);
  --button-boxShadow-disabled: none;

  /* transforms */
  --button-transform-pressed: scale(0.95);
  --button-transition: transform 0.1s linear;

  /* TODO: Remove. Fonts should only be defined in the theme. */
  --button-fontFamily: 'Segoe UI', 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', Helvetica, Arial, sans-serif;
  --button-fontSize: 14px;
  --button-fontWeight: 600;

  /* TODO: Remove. Colors should only be defined in the theme. */
  --button-background: white;
  --button-background-hovered: rgb(237, 235, 233);
  --button-background-focused: var(--button-background);
  --button-background-pressed: rgb(225, 223, 221);
  --button-background-disabled: rgb(237, 235, 233);
  --button-contentColor: rgb(44, 38, 33);
  --button-contentColor-hovered: var(--button-contentColor);
  --button-contentColor-focused: var(--button-contentColor);
  --button-contentColor-pressed: var(--button-contentColor);
  --button-contentColor-disabled: rgb(200, 198, 196);
  --button-borderColor: rgb(225, 223, 221);
  --button-borderColor-disabled: transparent;
  --button-icon: inherit;
  --button-iconColor-hovered: var(--button-icon);
  --button-iconColor-pressed: var(--button-icon);
  --button-iconColor-focused: var(--button-icon);
  --button-iconColor-disabled: var(--button-contentColor-disabled);

  --button-focusColor: #000;
  --button-focusInnerColor: #fff;

  /* TODO: Remove. Accent should only be defined in the theme. */
  --accent-background: rgb(98, 100, 167);
  --accent-background-focused: var(--accent-background, $defaultPrimaryBackground);
  --accent-background-hovered: rgb(88, 90, 150);
  --accent-background-pressed: rgb(70, 71, 117);
  --accent-background-disabled: rgb(237, 235, 233);

  --accent-contentColor: white;
  --accent-contentColor-hovered: var(--accent-contentColor);
  --accent-contentColor-focused: var(--accent-contentColor);
  --accent-contentColor-pressed: var(--accent-contentColor);
  --accent-contentColor-disabled: rgb(200, 198, 196);
  --accent-borderColor: transparent;

  --accent-icon: inherit;
  --accent-iconColor-hovered: var(--accent-icon);
  --accent-iconColor-pressed: var(--accent-icon);
  --accent-iconColor-focused: var(--accent-icon);
  --accent-iconColor-disabled: var(--accent-contentColor-disabled);
}

/**
  * Slot definitions
  *
  * Slot definitions must align to the names of the slots themselves. They should:
  *
  * 1. Contain the actual css property definitions (E.g. background-color: {value})
  * 2. Property definitions should map to tokens using the format: {component}-{property}
  * 3. Avoid hard coding values unless there are absolutely no use cases to change
  *    the property value.
  * 4. Order hardcoded css values first, tokens based second. This way we can identify
  *    what is hardcoded easily.
 **/

.root {
  align-items: center;
  border-style: solid;
  display: inline-flex;
  justify-content: center;
  outline: none;
  position: relative;
  user-select: none;
  box-sizing: border-box;

  background: var(--button-background, white);
  color: var(--button-contentColor, rgb(44, 38, 33));

  border-color: var(--button-borderColor);
  border-radius: var(--button-borderRadius);
  border-width: var(--button-borderWidth);
  box-shadow: var(--button-boxShadow);
  height: var(--button-height);
  padding: var(--button-padding);
  transition: var(--button-transition);
  white-space: var(--button-whiteSpace, nowrap);

  /**
  * Modifiers
  *
  * Modifiers must align to the props on the component. They should:
  *
  * 1. Redefine the values for {component}-{property} tokens.
  * 2. Map property definitions to variables using the format: {component}-{property}
  * 3. Avoid defining styles directly.
 **/
  &.primary {
    --button-background: var(--accent-background);
    --button-background-hovered: var(--accent-background-hovered);
    --button-background-pressed: var(--accent-background-pressed);

    --button-contentColor: var(--accent-contentColor);
    --button-contentColor-hovered: var(--accent-contentColor-hovered);
    --button-contentColor-pressed: var(--accent-contentColor-pressed);

    --button-borderColor: var(--accent-borderColor);

    --button-icon: var(--accent-icon);
    --button-icon-hovered: var(--accent-icon-hovered);
    --button-icon-pressed: var(--accent-icon-pressed);
  }

  &.iconOnly {
    width: var(--button-height);
    --button-padding: 0;
  }

  &.circular {
    --button-borderRadius: 50000px;
    --button-minWidth: var(--button-height);
  }

  &.fluid {
    width: 100%;
    max-width: 100%;
  }

  &.size_smallest {
    --button-height: var(--button-size-smallest);
  }

  &.size_smaller {
    --button-height: var(--button-size-smaller);
  }

  &.size_small {
    --button-height: var(--button-size-small);
  }

  &.size_large {
    --button-height: var(--button-size-large);
  }

  &.size_larger {
    --button-height: var(--button-size-larger);
  }
  &.size_largest {
    --button-height: var(--button-size-largest);
  }

  &.disabled {
    pointer-events: none;
    background-color: var(--button-background-disabled);
    color: var(--button-contentColor-disabled);
    border-color: var(--button-borderColor-disabled);
    box-shadow: var(--button-boxShadow-disabled);

    &.icon {
      color: var(--button-icon-disabled, var(--button-contentColor-disabled));
    }
  }
}

.content {
  font-family: var(--button-fontFamily);
  font-size: var(--button-fontSize);
  font-weight: var(--button-fontWeight);
}

.icon {
  color: var(--button-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-iconSize);
  height: var(--button-iconSize);
  font-size: var(--button-iconSize, inherit);
}

.loader {
  /* TODO: styling once we have a sample. */
}

/* selectors */

.root > *:not(:first-child) {
  margin-left: var(--button-contentGap);
}

.root:hover {
  background: var(--button-background-hovered, var(--button-background));
  color: var(--button-contentColor-hovered, var(--button-contentColor));
  border-color: var(--button-borderColor-hovered, var(--button-borderColor));
  box-shadow: var(--button-boxShadow-hovered, var(--button-boxShadow));

  .icon {
    color: var(--button-iconColor-hovered, var(--button-contentColor-hovered));
  }
}

.root:active {
  background: var(--button-background-pressed, var(--button-background-hovered));
  color: var(--button-contentColor-pressed, var(--button-contentColor-hovered, var(--button-contentColor)));
  border-color: var(--button-borderColor-pressed, var(--button-borderColor-hovered, var(--button-borderColor)));
  box-shadow: var(--button-boxShadow-pressed, var(--button-boxShadow-hovered, var(--button-boxShadow)));

  transform: var(--button-transform-pressed);
  transition: var(--button-transition-pressed);

  .icon {
    color: var(--button-iconColor-pressed, var(--button-contentColor-pressed));
  }
}

.root:focus::after {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  content: '';
  box-sizing: border-box;
  border-radius: var(--button-borderRadius);
  border: var(--button-focus-width, 2px) solid var(--button-focusColor);
  box-shadow: 0 0 0 var(--button-focus-innerWidth, 1px) var(--button-focusInnerColor) inset;
}
