/**
 * TODO: Once theming is updated, consider removing all of this.
 *
 * Note: All :root rules must be literals, OR references to variables
 * defined as literals in the same scope. If you refer to variables,
 * they will be resolved on the :root element only; not at usage time.
**/
:root {
  /* sizing */
  --button-size-smallest: 24px;
  --button-size-smaller: 24px;
  --button-size-small: 24px;
  --button-size-regular: 32px;
  --button-size-large: 40px;
  --button-size-larger: 48px;
  --button-size-largest: 64px;

  --button-padding: 0 24px;
  --button-height: var(--button-size-regular);
  --button-minWidth: 96px;
  --button-maxWidth: 280px;

  --button-borderRadius: 3px;
  --button-contentGap: 10px;
  --button-iconSize: 16px;

  /* borders and shadow */
  --button-borderRadius: 2px;
  --button-borderWidth: 1px;
  --button-boxShadow: 0px 2px 4px -0.75px rgba(0, 0, 0, 0.1);
  --button-boxShadow-disabled: none;

  /* transforms */
  --button-transform-pressed: scale(0.95);
  --button-transition: transform 0.1s linear;

  /* TODO: Remove. Fonts should only be defined in the theme. */
  --button-fontFamily: 'Segoe UI', 'Helvetica Neue', 'Apple Color Emoji', 'Segoe UI Emoji', Helvetica, Arial, sans-serif;
  --button-fontSize: 14px;
  --button-fontWeight: 600;

  /* TODO: Remove. Colors should only be defined in the theme. */
  --button-fill: white;
  --button-fill-hovered: rgb(237, 235, 233);
  --button-fill-focused: var(--button-fill);
  --button-fill-pressed: rgb(225, 223, 221);
  --button-fill-disabled: var(--button-fill-hovered);
  --button-text: rgb(44, 38, 33);
  --button-text-hovered: var(--button-text);
  --button-text-focused: var(--button-text);
  --button-text-pressed: var(--button-text);
  --button-text-disabled: rgb(200, 198, 196);
  --button-borderColor: rgb(225, 223, 221);
  --button-borderColor-disabled: transparent;
  --button-icon: inherit;
  --button-icon-hovered: var(--button-icon);
  --button-icon-pressed: var(--button-icon);
  --button-icon-focused: var(--button-icon);
  --button-icon-disabled: var(--button-text-disabled);

  /* TODO: Remove. Accent should only be defined in the theme. */
  --accent-fill: rgb(98, 100, 167);
  --accent-fill-hovered: rgb(88, 90, 150);
  --accent-fill-focused: var(--accent-fill);
  --accent-fill-pressed: rgb(70, 71, 117);
  --accent-fill-disabled: var(--accent-hovered);
  --accent-text: white;
  --accent-text-hovered: var(--accent-text);
  --accent-text-focused: var(--accent-text);
  --accent-text-pressed: var(--accent-text);
  --accent-text-disabled: rgb(200, 198, 196);
  --accent-borderColor: transparent;

  --accent-icon: inherit;
  --accent-icon-hovered: var(--accent-icon);
  --accent-icon-pressed: var(--accent-icon);
  --accent-icon-focused: var(--accent-icon);
  --accent-icon-disabled: var(--accent-text-disabled);
}

/**
  * Slot definitions
  *
  * Slot definitions must align to the names of the slots themselves. They should:
  *
  * 1. Contain the actual css property definitions (E.g. background-color: {value})
  * 2. Property definitions should map to tokens using the format: {component}-{property}
  * 3. Avoid hard coding values unless there are absolutely no use cases to change
  *    the property value.
  * 4. Order hardcoded css values first, tokens based second. This way we can identify
  *    what is hardcoded easily.
 **/

.root {
  align-items: center;
  border-style: solid;
  display: inline-flex;
  justify-content: center;
  outline: none;
  position: relative;
  user-select: none;

  background: var(--button-fill);
  border-color: var(--button-borderColor);
  border-radius: var(--button-borderRadius);
  border-width: var(--button-borderWidth);
  box-shadow: var(--button-boxShadow);
  color: var(--button-text);
  height: var(--button-height);
  padding: var(--button-padding);
  transition: var(--button-transition);
  white-space: var(--button-whiteSpace, nowrap);

  /**
  * Modifiers
  *
  * Modifiers must align to the props on the component. They should:
  *
  * 1. Redefine the values for {component}-{property} tokens.
  * 2. Map property definitions to variables using the format: {component}-{property}
  * 3. Avoid defining styles directly.
 **/
  &._primary {
    --button-fill: var(--accent-fill);
    --button-fill-hovered: var(--accent-fill-hovered);
    --button-fill-pressed: var(--accent-fill-pressed);

    --button-text: var(--accent-text);
    --button-text-hovered: var(--accent-text-hovered);
    --button-text-pressed: var(--accent-text-pressed);

    --button-borderColor: var(--accent-borderColor);

    --button-icon: var(--accent-icon);
    --button-icon-hovered: var(--accent-icon-hovered);
    --button-icon-pressed: var(--accent-icon-pressed);
  }

  &._iconOnly {
    width: var(--button-height);
    --button-padding: 0;
  }

  &._circular {
    --button-borderRadius: 50000px;
    --button-minWidth: var(--button-height);
  }

  &._fluid {
    width: 100%;
    max-width: 100%;
  }

  &._size_smallest {
    --button-height: var(--button-size-smallest);
  }

  &._size_smaller {
    --button-height: var(--button-size-smaller);
  }

  &._size_small {
    --button-height: var(--button-size-small);
  }

  &._size_large {
    --button-height: var(--button-size-large);
  }

  &._size_larger {
    --button-height: var(--button-size-larger);
  }
  &._size_largest {
    --button-height: var(--button-size-largest);
  }

  &._disabled {
    pointer-events: none;
    background-color: var(--button-fill-disabled);
    color: var(--button-text-disabled);
    border-color: var(--button-borderColor-disabled);
    box-shadow: var(--button-boxShadow-disabled);

    &.icon {
      color: var(--button-icon-disabled, var(--button-text-disabled));
    }
  }
}

.content {
  font-family: var(--button-fontFamily);
  font-size: var(--button-fontSize);
  font-weight: var(--button-fontWeight);
}

.icon {
  color: var(--button-icon);
  display: inline-block;
  width: var(--button-iconSize);
  height: var(--button-iconSize);
}

.loader {
  /* TODO: styling once we have a sample. */
}

/* selectors */

.root > *:not(:first-child) {
  margin-left: var(--button-contentGap);
}

.root:hover {
  background-color: var(--button-fill-hovered, var(--button-fill));
  color: var(--button-text-hovered, var(--button-text));
  border-color: var(--button-borderColor-hovered, var(--button-borderColor));
  box-shadow: var(--button-boxShadow-hovered, var(--button-boxShadow));

  .icon {
    color: var(--button-icon-hovered, var(--button-text-hovered));
  }
}

.root:active {
  background-color: var(--button-fill-pressed, var(--button-fill-hovered));
  color: var(--button-text-pressed, var(--button-text-hovered));
  border-color: var(--button-borderColor-pressed, var(--button-borderColor-hovered, var(--button-borderColor)));
  box-shadow: var(--button-boxShadow-pressed, var(--button-boxShadow-hovered, var(--button-boxShadow)));

  transform: var(--button-transform-pressed);
  transition: var(--button-transition-pressed);

  .icon {
    color: var(--button-icon-pressed, var(--button-text-pressed));
  }
}

.root:focus::after {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  content: '';
  box-sizing: border-box;
  border-radius: var(--button-borderRadius);
  box-shadow: 0 0 0 var(--button-focusedInnerWidth, 1px) var(--button-focusedInner, var(--accent-text)) inset;
  border: var(--button-focusedWidth, 2px) solid var(--button-focused, var(--accent-fill));
}
