@import '../../common/common';

$navnode-height: 36px;
$hasExpandButtonLinkLeftPadding: 28px;
$noExpandButtonLinkLeftPadding: 20px;
$linkRightPadding: 20px;

.root {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

.isOnTop {
  position: absolute;
}

.unorderedList {
  list-style-type: none;
}

.unorderedList,
.unorderedList > .unorderedListItem {
  padding: 0;
}

.groupContent {
  display: none;
  margin-bottom: 40px;
}

.group.isExpanded .groupContent {
  display: block;
}

.icon {
  padding: 0px;
  color: $selectedForegroundColor;
  background: $selectedBackgroundColor;
  transition: transform .1s linear;
}

.iconLink {
  @include margin-right(4px);
}

.chevronButton {
  display: block;

  font-weight: $ms-font-weight-regular;
  font-size: $ms-font-size-s;

  @include text-align(left);
  line-height: $navnode-height;
  margin: 5px 0;
  @include padding(0px, $linkRightPadding, 0px, $hasExpandButtonLinkLeftPadding);
  background: none;
  border: none;

  text-transform: uppercase;
  cursor: pointer;

  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $unselectedHoverForegroundColor;
    background: $unselectedHoverBackgroundColor;
  }

  &.chevronButtonGroup {
    width: 100%;
    height: $navnode-height;
    border-bottom: 1px solid $dividerColor;
  }
}

.chevronIcon {
  position: absolute;
  @include left(8px);
  height: $navnode-height;
  line-height: $navnode-height;
  font-size: 12px;
  transition: transform .1s linear;
}

.chevronIsExpanded {
  transform: rotate(-180deg);
}

.linkText {
  vertical-align: middle;
}

.compositeLink {
  display: block;
  position: relative;

  .chevronButton .chevronButtonLink {
    display: block;
    width: $hasExpandButtonLinkLeftPadding;
    height: $navnode-height;
    position: absolute;
    top: 0;
    @include left(0);
    z-index: 1;
    padding: 0;
    margin: 0;

  .chevron {
      position: relative;
    }
  }

  & a {
  color: $unselectedForegroundColor;
  }
  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:hover {

    & a,
    & .chevronButton {
      background: $unselectedHoverBackgroundColor;
      color: $unselectedHoverForegroundColor;
    }
  }

  &.isExpanded {
    .chevron {
      transform: rotate(-180deg);
    }
  }

  &.isSelected {
    & a,
    & .chevronButton {

      color: $ms-color-themePrimary;
      background: $selectedBackgroundColor;

      &:after {
        @include border-left(2px, solid, $ms-color-themePrimary);

        content: '';
        position: absolute;
        top: 0;
        @include right(0);
        bottom: 0;
        @include left(0);
      }
    }
  }
}

.link {
  display: block;
  position: relative;
  height: $navnode-height;
  line-height: $navnode-height;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.groupHeaderFontSize {
  @include ms-font-l;
}

.chevronButton,
.chevronButtonGroup,
.chevronButtonLink,
.link {
  @include focus-border();
}

:global(.linkButton.ms-Button--command) {
  @include padding-left($noExpandButtonLinkLeftPadding);
  :global(.ms-Button-label) {
    @include ms-font-m;
    color: $ms-color-themePrimary;
  }

  &.isOnExpanded {
  @include padding-left($hasExpandButtonLinkLeftPadding);
  }
}