@import '../../common/common';

$navnode-height: 36px;
$hasExpandButtonLinkLeftPadding: 28px;
$noExpandButtonLinkLeftPadding: 20px;
$linkRightPadding: 20px;

.root {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

.rootIsOnTop {
  position: absolute;
}

.navItems {
  list-style-type: none;
}

.navItems,
.navItems > .navItem {
  padding: 0;
}

.groupContent {
  display: none;
  margin-bottom: 40px;
}

.group.groupIsExpanded .groupContent {
  display: block;
}

.icon {
  padding: 0px;
  color: $selectedForegroundColor;
  background: $selectedBackgroundColor;
  transition: transform .1s linear;
}

.iconLink {
  @include ms-margin-right(4px);
}

.chevronButton {
  display: block;

  font-weight: $ms-font-weight-regular;
  font-size: $ms-font-size-s;

  @include text-align(left);
  line-height: $navnode-height;
  margin: 5px 0;
  @include padding(0px, $linkRightPadding, 0px, $hasExpandButtonLinkLeftPadding);
  background: none;
  border: none;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  cursor: pointer;

  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $unselectedHoverForegroundColor;
    background: $unselectedHoverBackgroundColor;
  }

  &.chevronButtonIsGroup {
    width: 100%;
    height: $navnode-height;
    border-bottom: 1px solid $dividerColor;
  }
}

.chevronIcon {
  position: absolute;
  @include ms-left(8px);
  height: $navnode-height;
  line-height: $navnode-height;
  font-size: 12px;
  transition: transform .1s linear;
}

.chevronIsExpanded {
  transform: rotate(-180deg);
}

.linkText {
  vertical-align: middle;
}

.compositeLink {
  display: block;
  position: relative;

  & button {
    width: 100%;
  }

  .chevronButton.chevronButtonLink {
    display: block;
    width: $hasExpandButtonLinkLeftPadding - 2;
    height: $navnode-height - 2;
    position: absolute;
    top: 1px;
    z-index: 1;
    padding: 0;
    margin: 0;

    .chevronIcon {
      top: 0;
    }
  }

  & a {
    color: $unselectedForegroundColor;
  }
  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:hover {

    & a,
    & button,
    & .chevronButton {
      background: $unselectedHoverBackgroundColor;
      color: $unselectedHoverForegroundColor;
    }
  }

  &.compositeLinkIsExpanded {
    .chevronIcon {
      transform: rotate(-180deg);
    }
  }

  &.compositeLinkIsSelected {
    & a,
    & button,
    & .chevronButton {

      color: $ms-color-themePrimary;
      background: $selectedBackgroundColor;

      &:after {
        @include border-left(2px, solid, $ms-color-themePrimary);

        content: '';
        position: absolute;
        top: 0;
        @include ms-right(0);
        bottom: 0;
        @include ms-left(0);
      }
    }
  }
}

.link {
  display: block;
  position: relative;
  height: $navnode-height;
  line-height: $navnode-height;
  text-decoration: none;
  cursor: pointer;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.buttonEntry {
  color: $ms-color-themePrimary;
}

.groupHeaderFontSize {
  @include ms-font-l;
}

.chevronButton,
.chevronButtonGroup,
.chevronButtonLink,
.link {
  @include focus-border();
}

.root .link {
  :global(.ms-Button-label) {
    @include ms-font-m;
  }
}
