.root[data-checked] {
  background-color: var(--colorSubtleBackgroundSelected);
  color: var(--colorNeutralForeground2Selected);
}

.icon {
  .root[data-checked] & {
    color: var(--colorNeutralForeground2BrandSelected);
  }
}
