@import '~@fluentui/common-styles/dist/sass/themeCssVariables';
@import '~@fluentui/common-styles/dist/sass/constants';
@import '~@fluentui/common-styles/dist/sass/highContrast';
@import '~@fluentui/common-styles/dist/sass/focusBorder';
@import '~@fluentui/common-styles/dist/sass/common';

.root {
  @include fonts-medium;
  @include normalize;
  position: relative;
  color: var($semanticColorsLink);
  white-space: nowrap;
}

// Shared styles for tab links and links in the overflow menu
.link,
.linkInMenu,
.overflowMenuButton {
  @include fonts-medium;
  color: var($semanticColorsActionLink);
  padding: 0 8px;
  position: relative;
  background-color: transparent;
  border: 0;
  border-radius: 0;

  &:hover {
    background-color: var($semanticColorsButtonBackgroundHovered);
    color: var($semanticColorsButtonTextHovered);
    cursor: pointer;
  }

  &:active {
    background-color: var($semanticColorsButtonBackgroundPressed);
    color: var($semanticColorsButtonTextHovered);
  }

  &:focus {
    outline: none;
  }

  @include focus-outline;

  @include focus-after {
    content: attr(data-content);
    position: relative;
    border: 42px;
  }

  &.linkIsSelected {
    font-weight: $fontWeightSemibold;

    &:before {
      background-color: var($semanticColorsInputBackgroundChecked);
      @include high-contrast {
        background-color: Highlight;
      }
    }

    &:hover::before {
      left: 0;
      right: 0;
    }

    @include high-contrast {
      color: HighlightText;
    }
  }
}

// Additional styles for Links NOT in the overflow menu
.link,
.overflowMenuButton {
  text-align: center;
  display: inline-block;
  line-height: 44px;
  height: 44px;
  margin-right: 8px;

  &:before {
    background-color: transparent;
    bottom: 0;
    content: '';
    height: 2px;
    left: 8px;
    position: absolute;
    right: 8px;
    transition: left $animationDuration2 $animationEaseFunction2, right $animationDuration2 $animationEaseFunction2;
  }

  &:after {
    color: transparent;
    content: attr(data-content);
    display: block;
    font-weight: $fontWeightBold;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  &.linkSize_large {
    font-size: var($fontsLargeFontSize);
  }

  &.linkFormat_tabs {
    margin-right: 0;
    height: 44px;
    line-height: 44px;
    background-color: var($semanticColorsButtonBackground);
    padding: 0 10px;
    vertical-align: top;

    &:focus {
      outline-offset: -1px;
    }

    @include focus-before {
      height: auto;
      background: transparent;
      transition: none;
    }

    &:not(.linkIsSelected) {
      &:hover,
      &:focus {
        color: var($semanticColorsButtonTextCheckedHovered);
      }

      &:active,
      &:hover {
        color: var($semanticColorsPrimaryButtonText);
        background-color: var($semanticColorsPrimaryButtonBackground);
      }
    }

    &.linkIsSelected {
      background-color: var($semanticColorsPrimaryButtonBackground);
      color: var($semanticColorsPrimaryButtonText);
      font-weight: $fontWeightRegular;

      &:before {
        background-color: transparent;
        transition: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        height: 0;
      }

      &:hover {
        background-color: var($semanticColorsPrimaryButtonBackgroundHovered);
        color: var($semanticColorsPrimaryButtonText);
      }

      &:active {
        background-color: var($semanticColorsPrimaryButtonBackgroundPressed);
        color: var($semanticColorsPrimaryButtonText);
      }

      @include high-contrast {
        font-weight: $fontWeightSemibold;
        color: HighlightText;
        background: Highlight;
        -ms-high-contrast-adjust: none;
      }
    }
  }
}

// Additional styles for links in the overflow menu
.linkInMenu {
  text-align: left;
  width: 100%;
  height: $CONTEXTUAL_MENU_ITEM_HEIGHT;
  line-height: $CONTEXTUAL_MENU_ITEM_HEIGHT;
}

// Links are hidden when they're overflowing
.link[data-is-overflowing='true'] {
  display: none;
}

// The overflow menu button is hidden until there's at least one link in the overflow
.overflowMenuButton {
  visibility: hidden;
}
.link[data-is-overflowing='true'] ~ * .overflowMenuButton {
  visibility: visible;
}

.linkContent {
  flex: 0 1 100%;
  & > *:not(:first-child) {
    margin-left: 4px;
  }
}

.text {
  display: inline-block;
  vertical-align: top;
}

.count {
  display: inline-block;
  vertical-align: top;
}

.itemContainer {
  &[hidden] {
    display: 'none';
  }
}
