@import '../../common/common';

$rowHeight: 40px;

// component slots
$detailsList-item-hover-color: $listItemHoverColor;
$detailsList-item-selected-color: $listItemSelectedColor;
$detailsList-item-selected-hover-color: $listItemSelectedHoverColor;

$groupHeader-ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$groupHeader-ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$groupHeader-ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);

.root {
  cursor: default;
  user-select: none;
  @include focus-border();

  &:hover {
    background: $detailsList-item-hover-color;
  }
  &.rootIsSelected {
    background: $detailsList-item-selected-color;
  }
  &.rootIsSelected:hover {
    background: $detailsList-item-selected-hover-color;
  }
}

.groupHeaderContainer {
  display: flex;
  align-items: center;
  height: $rowHeight;
}

.check,
.expand {
  @include focus-border();
  cursor: default;
  background: none;
  border: none;
  font-size: $ms-icon-size-l;
}

.check {
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

.root:hover .check,
.root.rootIsSelected .check {
  opacity: 1;
}

.title {
  @include ms-font-xl;
  cursor: pointer;
  outline: 0;
  padding-left: 6px;
}

.expand {
  width: 36px;
  padding-top: 4px;
  color: $ms-color-neutralSecondary;

  :global(.ms-Icon) {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
    transition: transform .1s linear;

    &.expandIsCollapsed {
      transform: rotate(0deg);
    }
  }
}

.loading {
  visibility: hidden;
  opacity: 0;
  transition: visibility $ms-animation-duration-3, opacity $ms-animation-duration-3;

  &.loadingIsVisible {
    visibility: visible;
    opacity: 1;
  }
}

.dropIcon {
  position: absolute;
  @include ms-left(-26px);
  font-size: $ms-icon-size-l;
  color: $ms-color-neutralSecondaryAlt;
  transition: transform $ms-animation-duration-2 $groupHeader-ease-in-back, opacity $ms-animation-duration-4 $groupHeader-ease-out-sine;
  opacity: 0;
  transform: rotate(0.2deg) scale(0.65); // rotation prevents jittery motion in IE
  transform-origin: 10px 10px;

  :global(.ms-Icon--Tag) {
    position: absolute;
  }
}

:global(.ms-GroupedList-group.is-dropping) {

  > .root .dropIcon {
      transition: transform $ms-animation-duration-4 $groupHeader-ease-out-circ, opacity $ms-animation-duration-1 $groupHeader-ease-out-sine;
      transition-delay: $ms-animation-duration-3;
      opacity: 1;
      transform: rotate(0.2deg) scale(1); // rotation prevents jittery motion in IE
    }

    .check {
      opacity: 0;
    }
}