@import '../../common/common';

$groupList-ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

.root {
  position: relative;
  font-size: $ms-font-size-s;
}

.group {
  transition: background-color $ms-animation-duration-2 $groupList-ease-in-out-sine;
}

.groupIsDropping {
  background-color: $ms-color-neutralLight;
}

/* Set the min height for a row to 38px so even rendering empty cells takes that space. */
.root :global(.ms-List-cell) {
  min-height: 36px;
}