@import '../../common/common';

$groupList-ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

.ms-GroupedList {
  position: relative;
  font-size: $ms-font-size-s;

  BUTTON {
    font-family: inherit;
    background-color: transparent;
  }

  > .ms-FocusZone {
    display: inline-block;
    vertical-align: top;
    min-width: 1px;
    min-height: 1px;
  }

}

.ms-GroupedList.is-horizontalConstrained {
  overflow-x: auto;
  overflow-y: visible;

  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}

.ms-GroupedList-cell {
    word-break: break-word;
}

.ms-GroupedList-group {
  transition: background-color $ms-duration2 $groupList-ease-in-out-sine;

  &.is-dropping {
    background-color: $ms-color-neutralLight;
  }
}

/* Set the min height for a row to 38px so even rendering empty cells takes that space. */
.ms-GroupedList .ms-List-cell {
  min-height: 38px;
}