.row {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;

  height: 30px;
  border: 1px solid black;
}

.rowDropColumns {
  flex-wrap: wrap;
  overflow: hidden;
}

.rowSelected {
  border: 1px solid blue;
}

.cell {
  position: relative;
  flex-grow: 1;
  flex-basis: 100px;
  box-sizing: border-box;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}