/**
 * TODO: Once theming is updated, consider removing all of this.
 *
 * Note: All :root rules must be literals, OR references to variables
 * defined as literals in the same scope. If you refer to variables,
 * they will be resolved on the :root element only; not at usage time.
**/
:root {
  --image-borderColor: rgb(225, 223, 221) /* TODO: replace with a proper value */;
  --image-borderRadius: none;
  --imageBoxShadhow: 0px 2px 4px -0.75px rgba(0, 0, 0, 0.1) /* --effects-elevation4 */;

  --image-rounded-borderWidth: 4px /* --effects-roundedCorner4 */;

  --image-circular-borderRadius: 50%;
}

/**
  * Slot definitions
  *
  * Slot definitions must align to the names of the slots themselves. They should:
  *
  * 1. Contain the actual css property definitions (E.g. background-color: {value})
  * 2. Property definitions should map to tokens using the format: {component}-{property}
  * 3. Avoid hard coding values unless there are absolutely no use cases to change
  *    the property value.
  * 4. Order hardcoded css values first, tokens based second. This way we can identify
  *    what is hardcoded easily.
  */

.root {
  border-color: var(--image-borderColor);
  border-radius: var(--image-borderRadius);

  box-sizing: border-box;
  display: inline-block;

  /**
   * Modifiers
   *
   * Modifiers must align to the props on the component. They should:
   *
   * 1. Redefine the values for {component}-{property} tokens.
   * 2. Map property definitions to variables using the format: {component}-{property}
   * 3. Avoid defining styles directly.
   */
  &._bordered {
    border-style: solid;
    border-width: var(--image-bordered-borderWidth);
  }

  &._circular {
    border-radius: var(--image-circular-borderRadius);
  }

  &._fit_none {
    object-fit: none;
    object-position: left top;

    height: 100%;
    width: 100%;

    /* IE 11 */
    font-family: 'object-fit: none; object-position: left top;';
  }

  &._fit_center {
    object-fit: none;
    object-position: center;

    height: 100%;
    width: 100%;

    /* IE 11 */
    font-family: 'object-fit: none; object-position: center;';
  }

  &._fit_contain {
    object-fit: contain;
    object-position: center;

    height: 100%;
    width: 100%;

    /* IE 11 */
    font-family: 'object-fit: contain; object-position: center;';
  }

  &._fit_cover {
    object-fit: cover;
    object-position: center;

    height: 100%;
    width: 100%;

    /* IE 11 */
    font-family: 'object-fit: cover; object-position: center;';
  }

  &._rounded {
    border-radius: var(--image-rounded-borderWidth);
  }
}

/* selectors */
