@import '../../styles/variables';
@import '../../styles/mixins';

.angle {
  @include fullWidth();
  @include headerAngles($ms-color-neutralLighter);
  background-color: $color-blog-darker;
  content: '';
  display: block;
  margin-bottom: 40px;
  min-height: 80px; // Enough height to fit angle
}

@media screen and (min-width: $uhf-screen-min-mobile) {
  .angle {
    margin-top: 0; // Move back down to ensure room for in-page nav
    min-height: 148px;
  }
}