@import '../../../../common/common';

.ms-NavExample-LeftPane {
  width: 208px;
  height: 800px;
  box-sizing: border-box;
  border: 1px solid #EEE;
  overflow-y: auto;
}

.ms-NavExample-HorizontalPane {
  width: 1000px;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid #EEE;
  overflow-x: auto;
}
