.NumberTextField {
  display: table;

  > * {
    display: table-cell;
  }

  > .NumberTextField-textField {
    width: 100%;
  }

  > .NumberTextField-restoreButton {
    vertical-align: top;
    padding-top: 26px;
  }
}
