@import '../../../styles/common';

// This is so the class can be used directly in a Markdown file
.demoBlock,
:global(.LayoutPage-demoBlock) {
  background-color: $ms-color-neutralTertiary;
  color: $ms-color-white;
  font-weight: $ms-font-weight-semibold;
  height: 40px;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
}

.demoBlockCol {
  @include high-contrast {
    border: 1px solid WindowText;
  }
}
