@import '../../../common';

$focusedBorderColor: $ms-color-neutralTertiary;
$selectedColor: $ms-color-themeLighter;
$selectedHoverColor: $ms-color-themeLight;
$unselectedHoverColor: $ms-color-themeLighterAlt;
$selectedHighlightColor: $ms-color-themePrimary;
$groupBorderColor: $ms-color-neutralLight;

.NavBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include user-select(none);
}

.NavBar-groupContent {
  display: none;
  margin-bottom: 40px;
}

.NavBar-group.is-expanded .NavBar-groupContent {
  display: block;
}

.NavBar-groupButton {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  @include text-align(left);
  line-height: 40px;
  margin: 5px 0;
  padding: 0 40px;
  background: none;
  border: none;
  border-bottom: 1px solid $groupBorderColor;
  text-transform: uppercase;

  cursor: default;

  &:focus {
    outline: transparent;
  }

  &:visited {
    color: black;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.NavBar-groupChevron.ms-Icon {
  position: absolute;
  @include left(15px);
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  transition: transform .1s linear;
}

.NavBar-group.is-expanded .NavBar-groupChevron {
  transform: rotate(-180deg);
}

.NavBar-groupButton:hover:before {
  background: $unselectedHoverColor;
}

.NavBar-groupButton:focus {
  outline: transparent;
}

.ms-Fabric.is-focusVisible .NavBar-groupButton:focus:before {
  border: 1px solid $focusedBorderColor;
}

.NavBar-link {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 40px;
  color: black;
  cursor: default;

  &:focus {
    outline: transparent;
  }

  &:visited {
    color: black;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.ms-Fabric.is-focusVisible .NavBar-link:focus:before {
  border: 1px solid $focusedBorderColor;
}

.NavBar-link.is-selected:before,
.ms-Fabric.is-focusVisible .NavBar-link.is-selected:focus:before {
  @include border-left(4px, solid, $selectedHighlightColor);
  background: $selectedColor;
}

.NavBar-link:hover:before {
  background: $unselectedHoverColor;
}

.NavBar-link.is-selected:hover:before {
  background: $selectedHoverColor;
}

.is-selected:before,
.NavBar-link.is-selected:focus:before {
  @include border-left(4px, solid, $selectedHighlightColor);
}

.NavBar-linkFlair {
  font-size: 10px;
  text-transform: uppercase;
  @include float(right);
  background: $ms-color-neutralTertiaryAlt;
  color: $ms-color-white;
  line-height: normal;
  display: inline;
  vertical-align: middle;
  transform: translateY(-50%);
  position: absolute;
  @include right(20px);
  top: 50%;
  padding: 2px 6px;
  border-radius: 2px;
}

.NavBar-linkFlair.is-state1 {
    background: $ms-color-yellowLight;
    color: $ms-color-black;
}
.NavBar-linkFlair.is-state2 {
    background: $ms-color-greenLight;
}
.NavBar-linkFlair.is-state3 {
    background: $ms-color-green;
}