$focusedBorderColor: $ms-color-neutralSecondaryAlt;

$bodyBackgroundColor: $ms-color-white;
$bodyForegroundColor: $ms-color-neutralPrimary;

/* Primary item colors, used for Nav, DetailsList headers, Pivots */
$unselectedBackgroundColor: $bodyBackgroundColor;
$unselectedForegroundColor: $bodyForegroundColor;

$disabledBackgroundColor: $bodyBackgroundColor;
$disabledForegroundColor: $ms-color-neutralTertiaryAlt;

$unselectedHoverBackgroundColor: $ms-color-neutralLighterAlt;
$unselectedHoverForegroundColor: $bodyForegroundColor;

$selectedBackgroundColor: $ms-color-neutralLighter;
$selectedForegroundColor: $ms-color-themeDarkAlt;

$selectedHoverBackgroundColor: $ms-color-neutralLight;
$selectedHoverForegroundColor: $ms-color-themeDarker;

$dividerColor: $ms-color-neutralLight;
