@import '../../common/common';

.ms-Image-container {
  overflow: hidden;
}


.ms-Image {
  opacity: 0;

  &.is-loaded {
    opacity: 1;
  }
}

.ms-Image--center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.ms-Image--cover {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  &.ms-Image--landscape {
    height: 100%;
    width: auto;
  }

  &.ms-Image--portrait {
    width: 100%;
    height: auto;
  }

  /*
  left: 50%;
  top: 50%;
//  height: 100%;
//  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          /*
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    .ms-Image-background {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }*/
}

.ms-Image--scale {
  height: 100%;
  width: 100%;
  /*
    .ms-Image-background {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }*/
}
