@import '../../common/common';

.ms-Image-container {
  overflow: hidden;
}

.ms-Image {
  opacity: 0;

  &.is-loaded {
    opacity: 1;
  }
}

.ms-Image--center,
.ms-Image--cover {
  position: relative;
  @include left(50%);
  top: 50%;
  // transform-translateX mixin is not used here because a transateY is also required.
  @include LTR {
    transform: translate(-50%,-50%);
  }
  @include RTL {
    transform: translate(50%,-50%);
  }
}

.ms-Image--cover {
  &.ms-Image--landscape {
    height: 100%;
    width: auto;
  }

  &.ms-Image--portrait {
    width: 100%;
    height: auto;
  }
}

.ms-Image--none {
  height: auto;
  width: auto;
}

/** This is identical to the default behavior. */
.ms-Image--scale {
  height: 100%;
  width: 100%;
}
