@import '../../../../common/common';

.pickerPersonaContainer {
  @include focus-border();
  display: inline-flex;
  align-items: center;
  background: $ms-color-neutralLighter;
  margin: 1px;
  cursor: default;
  user-select: none;
  max-width: 100%;
  &:hover {
    background: $ms-color-neutralLight;
  }
  &.isSelected {
    background: $ms-color-neutralQuaternary;
    &:hover {
      background: $ms-color-neutralQuaternaryAlt;
    }
  }
  .pickerItemContent {
    flex: 0 1 auto;
    min-width: 0px;
    &:global(.ms-Button) {
      flex: 0 0 auto;
    }
  }
  .personaDetails {
    flex: 0 1 auto;
  }
}

.pickerItemContainer {
  display: inline-block;
}
