@import '../../common';

$focusedBorderColor: $ms-color-neutralTertiary;
$selectedColor: $ms-color-themeLighter;
$selectedHoverColor: $ms-color-themeLight;
$unselectedHoverColor: $ms-color-themeLighterAlt;
$selectedHighlightColor: $ms-color-themePrimary;
$groupBorderColor: $ms-color-neutralLight;

.Nav {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @include user-select(none);
}

.Nav-groupContent {
  display: none;
  margin-bottom: 40px;
}

.Nav-group.is-expanded .Nav-groupContent {
  display: block;
}

.Nav-groupButton {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  @include text-align(left);
  line-height: 40px;
  margin: 5px 0;
  padding: 0 40px;
  background: none;
  border: none;
  border-bottom: 1px solid $groupBorderColor;
  text-transform: uppercase;

  cursor: default;

  &:focus {
    outline: transparent;
  }

  &:visited {
    color: black;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.Nav-groupChevron.ms-Icon {
  position: absolute;
  @include left(15px);
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  transition: transform .1s linear;
}

.Nav-group.is-expanded .Nav-groupChevron {
  transform: rotate(-180deg);
}

.Nav-groupButton:hover:before {
  background: $unselectedHoverColor;
}

.Nav-groupButton:focus {
  outline: transparent;
}

.ms-Fabric.is-focusVisible .Nav-groupButton:focus:before {
  border: 1px solid $focusedBorderColor;
}

.Nav-link {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 40px;
  color: black;
  cursor: default;

  &:focus {
    outline: transparent;
  }

  &:visited {
    color: black;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.ms-Fabric.is-focusVisible .Nav-link:focus:before {
  border: 1px solid $focusedBorderColor;
}

.Nav-link.is-selected:before,
.ms-Fabric.is-focusVisible .Nav-link.is-selected:focus:before {
  @include border-left(4px, solid, $selectedHighlightColor);
  background: $selectedColor;
}

.Nav-link:hover:before {
  background: $unselectedHoverColor;
}

.Nav-link.is-selected:hover:before {
  background: $selectedHoverColor;
}

.is-selected:before,
.Nav-link.is-selected:focus:before {
  @include border-left(4px, solid, $selectedHighlightColor);
}
