@import '../../common/common';

.ms-Nav {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

.ms-Nav.is-onTop {
  position: absolute;
}

.ms-Nav ul {
  list-style-type: none;
}

.ms-Nav ul,
.ms-Nav ul > li {
  padding: 0;
}

.ms-Nav-groupContent {
  display: none;
  margin-bottom: 20px;
}

.ms-Nav-group.is-expanded .ms-Nav-groupContent {
  display: block;
}

.ms-Nav-Icon {
  padding: 0px;
  color: $selectedForegroundColor;
  background: $selectedBackgroundColor;
  transition: transform .1s linear;
}

.ms-Nav-IconLink {
  @include margin-right(4px);
}

.ms-Nav-groupButton {
  display: block;
  @include ms-baseFont;
  width: 100%;
  height: 40px;
  @include text-align(left);
  line-height: 40px;
  margin: 5px 0;
  padding: 0 40px;
  background: none;
  border: none;
  border-bottom: 1px solid $dividerColor;
  text-transform: uppercase;
  cursor: pointer;

  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $unselectedHoverForegroundColor;
    background: $unselectedHoverBackgroundColor;
  }
}

.ms-Nav-groupChevron.ms-Icon {
  position: absolute;
  @include left(15px);
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  transition: transform .1s linear;
}

.ms-Nav-group.is-expanded .ms-Nav-groupChevron {
  transform: rotate(-180deg);
}

.ms-Nav-link {
  display: block;
  position: relative;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  overflow-x: hidden;

  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:hover {
    color: $unselectedHoverForegroundColor;
    background: $unselectedHoverBackgroundColor;
  }

  &.is-selected {
    position: relative;
    color: $selectedForegroundColor;
    background: $selectedBackgroundColor;

    &:hover {
      color: $selectedHoverForegroundColor;
      background: $selectedHoverBackgroundColor;
    }

    &:after {
      @include border-left(2px, solid, $selectedForegroundColor);

      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.ms-Nav-groupButton, .ms-Nav-link {
  @include focus-border();
}
