@import '../../common/common';

.ms-Nav {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

.ms-Nav.is-onTop {
  position: absolute;
}

.ms-Nav ul {
  list-style-type: none;
}

.ms-Nav ul,
.ms-Nav ul > li {
  padding: 0;
}

.ms-Nav li > ul {
  margin: 0 14px;
}

.ms-Nav-groupContent {
  display: none;
  margin-bottom: 20px;
}

.ms-Nav-group.is-expanded .ms-Nav-groupContent {
  display: block;
}

.ms-Nav-Icon {
  padding: 0px;
  color: $selectedForegroundColor;
  background: $selectedBackgroundColor;
  transition: transform .1s linear;
}

.ms-Nav-links {
  display: block;
  position: relative;

  .ms-Nav-chevronButton.ms-Nav-chevronButton--link {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    @include left(0);
    z-index: 1;
    padding: 0;
    margin: 0;

    .ms-Nav-chevron {
      position: relative;
    }

    &:hover {
      background: transparent;
      color: $ms-color-themePrimary;
    }
  }

  &.is-expanded {
    .ms-Nav-chevron {
      transform: rotate(-180deg);
    }
  }
}

.ms-Nav-chevronButton {
  display: block;
  @include ms-baseFont;
  font-size: $ms-font-size-s;

  @include text-align(left);
  line-height: 40px;
  margin: 5px 0;
  padding-top: 0px;
  @include padding-right(40px);
  padding-bottom: 0px;
  @include padding-left(40px);
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $unselectedHoverForegroundColor;
    background: $unselectedHoverBackgroundColor;
  }

  &.ms-Nav-chevronButton--group {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $dividerColor;
  }
}

.ms-Nav-chevron.ms-Icon {
  position: absolute;
  @include left(15px);
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  transition: transform .1s linear;
}

.ms-Nav-group.is-expanded .ms-Nav-chevronButton--group .ms-Nav-chevron {
  transform: rotate(-180deg);
}

.ms-Nav-linkText {
  vertical-align: middle;
}

.ms-Nav-link {
  display: block;
  position: relative;
  padding-top: 10px;
  @include padding-right(10px);
  padding-bottom: 10px;
  @include padding-left(40px);
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
  text-decoration: none;

  color: $unselectedForegroundColor;
  background: $unselectedBackgroundColor;

  &:hover {
    color: $unselectedHoverForegroundColor;
    background: $unselectedHoverBackgroundColor;
  }

  &.is-selected {
    position: relative;
    color: $selectedForegroundColor;
    background: $selectedBackgroundColor;

    &:hover {
      color: $selectedHoverForegroundColor;
      background: $selectedHoverBackgroundColor;
    }

    &:after {
      @include border-left(2px, solid, $selectedForegroundColor);

      content: '';
      position: absolute;
      top: 0;
      @include right(0);
      bottom: 0;
      @include left(0);
    }
  }
}

.ms-Nav-chevronButton,
.ms-Nav-chevronButton--group,
.ms-Nav-chevronButton--link,
.ms-Nav-link {
  @include focus-border();
}

