@import '../../common';

$focusedBorderColor: $ms-color-neutralTertiary;
$selectedColor: $ms-color-themeLighter;
$selectedHoverColor: $ms-color-themeLight;
$unselectedHoverColor: $ms-color-themeLighterAlt;
$selectedHighlightColor: $ms-color-themePrimary;
$groupBorderColor: $ms-color-neutralLight;
$linkTextColor: $ms-color-neutralPrimary;

.ms-Nav {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

.ms-Nav.is-onTop {
  position: absolute;
}

.ms-Nav ul {
  list-style-type: none;
}

.ms-Nav ul,
.ms-Nav ul > li {
  padding: 0;
}

.ms-Nav li > ul {
  margin: 0 14px;
}

.ms-Nav-groupContent {
  display: none;
  margin-bottom: 40px;
}

.ms-Nav-group.is-expanded .ms-Nav-groupContent {
  display: block;
}

.ms-Nav-groupButton {
  display: block;
  width: 100%;
  height: 40px;
  @include text-align(left);
  line-height: 40px;
  margin: 5px 0;
  padding: 0 40px;
  background: none;
  border: none;
  border-bottom: 1px solid $groupBorderColor;
  text-transform: uppercase;
  cursor: pointer;

  &:visited {
    color: inherit;
  }
}

.ms-Nav-groupChevron.ms-Icon {
  position: absolute;
  @include left(15px);
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  transition: transform .1s linear;
}

.ms-Nav-group.is-expanded .ms-Nav-groupChevron {
  transform: rotate(-180deg);
}

.ms-Nav-groupButton:hover {
  background: $unselectedHoverColor;
}

.ms-Nav-link {
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 40px;
  color: $linkTextColor;
  cursor: pointer;

  &:visited {
    color: inherit;
  }

  &:hover {
    background: $unselectedHoverColor;
  }

  &.is-selected {
    background: $selectedColor;

    &:hover {
      background: $selectedHoverColor;
    }
  }
}

.ms-Nav-groupButton, .ms-Nav-link {
  @include focus-border($focusedBorderColor);
}

.ms-Nav-link.is-selected:hover {
  background: $selectedHoverColor;
}

.ms-Nav-link.is-selected:after {
  @include border-left(4px, solid, $selectedHighlightColor);

  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
