@import '~office-ui-fabric-react/src/common/common';

.formDatePicker {

    .inputError {
        @include ms-font-s;
        color: $ms-color-redDark;
        display: flex;
        flex-direction: row;
        align-items: center;

        > i {
            @include ms-margin-right(5px);
            margin-top: auto;
            font-size: 14px; // Fabric TextField's validation icon size
        }
    }
}