@import '../../styles/variables';
@import '../../styles/mixins';

:global {
  // Element that wraps everything except for the header
  .App-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $App-maximumWidth;
  }

  // Nav is hidden off screen by default
  .App-nav {
    -webkit-overflow-scrolling: touch; // Improves scrolling performance
    overflow-y: auto;
    position: fixed;
    top: $Header-height;
    width: $Nav-width;
    @include ms-float(left);
    z-index: 999; // This z-index needs to be high to prevent jittery scrolling in Edge.
  }

  .App-content {
    @include contentPadding();
    background-color: $ms-color-neutralLighter;
    flex-grow: 1;
    left: 0;
    overflow: hidden;
    position: relative;
    transition: all $ms-animation-duration-2 $ms-animation-ease-1;

    @include high-contrast {
      border-right: 1px solid WindowText;
      border-left: 1px solid WindowText;
      border-bottom: 1px solid WindowText;
    }
  }

  // Show the nav at all times, to the left of the content
  @media screen and (min-width: $uhf-screen-min-mobile) {
    .App {
      background-color: $ms-color-neutralDark;
      justify-content: center;
      @include ms-padding-right($App-padding-right-lg);
      @include ms-padding-left($App-padding-left-lg);
    }

    .App-wrapper {
      flex-direction: row;
    }

    .App-nav {
      top: $Header-height*2;
      bottom: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .App-content {
      flex-grow: unset;
      max-width: calc(100% - #{$Nav-width}); // IE needs max-width, it was ignoring width
      width: calc(100% - #{$Nav-width});
      @include ms-left($Nav-width);
    }
  }

  @media only screen and (max-width: $uhf-screen-max-lg) and (min-width: $uhf-screen-min-mobile) {
    .App {
      @include ms-padding-right($App-padding-right-sm);
      @include ms-padding-left($App-padding-left-sm);
    }

    .App-nav {
      @include ms-margin-left(18px);
    }

    .App-content {
      width: calc(100% - #{$Nav-width});
      @include ms-left($Nav-width + 18px);
    }
  }
}

@media only screen and (max-width: $uhf-screen-min-mobile) {
  .App {
    padding: 0;
  }
}