@import '../../styles/variables';
@import '../../styles/mixins';

:global {
  .App {
    background-color: $ms-color-neutralDark;
    justify-content: center;
  }

  // Element that wraps everything except for the header
  .App-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $App-maximumWidth;
  }

  .App-mobileNavBar {
    @include contentPadding(0, 0);
    background: $ms-color-neutralDark;
    color: $ms-color-white;
    display: flex;
    height: $App-mobileNavBarHeight;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 600;

    .menuButton {
      color: $ms-color-white;
      font-size: $font-size-big;
      font-weight: $ms-font-weight-regular;
      height: $App-mobileNavBarHeight;
      line-height: $App-mobileNavBarHeight;
      @include ms-margin-right(12px);
      padding: 0;

      &:focus {
        outline: 0;
      }
    }

    .siteTitle {
      font-size: $font-size-big;
      font-weight: $ms-font-weight-light;
      line-height: $App-mobileNavBarHeight - 2;
    }
  }

  // Nav is hidden off screen by default
  .App-nav {
    -webkit-overflow-scrolling: touch; // Improves scrolling performance
    bottom: 0;
    @include ms-left(-$Nav-width);
    overflow-y: auto;
    position: fixed;
    top: $Header-height + $App-mobileNavBarHeight;
    transition: $ms-animation-duration-2 $ms-animation-ease-1;
    @include ms-transition-property(left);
    width: $Nav-width;
  }

  .App-content {
    @include contentPadding();
    background-color: $ms-color-neutralLighter;
    flex-grow: 1;
    left: 0;
    margin-top: $App-mobileNavBarHeight; // Move it down below the mobile nav bar
    overflow: hidden;
    position: relative;
    transition: all $ms-animation-duration-2 $ms-animation-ease-1;

    @include high-contrast {
      border-right: 1px solid $ms-color-white;
      border-left: 1px solid $ms-color-white;
      border-bottom: 1px solid $ms-color-white;
    }

    @include high-contrast-black-on-white  {
      border-right: 1px solid $ms-color-black;
      border-left: 1px solid $ms-color-black;
      border-bottom: 1px solid $ms-color-black;
    }

  }

  // Overlay to dim content and dismiss the mobile nav (hidden by default)
  .App-mobileNavOverlay {
    display: none;
  }

  // When the nav is open (smaller screens only) push the content over and prevent app from scrolling
  @media screen and (max-width: $ms-screen-max-lg) {
    .App.is-navOpen {
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;

      .App-mobileNavBar {
        @include ms-padding-left(36px); // Align to menu items
      }

      .App-mobileNavOverlay {
        background: transparent;
        bottom: 0;
        display: block;
        position: absolute;
        @include ms-left($Nav-width);
        @include ms-right(0);
        top: 0;
        z-index: 1;
      }

      .App-nav {
        @include ms-left(0);
      }

      .App-content {
        @include ms-left($Nav-width);
        opacity: 0.5; // Dim the content
      }
    }
  }

  // Show the nav at all times, to the left of the content
  @media screen and (min-width: $ms-screen-min-xl) {
    .App-wrapper {
      flex-direction: row;
    }

    .App-mobileNavBar {
      display: none;
    }

    .App-nav {
      @include ms-left(auto);
      top: auto; // Mobile nav bar is no longer there
      position: relative;
      overflow-y: visible
    }

    .App-content {
      margin-top: 0; // Mobile nav bar is no longer there
      flex-grow: unset;
      width: calc(100% - #{$Nav-width});
    }

    // Reset values for the nav and content if opened on larger screens
    .App.is-navOpen {
      .App-nav {
        @include ms-left(auto);
      }

      .App-content {
        @include ms-left(auto);
      }
    }
  }

}
