@import '../../common/common';

$groupHeader-ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$groupHeader-ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$groupHeader-ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);

.ms-GroupHeader {
  cursor: default;
  user-select: none;
  @include focus-border();

  &:hover {
    background: $ms-color-themeLighterAlt;
  }
  &.is-selected {
    background: $ms-color-themeLighter;
  }
  &.is-selected:hover {
    background: $ms-color-themeLight;
  }
}

.ms-GroupHeader-check,
.ms-GroupHeader-expand {
  @include focus-border();

  display: inline-block;
  cursor: default;
  padding: 8px;
  transform: translateY(50%);
  margin-top: -12px;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  border: none;
  font-size: $ms-font-size-xs;
}

.ms-GroupHeader-check {
  opacity: 0;
  margin-top: -10px;

  &:focus {
    opacity: 1;
  }
}

.ms-GroupHeader:hover .ms-GroupHeader-check,
.ms-GroupHeader.is-selected .ms-GroupHeader-check {
  opacity: 1;
}

.ms-GroupHeader-title {
  padding: 14px 6px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
}

.ms-GroupHeader-expand {
  width: 36px;
  height: 40px;
  color: $ms-color-neutralSecondary;

  .ms-Icon {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
    transition: transform .1s linear;

    &.is-collapsed {
      transform: rotate(0deg);
    }
  }
}

.ms-GroupHeader-loading {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  padding: 0px 16px;
  vertical-align: middle;
  transition: visibility $ms-duration3, opacity $ms-duration3;

  &.is-loading {
    visibility: visible;
    opacity: 1;
  }
}

.ms-GroupHeader-dropIcon {
  display: inline-block;
  position: relative;
  top: -16px;
  left: -26px;
  font-size: $ms-font-size-xl;
  color: $ms-color-neutralSecondaryAlt;
  transition: transform $ms-duration2 $groupHeader-ease-in-back, opacity $ms-duration4 $groupHeader-ease-out-sine;
  opacity: 0;
  transform: rotate(0.2deg) scale(0.65); // rotation prevents jittery motion in IE
  transform-origin: 10px 10px;

  .ms-Icon--Tag {
    position: absolute;
  }
}

.ms-GroupedList-group.is-dropping {

   > .ms-GroupHeader .ms-GroupHeader-dropIcon {
      transition: transform $ms-duration4 $groupHeader-ease-out-circ, opacity $ms-duration1 $groupHeader-ease-out-sine;
      transition-delay: $ms-duration3;
      opacity: 1;
      transform: rotate(0.2deg) scale(1); // rotation prevents jittery motion in IE
    }

    .ms-GroupHeader-check {
      opacity: 0;
    }
}
