@import '../../common/common';

.root {
  position: relative;
  width: auto;
}

.clear {
  clear: both;
}

.itemButton {
  @include focus-outline();
  position: relative;
  text-align: center;
  @include float(left);
  padding: 0;
  @include margin-right(4px);
  margin-bottom: 4px;
  border-radius: 50%;
  vertical-align: top;

  :global(.ms-Persona-details) {
    flex: 1 0 auto;
  }
}

button.itemButton {
  display: inline;
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
}

button.addButton {
  font-size: $ms-font-size-m;
  color: $ms-color-white;
  background-color: $ms-color-themePrimary;

  &:hover, &:focus {
    background-color: $ms-color-themeDark;
  }

  &:active {
    background-color: $ms-color-themeDarker;
  }

  &:disabled {
    background-color: $ms-color-neutralTertiaryAlt;
  }
}

button.overflowButton {
  font-size: $ms-font-size-m;
  color: $ms-color-neutralSecondary;
  background-color: $ms-color-neutralLight;
}

button.descriptiveOverflowButton {
  font-size: $ms-font-size-s;
  color: $ms-color-neutralSecondary;
  background-color: $ms-color-neutralLight;
}
