.root {
  font-size: var(--fluent-font-medium);
  font-family: var(--fluent-font-family);
  position: relative;
  color: var(--fluent-color-link);
  white-space: nowrap;
}

.link {
  font-size: var(--fluent-font-medium);
  font-family: var(--fluent-font-family);
  color: var(--fluent-color-action-link);
  display: inline-block;
  line-height: 44px;
  height: 44px;
  margin-right: 8px;
  padding: 0 8px;
  text-align: center;
  position: relative;
  background-color: transparent;
  border: 0;
  border-radius: 0;

  &:before {
    background-color: transparent;
    bottom: 0;
    content: '';
    height: 2px;
    left: 8px;
    position: absolute;
    right: 8px;
    transition: left var(--fluent-animation-duration-2) var(--fluent-animation-value-2) 0s,
      right var(--fluent-animation-duration-2) var(--fluent-animation-value-2) 0s;
  }

  &:after {
    color: transparent;
    content: attr(data-content);
    display: block;
    font-weight: var(--fluent-font-weight-bold);
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }

  &:hover {
    background-color: var(--fluent-color-button-background-hovered);
    color: var(--fluent-color-button-text-hovered);
    cursor: pointer;
  }

  &:active {
    background-color: var(--fluent-color-button-background-pressed);
    color: var(--fluent-color-button-text-hovered);
  }

  &:focus {
    outline: none;
  }

  .fluentGlobalFocus &:focus {
    outline: 1px solid var(--fluent-color-focus-border);
  }

  .fluentGlobalFocus &:focus:after {
    content: attr(data-content);
    position: relative;
    border: 0;
  }
}

.link.selected {
  font-weight: var(--fluent-font-weight-semibold);
  &:before {
    background-color: var(--fluent-color-input-background-checked);
  }

  &:hover::before {
    left: 0;
    right: 0;
  }
}

.linkContent {
  flex: 0 1 100%;
  & > * {
    margin-left: 4px;
  }
  & > *:first-child {
    margin-left: 0;
  }

  .text {
    display: inline-block;
    vertical-align: top;
  }

  .count {
    display: inline-block;
    vertical-align: top;
  }
}
