@import '../../common/common';

.ms-Slider {

  > .ms-Label {
    padding: 0;
  }

  user-select: none;
  margin-bottom: 8px;
}

.ms-Slider-line {
  position: relative;
  width: 100%;
}

.ms-Slider-line span {
  height: 4px;
  @include float(left);
  border-radius: 4px;
}

.ms-Slider-active {
  background: $ms-color-neutralSecondary;
}

.ms-Slider-inactive {
  background: $ms-color-neutralTertiaryAlt;
}

.ms-Slider-showTransitions {
  .ms-Slider-thumb {
    transition: left $ms-duration3 $ms-ease1;
  }

  .ms-Slider-active,
  .ms-Slider-inactive {
    transition: width $ms-duration3 $ms-ease1;
  }
}
.ms-Slider-slideBox {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.ms-Slider-slideBox .ms-Slider-thumb {
  border: 2px solid $ms-color-neutralSecondary;
  background: $ms-color-white;
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  border-radius: 10px;
  @include transform-translateX(-50%);
}

.ms-Slider-container {
  display: flex;

  .ms-Slider-slideBox {
    flex-grow: 1;
    height: 28px;
    line-height: 28px;
    @include focus-border();
    padding: 0 8px; // Make room for thumb at ends of line
  }

  .ms-Label {
    flex-shrink: 1;
    width: 30px;
    @include margin-left(8px);
  }
}

.ms-Slider-enabled {

  .ms-Slider-slideBox:hover,
  .ms-Slider-slideBox:active {

    .ms-Slider-thumb {
      border: 2px solid $ms-color-themePrimary;
    }

    .ms-Slider-active {
      background-color: $ms-color-themePrimary;
    }

    .ms-Slider-inactive {
      background-color: $ms-color-themeLight;
    }

  }

  .ms-Slider-slideBox:active {
    .ms-Slider-thumb {
      border: 2px solid $ms-color-themeDarkAlt;
    }
    .ms-Slider-active {
      background-color: $ms-color-themeDarkAlt;
    }
  }
}

.ms-Slider-disabled {
  .ms-Slider-thumb {
    border-color: $ms-color-neutralTertiaryAlt;
  }
  .ms-Slider-active {
    background: $ms-color-neutralTertiaryAlt;
  }
  .ms-Slider-inactive {
    background: $ms-color-neutralLight;
  }
}