name: Triage Bot
on:
  issues:
    types:
      - opened

jobs:
  triage-issue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/github-script@v6
        with:
          script: |
            const config = require('./.github/triage-bot.config.json');
            const run = require('./scripts/triage-bot');
            await run({github,context,core,config});
