name: CI
on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  # see https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NX_PARALLEL: 6 # ubuntu-latest = 4-core CPU / 16 GB of RAM | macos-14-xlarge (arm) = 6-core CPU / 14 GB of RAM
  NX_PREFER_TS_NODE: true
  NX_VERBOSE_LOGGING: true

  BROWSERSLIST_IGNORE_OLD_DATA: true

  DEPLOY_HOST: fluentuipr.z22.web.core.windows.net
  DEPLOY_URL: https://fluentuipr.z22.web.core.windows.net/${{ github.event.pull_request.number || github.ref_name }}
  DEPLOY_BASE_PATH: ${{ github.event.pull_request.number != '' && format('pull/{0}', github.event.pull_request.number) || format('heads/{0}', github.ref_name) }}

jobs:
  main:
    if: ${{ github.repository_owner == 'microsoft' }}
    runs-on: macos-14-xlarge
    permissions:
      contents: 'read'
      actions: 'read'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@826660b82addbef3abff5fa871492ebad618c9e1 # v4.3.3
        with:
          main-branch-name: 'master'

      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version: '22'

      - run: echo number of CPUs "$(getconf _NPROCESSORS_ONLN)"

      - run: yarn install --frozen-lockfile

      - name: Workspace lint
        run: |
          yarn nx run workspace-plugin:check-graph
          yarn nx g @fluentui/workspace-plugin:tsconfig-base-all --verify
          yarn nx g @fluentui/workspace-plugin:normalize-package-dependencies --verify

      - name: Type-check just.config.ts files
        run: |
          # following packages need to be build in advance:
          # @fluentui/api-docs is used within apps/public-docsite-resources/just.config.ts,
          # @fluentui/digest is used within packages/fluentui/perf-test-northstar/just.config.ts, thus it needs to be build in advance
          #
          # NOTE: we are running this via nx in order to get cache hits later on
          yarn nx run-many -t build -p api-docs digest
          yarn tsc -p ./tsconfig.just-scripts-configs.json

      - name: 'check packages: installed dependencies versions'
        run: |
          yarn check:installed-dependencies-versions

      - name: check formatting
        run: |
          yarn nx format:check --base origin/master

      - name: build, test, lint, test-ssr (affected)
        run: |
          FLUENT_JEST_WORKER=2 yarn nx affected -t build test lint type-check test-ssr test-integration verify-packaging --nxBail

      - name: 'Check for unstaged changes'
        run: |
          git status --porcelain
          git diff-index --quiet HEAD -- || exit 1

  react-major-versions-integration:
    if: ${{ github.repository_owner == 'microsoft' }}
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@826660b82addbef3abff5fa871492ebad618c9e1 # v4.3.3
        with:
          main-branch-name: 'master'

      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version: '22'

      - run: echo number of CPUs "$(getconf _NPROCESSORS_ONLN)"

      - run: |
          yarn install --frozen-lockfile
          yarn rit --react 17 --install-deps
          yarn rit --react 18 --install-deps

      - name: Verify Cypress installs from RIT temp workspaces (React 17 -> v13, React 18 -> v14)
        run: |
          "$GITHUB_WORKSPACE"/tmp/rit/react-17/node_modules/.bin/cypress verify
          "$GITHUB_WORKSPACE"/tmp/rit/react-18/node_modules/.bin/cypress verify

      - name: React Versions Integration Tests (17,18) - E2E
        id: e2e
        run: |
          yarn nx affected -t test-rit--17--e2e,test-rit--18--e2e --exclude='react-19-tests-v9,react-charting,react'

      - name: Upload Cypress screenshots if exist
        uses: actions/upload-artifact@v6
        if: always() && steps.e2e.outcome == 'failure'
        with:
          name: cypress-screenshots-react-test-rit
          path: |
            tmp/rit/**/cypress/screenshots/**/*.png
          retention-days: 1

      - name: React Versions Integration Tests (17,18) - Type-check & Test
        run: |
          FLUENT_JEST_WORKER=2 yarn nx affected -t test-rit--17--type-check,test-rit--18--type-check,test-rit--17--test,test-rit--18--test --exclude='react-19-tests-v9'

  e2e:
    if: ${{ github.repository_owner == 'microsoft' }}
    # TODO: switch to macos once problematic tests are fixed
    # https://github.com/microsoft/fluentui/issues/33173
    # https://github.com/microsoft/fluentui/issues/33172
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      actions: 'read'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@826660b82addbef3abff5fa871492ebad618c9e1 # v4.3.3
        with:
          main-branch-name: 'master'

      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version: '22'

      - run: echo number of CPUs "$(getconf _NPROCESSORS_ONLN)"

      - run: yarn install --frozen-lockfile

      - name: Install Playwright dependencies
        run: yarn playwright install --with-deps

      - name: Verify Cypress install
        run: yarn cypress verify

      - name: Cypress/Playwright E2E tests
        run: yarn nx affected -t e2e --nxBail --parallel 1

      - name: Upload Cypress screenshots if exist
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-screenshots
          path: |
            apps/*/cypress/screenshots/**/*.png
            packages/**/cypress/screenshots/**/*.png
          retention-days: 1
