@import '../../common/common';
@import "~office-ui-fabric/src/components/ChoiceField/ChoiceField";

.ms-ChoiceField--image {
  $fieldMinWidth: 164px;
  $fieldPadding: 20px;

  display: inline-block;

  font-size: 0;

  @include ms-bgColor-neutralLighter;

  .ms-ChoiceField-field--image {
    display: inline-block;
    box-sizing: border-box;
    min-width: $fieldMinWidth;
    padding: $fieldPadding $fieldPadding 12px $fieldPadding;

    cursor: pointer;

    text-align: center;

    transition: all 300ms ease;

    .ms-ChoiceField-imageWrapper {
      display: inline-block;
      background-size: 100% 100%;

      transition: all 300ms ease;
    }

    .ms-Label {
      line-height: $ms-font-size-s;
      padding: 10px 0 0 0;

      @include ms-fontWeight-semibold;
      @include ms-fontColor-neutralPrimary;
    }
  }

  .ms-ChoiceField-input:checked+.ms-ChoiceField-field--image {
    @include ms-bgColor-themeLight;
  }

  &+& {
    @include margin-left(6px);
  }
}

.is-focusVisible .ms-ChoiceField-input:focus+.ms-ChoiceField-field--image:before {
  content: '';

  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;

  border: 1px solid $ms-color-neutralSecondaryAlt;
}
